/* .dataTable-wrapper.no-header .dataTable-container {
	border-top: 1px solid #d9d9d9;
}

.dataTable-wrapper.no-footer .dataTable-container {
	border-bottom: 1px solid #d9d9d9;
}

.dataTable-top,
.dataTable-bottom {
	padding: 8px 10px;
}

.dataTable-top > nav:first-child,
.dataTable-top > div:first-child,
.dataTable-bottom > nav:first-child,
.dataTable-bottom > div:first-child {
	float: left;
}

.dataTable-top > nav:last-child,
.dataTable-top > div:last-child,
.dataTable-bottom > nav:last-child,
.dataTable-bottom > div:last-child {
	float: right;
}

.dataTable-selector {
	padding: 6px;
}

.dataTable-input {
	padding: 6px 12px;
}

.dataTable-info {
	margin: 7px 0;
}

/* PAGER */
.dataTable-pagination ul {
	margin: 0;
	padding-left: 0;
}

.dataTable-pagination li {
	list-style: none;
	float: left;
}

.dataTable-pagination a {
	border: 1px solid transparent;
	float: left;
	margin-left: 2px;
	padding: 6px 12px;
	position: relative;
	text-decoration: none;
	color: #333;
}

.dataTable-pagination a:hover {
	background-color: #d9d9d9;
}

.dataTable-pagination .active a,
.dataTable-pagination .active a:focus,
.dataTable-pagination .active a:hover {
	background-color: #d9d9d9;
	cursor: default;
}

.dataTable-pagination .ellipsis a,
.dataTable-pagination .disabled a,
.dataTable-pagination .disabled a:focus,
.dataTable-pagination .disabled a:hover {
	cursor: not-allowed;
}

.dataTable-pagination .disabled a,
.dataTable-pagination .disabled a:focus,
.dataTable-pagination .disabled a:hover {
	cursor: not-allowed;
	opacity: 0.4;
}

.dataTable-pagination .pager a {
	font-weight: bold;
}

/* TABLE */
.dataTable-table {
	max-width: 100%;
	width: 100%;
	border-spacing: 0;
	border-collapse: separate;
}

.dataTable-table > tbody > tr > td,
.dataTable-table > tbody > tr > th,
.dataTable-table > tfoot > tr > td,
.dataTable-table > tfoot > tr > th,
.dataTable-table > thead > tr > td,
.dataTable-table > thead > tr > th {
	vertical-align: top;
	padding: 8px 10px;
}

.dataTable-table > thead > tr > th {
	vertical-align: bottom;
	text-align: left;
	border-bottom: 1px solid #d9d9d9;
}

.dataTable-table > tfoot > tr > th {
	vertical-align: bottom;
	text-align: left;
	border-top: 1px solid #d9d9d9;
}

.dataTable-table th {
	vertical-align: bottom;
	text-align: left;
}

.dataTable-table th a {
	text-decoration: none;
	color: inherit;
}

.dataTable-sorter {
	display: inline-block;
	height: 100%;
	position: relative;
	width: 100%;
}

.dataTable-sorter::before,
.dataTable-sorter::after {
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	right: 4px;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	opacity: 0.2;
}

.dataTable-sorter::before {
	border-top: 4px solid #000;
	bottom: 0px;
}

.dataTable-sorter::after {
	border-bottom: 4px solid #000;
	border-top: 4px solid transparent;
	top: 0px;
}

.asc .dataTable-sorter::after,
.desc .dataTable-sorter::before {
	opacity: 0.6;
}

.dataTables-empty {
	text-align: center;
}

.dataTable-top::after, .dataTable-bottom::after {
	clear: both;
	content: " ";
	display: table;
} */


/*Start css by akash saxena */
.cus_dash h3 {
    font-size: 18px;
    font-weight: 400;
    margin-top: 5px;
    text-transform: uppercase;
}



.sb-sidenav-menu {
    background-color: #004a5a !important;
}

.cus_card {
    box-shadow: 2px 2px 2px #ccc;
}

.sb-topnav.navbar-dark #sidebarToggle {
    color: rgb(0 0 0 / 50%) !important; 
}

.sb-sidenav-menu {
    background-color: #ffffff !important;
}

.sb-sidenav .sb-sidenav-menu .nav .nav-link {
    display: flex;
    align-items: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    position: relative;
 
}
svg:not(:root).svg-inline--fa {
    overflow: visible;
    color: #000000;
}

.cus_card {
    box-shadow: 0px 4px 5px #ccc;
}

.cus_head {
    background-color: #43b2f8;
    margin-left: -12px;
    margin-right: -12px;
    padding-top: 9px;
}

.cus_head h5 {
    color: #000000;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
}

svg.svg-inline--fa.fa-eye.fa-w-18.mx-2 {
    color: #035080 !important;
}
span.fw-bolder {
    color: #2372bb;
}

.bg-darkk {
    background-color: #10b2ff !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(0 0 0 / 55%) !important;
}

.cus-hed {
    padding: 1.75rem 1rem 0.75rem;
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #85909f !important;
}

p.text-center.cus_circle {
    border: 1px solid #ccc;
    width: 12%;
    border-radius: 16px;
    box-shadow: 0px 0px 2px 2px #ccc;
    float: right;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #0d6efd !important;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link.active {
    color: #000 !important;
    background-color: #43b2f8;
}

.card.m-3.cus_card:hover {
    box-shadow: 0px 0px 4px 2px #ccc;
}
/*End*/
/*task management Css*/
/* When the input field gets focus, change its width to 100% */

.header_user input[type=text]:focus {
  width: 100%;
}

.header_user input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.header_user ul li {
    display: inline-block !important;
}
.header_user ul li img {
    width: 13%;
}

.header_user ul li img {
    width: 37px;
    margin-right: -13px;
}

div.photo-container {
    max-width: 25em;
    height: auto;
    position: relative;
    margin: 1.563em auto;
}

div.photo-container a {
    text-decoration: none;
    margin-right: 10px;
    color: #fff;
    cursor: default;
    font-weight: normal;
}

div.photo-container a span {
    visibility: hidden;
    position: absolute;
    left: -1.3em;
    top: 3em;
    background: #000;
    width: 10em;
    border: 1px solid #404040;
    font-size: 0.8em;
    padding: 0.3em;
    cursor: default;
    line-height: 1.4;
	border-radius: 7px;
	text-align:center;
	    z-index: 999;
}

div.photo-container a:hover span {
    visibility: visible;
}

li.cus_isd {
    margin-left: 26px;
}

li.cus_isd i {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 16px;
    color: #43b2f8;
}

li.cus_isd a:hover {
    background-color: #453f3f;
    border-radius: 16px;
    box-shadow: 0px 0px 4px 4px #ccc;
}



/* 7.2. TODO PANEL */
.todo--panel .list-group {
    position: relative;
    max-height: 314px;
    margin-bottom: 0;
    padding-top: 23px;
    padding-bottom: 25px;
    overflow: auto;
    z-index: 0;
}

.todo--panel .list-group:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    border-top: 1px solid #eee;
}

.todo--panel .list-group-item {
    margin-top: 27px;
    padding: 0;
    border-width: 0;
}

li.list-group-item:first-child {
    margin-top: 0;
}

.todo--label {
    padding-left: 20px;
    padding-right: 30px;
    color: #696969;
    font-weight: 400;
}

.todo--input {
    display: none;
}

.todo--text {
    display: block;
    position: relative;
    padding-left: 39px;
    -webkit-transition: color .25s;
    transition: color .25s;
    cursor: pointer;
    z-index: 0;
}

.todo--text:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.todo--text:after {
    content: "\f00c";
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    color: #fff;
    background-color: #009378;
    border-radius: 2px;
    font-family: "Font Awesome\ 5 Free";
    font-size: 11px;
    line-height: 21px;
    font-weight: 700;
    text-align: center;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
    -webkit-transition: opacity .25s linear, -webkit-transform .25s linear;
    transition: opacity .25s linear, -webkit-transform .25s linear;
    transition: opacity .25s linear, transform .25s linear;
    transition: opacity .25s linear, transform .25s linear, -webkit-transform .25s linear;
}

.todo--input:checked + .todo--text {
    color: #999;
    text-decoration: line-through;
}

.todo--input:checked + .todo--text:after {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: scale(1);
            transform: scale(1);
}

.todo--remove {
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -15px;
    color: #999;
    font-size: 18px;
    line-height: 28px;
}

.todo--panel .input-group {
    border-top: 1px solid #eee;
}

.todo--panel .form-control {
    height: auto;
    padding: 13px 20px 14px;
    border-width: 0;
}

.todo--panel .btn-link {
    padding: 12px 16px;
    color: #ccc;
    font-size: 28px;
    border-width: 0;
}

.todo--panel .ps__rail-x,
.todo--panel .ps__rail-y {
    z-index: 1;
}

.todo--extras .fa {
    margin-left: 15px;
    font-size: 16px;
    line-height: 22px;
}

.todo--date {
    margin-left: 15px;
    white-space: nowrap;
}

.todo--actions {
    margin-left: 10px;
    padding-left: 10px;
}

.todo--actions > .fa {
    cursor: pointer;
}

.todo--filter {
    padding-left: 20px;
    font-size: 20px;
    line-height: 30px;
}


/* 5.21. PANEL */
.panel {
    margin-bottom: 30px;
    color: #696969;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .08);
	    height: 400px;
}

.panel-heading {
    color: #393939;
    padding: 10px 20px;
    border-width: 0;
    border-radius: 0;
}

.panel-heading:before,
.panel-heading:after {
    content: " ";
    display: table;
}

.panel-heading:after {
    clear: both;
}

.panel-title {
    float: left;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.panel-title select {
    border-width: 0;
    background-color: transparent;
    text-transform: uppercase;
}

.panel-title select option {
    text-transform: capitalize;
}

.panel-title .select2 {
    display: block;
    min-width: 200px;
}

.panel-title .select2-selection {
    height: auto;
    padding: 0;
    background-color: transparent;
    border-width: 0;
    border-radius: 0;
    overflow: hidden;
    white-space: nowrap;
}

.no-outlines .panel-title .select2-selection {
    outline: 0;
}

.panel-title .select2-selection .select2-selection__rendered {
    float: left;
    margin-right: 8px;
    padding: 0;
    line-height: inherit;
}

.panel-title .select2-selection .select2-selection__arrow {
    float: left;
    display: block;
    position: relative;
    top: auto;
    right: auto;
    width: auto;
    height: auto;
}

.panel-title .select2-selection .select2-selection__arrow:before {
    content: "\f107";
    font-family: "Font Awesome\ 5 Free";
    font-weight: 700;
}

.panel-title .select2-container--open .select2-selection__arrow:before {
    content: "\f106";
}

.panel-title .select2-selection .select2-selection__arrow b {
    display: none;
}

.panel-heading .dropdown {
    float: right;
}

.panel-heading .dropdown .dropdown-toggle {
    margin: -10px -20px;
    padding: 10px 20px;
    color: #999;
    border-width: 0;
    font-size: 14px;
    line-height: 30px;
    cursor: pointer;
}

.panel-heading .dropdown .dropdown-toggle:after {
    display: none;
}

.panel-heading .dropdown-menu {
    top: 30px !important;
    left: auto !important;
    right: -20px;
    margin: 0;
    padding: 10px 0;
    border-width: 0;
    border-radius: 4px 0 0 4px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .08);
    -webkit-transform: none !important;
            transform: none !important;
    z-index: 1001;
}

.panel-heading .dropdown-menu a {
    padding: 5px 15px;
    color: #999;
    font-size: 13px;
    line-height: 23px;
	text-decoration: none !important;
}

.panel-heading .dropdown-menu a:hover {
    color: #e16123;
}

.panel-heading .dropdown-menu i {
    min-width: 15px;
    margin-right: 6px;
    font-size: 11px;
    text-align: center;
}

.panel-subtitle {
    margin: 20px 0;
}

.panel-subtitle:first-child {
    margin-top: 0;
}

.panel-subtitle .h5 {
    color: #999;
    font-weight: 600;
}

.panel-subtitle .h5 small {
    color: #777;
}

.panel-body {
    padding: 20px;
}

.panel-content {
    position: relative;
    padding: 31px 20px 33px;
    border-top: 1px solid #eee;
    border-radius: 0 0 4px 4px;
}

.panel-about table {
    width: 100%;
    word-break: break-word;
}

.panel-about table tr + tr th,
.panel-about table tr + tr td {
    padding-top: 8px;
}

.panel-about table th {
    min-width: 120px;
    color: #2bb3c0;
    font-weight: 400;
    vertical-align: top;
}

.panel-about table th > i {
    min-width: 14px;
    margin-right: 8px;
    text-align: center;
}

.panel-social {
    position: relative;
    padding: 0 20px 33px;
    border-radius: 0 0 4px 4px;
    z-index: 0;
}

.panel-heading + .panel-social {
    padding-top: 21px;
    border-top: 1px solid #eee;
}

.panel-social > .nav {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
            justify-content: center;
}

.panel-social > .nav > li:not(:last-child) {
    margin-right: 20px;
}

.panel-social > .nav > li > a {
    color: #ccc;
}

.panel-social > .nav > li > a:hover {
    color: #393939;
}

.panel-activity__status > .form-control {
    min-height: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.panel-activity__status > .form-control:not(:focus) {
    border-color: #ccc;
}

.panel-activity__status > .actions {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    padding: 10px 20px;
    background-color: #ebebea;
    border-style: solid;
    border-width: 0 1px 1px;
    border-color: #ccc;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.panel-activity__status > .actions > .btn-group {
    -ms-flex: 1;
        -webkit-box-flex: 1;
            flex: 1;
    font-size: 16px;
}

.panel-activity__status > .actions > .btn-group > .btn-link {
    padding-left: 0;
    padding-right: 0;
    color: #9c9c9c;
}

.panel-activity__status > .actions > .btn-group > .btn-link:hover {
    color: #393939;
}

.panel-activity__status > .actions > .btn-group > .btn-link:not(:last-child) {
    margin-right: 25px;
}

.panel-activity__list {
    position: relative;
    margin: 60px 0 0;
    padding: 0;
    list-style: none;
    z-index: 0;
}
.panel-activity__list:before {
    content: " ";
    display: none;
    position: absolute;
    top: 20px;
    left: 35px;
    bottom: 0;
    border-left: 2px solid #ebebea;
}
.panel-activity__list > li {
    position: relative;
    z-index: 0;
}
.panel-activity__list > li + li {
    margin-top: 51px;
}

.activity__list__icon {
    display: none;
    position: absolute;
    top: 2px;
    left: 0;
    min-width: 30px;
    color: #fff;
    background-color: #2bb3c0;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
}
.activity__list__header {
    position: relative;
    min-height: 35px;
    padding-top: 4px;
    padding-left: 45px;
    color: #999;
    z-index: 0;
}
.activity__list__header img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 35px;
    border-radius: 50%;
}
.activity__list__header p {
    display: inline-block;
    vertical-align: middle;
}
.activity__list__header a {
    color: #222;
    font-weight: 600;
}
.activity__list__body {
    padding-top: 13px;
    padding-left: 43px;
}
.activity__list__footer {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    margin-top: 23px;
    margin-left: 43px;
    padding: 13px 8px 0;
    color: #999;
    border-top: 1px dotted #ccc;
}
.activity__list__footer a {
    color: inherit;
}
.activity__list__footer a:hover {
    color: #222;
}
.activity__list__footer a + a {
    margin-left: 15px;
}
.activity__list__footer i {
    margin-right: 8px;
}
.activity__list__footer span {
    margin-left: auto;
}

@media (min-width: 768px) {
    .panel-activity__list {
        padding-left: 20px;
    }

    .panel-activity__list:before {
        display: block;
    }

    .panel-activity__list > li {
        padding-left: 50px;
    }

    .activity__list__icon {
        display: block;
    }
}
.create_issue a{
    text-decoration: none;
}

/* .create_issue:hover{
    background-color: darkgrey;
    width: 100%;
} */
.test_row {
    width: 100%;
    display: flex;
    overflow: scroll;
    flex-flow: row;
    flex-wrap: nowrap;
}
/*End*/
