{% extends "new/layout.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <p class="display-2 fw-bolder mt-3 text-center">Un Authorized 401</p>
    </div>
{% endblock %}