{% extends "new/layout.html" %}
{% load static %}
{% load new_template_tags %}
{% block content %}
<main>
    <div class="container px-4 ">
       <h3 class="mt-4 cus_page_head">Dashboard</h3>
        <!--Card Design for PM/TL/SA  -->
        {% if request.user.email|get_custom_role:request.user.email_id == 'project_manager' or request.user.email|get_custom_role:request.user.email_id == 'solution_architect' or request.user.email|get_custom_role:request.user.email_id == 'frontend_team_lead' or request.user.email|get_custom_role:request.user.email_id == 'backend_team_lead' or request.user.email|get_custom_role:request.user.email_id == 'business_analyst' and request.user.is_authenticated %}
        <div class="row">
            <div class="col-md-4">
            <div class="cardings">
              <div class="carding card-1">
                <div class="card__icon"><i class="fas fa-users text-dark text-center"></i></div>
                <h2 class="card__title">Total Members</h2><hr>
                <p class="card__apply">
                  <a class="card__link" href="#">Total Members:  {{ total_members }}</a>
                  <table class="table text-light">
                    <thead>
                      <tr>
                        <th scope="col">Project</th>
                        <th scope="col">Resource</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{% for project in project_name %}
                                    <p>{{project}}</p>
                                {% endfor %}</td>
                            <td>{% for x in proj_res_count %}
                                    <p>{{x}}</p>
                                {% endfor %}
                            </td>
                        </tr>
                    </tbody>
                  </table>
                </p>
              </div>
          </div>
        </div>
        <div class="col-md-4">
            <div class="cardings">
              <div class="carding card-1">
                <div class="card__icon"><i class="fas fa-clipboard text-dark"></i></div>
                <h2 class="card__title">Present Members</h2><hr>
                <p class="card__apply">
                  <a class="card__link" href="#">Total Present Members : {{ members_present }}</a>
                  <table class="table text-light">
                    <thead>
                      <tr>
                        <th scope="col">Project</th>
                        <th scope="col">Resource</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{% for project in project_name %}
                                    <p>{{project}}</p>
                                {% endfor %}</td>
                            <td>{% for x in pres_res_count %}
                                    <p>{{x}}</p>
                                {% endfor %}
                            </td>
                        </tr>
                    </tbody>
                  </table>
                </p>
              </div>
          </div>
        </div>
        <div class="col-md-4">
            <div class="cardings">
              <div class="carding card-1">
                <div class="card__icon"><i class="fas fa-user-times text-dark"></i></div>
                <h2 class="card__title">Members on Leaves</h2><hr>
                <p class="card__apply">
                  <a class="card__link" href="#">Total Members on Leaves : {{ members_leave }}</a>
                  <table class="table text-light">
                    <thead>
                      <tr>
                        <th scope="col">Project</th>
                        <th scope="col">Resource</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{% for project in project_name %}
                                    <p>{{project}}</p>
                                {% endfor %}</td>
                            <td>{% for x in leave_res_count %}
                                    <p>{{x}}</p>
                                {% endfor %}
                            </td>
                        </tr>
                    </tbody>
                  </table>
                </p>
              </div>
          </div>
        </div>
        </div>
        {% endif %}
        <div class="row ">

            {% comment %} Identity Card {% endcomment %}
            {% if request.user.is_superuser or request.user.email|get_custom_role:request.user.email_id == 'client' or request.user.email|get_custom_role:request.user.email_id == 'human_resource' and request.user.is_authenticated %}
            {% else %}
                
            <div class="col-xl-3 col-lg-12">
                <div class="widget widget-user-card">
                  <div class="widget-user-card__bg"></div>
                  <div class="widget-user-card__content">
                    <img src="{% static 'new/assets/img/users.png' %}" alt="" width="120" height="120" class="widget-user-card__avatar">
          
                    <div class="widget-user-card__info">
                      <div class="widget-user-card__name">{{request.user.first_name}}&nbsp;{{request.user.last_name}}</div>
                      <div class="widget-user-card__occupation"> {{request.user.email|print_custom_role}}</div>
                    </div>
          
                    <div>
                      <a href="{% url 'user_profile' %}" class="btn btn-info btn-rounded btn-lg widget-user-card__follow">View Profile</a>
                    </div>
                  </div>
                  <div class="widget-user-card__statistics">
                    <div class="widget-user-card__statistics-item">
                        <span class="widget-user-card__statistics-amount">Status</span>
                        {% if resource_attendance == "Present" %}
                        <span class="widget-user-card__statistics-type" style="color:green;">{{resource_attendance}}</span>
                        {% else %}
                        <span class="widget-user-card__statistics-type" style="color:red;">{{resource_attendance}}</span>
                        {% endif %}
                    </div>
                    <div class="widget-user-card__statistics-item">
                      <span class="widget-user-card__statistics-amount ">Id</span>
                      <span class="widget-user-card__statistics-type">{{ resource.empolyee_id }}</span>
                    </div>
                    <div class="widget-user-card__statistics-item">
                      <span class="widget-user-card__statistics-amount">Last Login</span>
                      <span class="widget-user-card__statistics-type">{{ resource.last_login }}</span>
                    </div>
                  </div>
                </div>
              </div> 


             

                <!-- <div class="card m-3 cus_card" style="width: 20rem;">
                    <div class="cus_head"><h5 class="card-title text-center"><i class="far fa-address-card"></i> Identity Card</h5></div>
                    <div class="card-body">
                        <div class="align-items-center" style="float: center;">
                            
                            <center>
                                <i><img class="mr-3" src="https://i2.wp.com/avatar-management--avatars.us-west-2.prod.public.atl-paas.net/initials/c-0.png?ssl=1" style=" width: 60px;"/></i>
                                <h5><i class="fas fa-user" style="color: #2372bb;"></i><span class="fw-bolder"> {{ resource.first_name }} {{ resource.last_name }}</span></h5>
                            </center>
                        </div>
                        <table class="table table-bordered">
                            <tr>
                                <td><strong>Current Day Status</strong></td>
                                {% if resource_attendance == "Present" %}
                                    <td style="color:green;">{{resource_attendance}}</td>
                                {% else %}
                                    <td style="color:red;">{{resource_attendance}}</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td><strong>Employee ID</strong></td>
                                <td>{{ resource.empolyee_id }}</td>
                            </tr>
                            <tr>
                                <td><strong>Last Login</strong></td>
                                <td>{{ resource.last_login }}</td>
                            </tr>
                            <tr>
                                <td><strong>Last Month Attendence</strong></td>
                                <td>{{ pre_month_attend_count }}</td>
                            </tr>
                            <tr>
                                <td><strong>Contact</strong></td>
                                <td>+91{{ resource.contact }}</td>
                            </tr>
                        </table>
                    </div>
                </div> -->
            {% endif %}

            {% if request.user.email|get_custom_role:request.user.email_id == 'client' and request.user.is_authenticated %}        
            
                {% for project in client_projects %}



                    <div class="card m-3 cus_card " style="width: 18rem;">
                        <div class="cus_head"><h5 class="card-title text-center  ">{{project.name}}</h5></div>
                        <div class="card-body">

                            <p class="card-text">{{project.description}}</p>
                            <p><span class="fw-bolder">Files:</span> <a class="text-dark" href="{% url 'view_files' project.name %}" style="text-decoration: none;" target="_blank" download="non" ><small>{{project.filename}}</small></a></p>
                            <p><span class="fw-bolder">Status:</span>  {{project.status}}</p>
                            <i class="fas fa-users mx-1" style="color: #2372bb;"></i><span class="fw-bolder">Project Members</span>
                            <table class="table" style="list-style: none;">
                                <tbody>
                                    {% for resource in project.resource_list %}
                                        <tr>

                                            {% if resource.resource.role == "Business Development Execute" or resource.resource.role == "Lead Generator" %}
                                            {% else %}
                                                <td style="padding:0px;border-bottom-width:0;">
                                                <button style="border: none;background-color:  #fff;" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal-{{resource.id}}">
                                                    <i class="fa fa-eye mx-2 "></i>
                                                </button></td>
                                                <td style="padding:0px;border-bottom-width:0;">{{resource}}</td>
                                                <td style="padding:0px;border-bottom-width:0;"><span class="badge bg-secondary text-wrap">{{resource.role}}</span></td>
                                            {% endif %}
                                        </tr>

                                    
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal-{{resource.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">View Resource work</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                
                                            {% for attend in  resource.get_attend_list %}
                                                <span class="badge bg-secondary text-wrap">{{attend.date}}</span>                  
                                            {% endfor %}    
                                        </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary " data-bs-dismiss="modal">Close</button>
                                            
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                {% endfor %}  
                                </tbody>
                            </table>
                            <i class="fas fa-question" style="color: #2372bb";></i><span class="fw-bolder"></i> Total Raised Query</span>  
                            <p class="text-center cus_circle">{{project.get_raisedquery_list}}</p>
                        </div>
                    </div>  
                {% endfor %}


            {% elif request.user.email|get_custom_role:request.user.email_id == 'business_development_execute' or request.user.email|get_custom_role:request.user.email_id == 'lead_generator' and request.user.is_authenticated %}        
            
                    {% comment %} Card for Lead view {% endcomment %}
                    <div class="col-xl-4 col-lg-12">
                      <div class="widget widget-table widget-controls widget-payouts widget-controls--dark">
                        <div class="widget-controls__header cus-blue">
                          <div>
                            <span class="ua-icon-activity-promoted widget-controls__header-icon"></span> Leads
                          </div>
                        </div>
                        <div class="widget-controls__content js-scrollable" data-simplebar="init">
                          <div class="simplebar-track vertical" style="visibility: visible;">
                            <div class="simplebar-scrollbar" style="top: 2px; height: 258px;">
                            </div></div>
                            <div class="simplebar-track horizontal" style="visibility: hidden;">
                              <div class="simplebar-scrollbar"></div></div>
                              <div class="simplebar-scroll-content cus_hght" style="padding-right: 20px; margin-bottom: -20px;"><div class="simplebar-content" style="padding-bottom: 20px;">
                          <table class="table table-no-border table-striped">
                              <thead>
                                <tr>
                                  <th>title</th>
                                  <th>Status</th>
                                  <th>Client</th>
                                </tr>
                              </thead>
                            <tbody>
                            
                         
                              {% for lead in last_four_leads %}
                              <tr>
                                  <td> {{ lead.title }} </td>
                                  <td> {{ lead.status }} </td>
                                  <td> {{ lead.client.first_name  }} {{ lead.client.last_name }}</td>
                              </tr>
                          {% endfor %}
                          
                              
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <div class="widget-controls__footer cus_foot_btn">
                   
                      <a href="{% url 'view_lead' %}" class="widget-controls__footer-view-all">
                        <span class="ua-icon-eye widget-controls__footer-view-all-icon"></span><span>View more</span>
                      </a>
                    </div>
                      </div>
                    </div>
                
                
                
                
                    
                    

            <!-- this card for resource memeber-->
            {% elif request.user.email|get_custom_role:request.user.email_id == 'resource_member' or request.user.email|get_custom_role:request.user.email_id == 'project_manager' or request.user.email|get_custom_role:request.user.email_id == 'solution_architect' or request.user.email|get_custom_role:request.user.email_id == 'frontend_team_lead' or request.user.email|get_custom_role:request.user.email_id == 'backend_team_lead' or request.user.email|get_custom_role:request.user.email_id == 'business_analyst' and request.user.is_authenticated %}
             <!--Project Card -->
  
                   
             <div class="col-xl-4 col-lg-12">
                <div class="widget widget-controls widget-table widget-account-activity">
                  <div class="widget-controls__header">
                    <div>
                        Project Lists
                    </div>
                  </div>
                  <div class="widget-controls__content js-scrollable" data-simplebar="init"><div class="simplebar-track vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="top: 2px; height: 210px;"></div></div><div class="simplebar-track horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar"></div></div><div class="simplebar-scroll-content" style="padding-right: 17px; margin-bottom: -34px;"><div class="simplebar-content" style="padding-bottom: 17px; margin-right: -17px;">
                    <table class="table table-no-border table-striped">
                      <thead>
                        <tr>
                          <th>Project Name</th>
                          <th>Status</th>
                          
                        </tr>
                      </thead>
                      <tbody>
                     
                        {% for project in resource_projects %}
                                <tr>
                                    <td><span class="proj_name">{{ project.project }}</span></td>                                    
                                    <td><span class="table__cell-up">{{ project.project.status }}</span></span></td>                                  
                                </tr>
                                {% endfor %}
                     
                        
                    
                       
                      
                      
                      </tbody>
                    </table>
                  </div></div></div>
                  <div class="widget-controls__footer widget-controls__footer-btn">
                    <a href="{% url 'resource_projects'  %}" class="btn btn-info btn-rounded">View All</a>
                  </div>
                </div>
              </div>

                <!-- <div class="card m-3 cus_card" style="width: 20rem;">
                    <div class="cus_head"><h5 class="card-title text-center"><i class="far fa-bookmark"></i> Project Lists</h5></div>
                    <div class="card-body">
                        <div class="align-items-center text-center">
                            <table class="table table-bordered">
                                <tr>
                                    <th>Project Name</th>
                                    <th>Status</th>
                                </tr>
                                {% for project in resource_projects %}
                                <tr>
                                    <td>{{ project.project }}</td>                                    
                                    <td>{{ project.project.status }}</td>                                  
                                </tr>
                                {% endfor %}
                            </table>
                            <tr>
                                <a href="{% url 'resource_projects'  %}" class="small  btn btn-link" 
                                style="float:right; Border:none;" type="btn">See All</a>
                            </tr>
                        </div>
                    </div>
                </div> -->
                <!--Worklog Details Card -->

                <div class="col-xl-4 col-lg-12">
                    <div class="widget widget-controls widget-table widget-account-activity">
                      <div class="widget-controls__header">
                        <div>
                            Worklog Lists
                        </div>
                      </div>
                      <div class="widget-controls__content js-scrollable" data-simplebar="init"><div class="simplebar-track vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="top: 2px; height: 210px;"></div></div><div class="simplebar-track horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar"></div></div><div class="simplebar-scroll-content" style="padding-right: 17px; margin-bottom: -34px;"><div class="simplebar-content" style="padding-bottom: 17px; margin-right: -17px;">
                        <table class="table table-no-border table-striped">
                          <thead>
                            <tr>
                                <th>TicketId</th>
                                <th>Date</th>
                                <th>Hours</th>
                              
                            </tr>
                          </thead>
                          <tbody>
                         
                            {% for worklog in resource_worklog %}
                            <tr>
                                <td><a href="{{worklog.pms_ticket_link}}">{{worklog.pms_ticket_id}}</a></td>
                                <td>{{ worklog.date }}</td>
                                <td>{{ worklog.logged_hour }}</td>
                            </tr>
                            {% endfor %}
                         
                            
                        
                           
                          
                          
                          </tbody>
                        </table>
                      </div></div></div>
                      <div class="widget-controls__footer widget-controls__footer-btn">
                        <a href="{% url 'view_list'  %}" class="btn btn-info btn-rounded">View Worklog All</a>
                      </div>
                    </div>
                  </div>
    


                <!-- <div class="card m-3 cus_card" style="width: 20rem;">
                    <div class="cus_head"><h5 class="card-title text-center"><i class="fas fa-user-clock"></i> Worklog Lists</h5></div>
                    <div class="card-body">
                            <table class="table table-bordered">
                            <tr>
                                <th>TicketId</th>
                                <th>Date</th>
                                <th>Hours</th>
                            </tr>
                            {% for worklog in resource_worklog %}
                            <tr>
                                <td><a href="{{worklog.pms_ticket_link}}">{{worklog.pms_ticket_id}}</a></td>
                                <td>{{ worklog.date }}</td>
                                <td>{{ worklog.logged_hour }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                        <tr>
                            <a href="{% url 'view_list'  %}" class="small btn btn-link" style="float:right;" type="btn">See All</i></button></a>
                        </tr>
                        </div>
                    </div> -->
                </div>      
            {% elif request.user.is_superuser %}
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6">
                  <div class="widget widget-alpha widget-alpha--color-amaranth">
                    <div>
                      <div class="widget-alpha__amount"><span id="total_emp"></span></div>
                      <div class="widget-alpha__description">Total Empolyees</div>
                    </div>
                    <span class="ua-icon-man widget-alpha__icon"></span>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                  <div class="widget widget-alpha widget-alpha--color-green-jungle">
                    <div>
                      <div class="widget-alpha__amount"><span id="present_emp"></span></div>
                      <div class="widget-alpha__description">Present Empolyees</div>
                    </div>
                    <span class="ua-icon-users-group widget-alpha__icon"></span>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                  <div class="widget widget-alpha widget-alpha--color-orange widget-alpha--donut">
                    <div>
                      <div class="widget-alpha__amount"><span id="onleave_emp"></span></div>
                      <div class="widget-alpha__description">OnLeave Empolyees</div>
                    </div>
                    <span class="ua-icon-submit-ticket widget-alpha__icon"></span>
                  </div>
                </div>
<!--                <div class="col-xl-6 col-lg-12">-->
<!--                    <div class="chart-widget frappe-chart">-->
<!--                      <div id="chart-ex4" class="chart-widget__chart"></div>-->
<!--                    </div>-->
<!--                  </div>-->
                  <div class="col-xl-6 col-lg-12">
                    <div class="widget widget-table widget-controls widget-payouts widget-controls--dark">
                      <div class="widget-controls__header">
                        <div>
                          <span class="widget-controls__header-icon ua-icon-wallet"></span> Project Lists
                        </div>
                      </div>
                      <div class="widget-controls__content js-scrollable" data-simplebar="init">
                        <div class="simplebar-track vertical" style="visibility: visible;">
                          <div class="simplebar-scrollbar" style="top: 2px; height: 258px;">
                          </div></div>
                          <div class="simplebar-track horizontal" style="visibility: hidden;">
                            <div class="simplebar-scrollbar"></div></div>
                            <div class="simplebar-scroll-content cus_hght" style="padding-right: 20px; margin-bottom: -20px;"><div class="simplebar-content" style="padding-bottom: 20px;">
                        <table class="table table-no-border table-striped">
                            <thead>
                              <tr>
                                <th>Project Name</th>
                                <th>Status</th>
                              </tr>
                            </thead>
                          <tbody>
                          
                       
                              {% for project in four_active_projects %}
                              <tr>
                                  <td style="text-transform:capitalize; font-weight:600;">{{ project.name }}</td>
                                  <td style="color:green;"> {{ project.status }} </td>
                                 
                              </tr>
                          {% endfor %}   
                        
                            
                          </tbody>
                        
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="widget-controls__footer cus_foot_btn">
                   
                    <a href="{% url 'view_projects' %}" class="widget-controls__footer-view-all">
                      <span class="ua-icon-eye widget-controls__footer-view-all-icon"></span>
                     
                      <span>View more</span>
                    </a>
                  </div>
                    </div>
                  </div>


                  <div class="col-xl-4 col-lg-12">
                    <div class="widget widget-table widget-controls widget-payouts widget-controls--dark">
                      <div class="widget-controls__header cus-blue">
                        <div>
                          <span class="ua-icon-activity-promoted widget-controls__header-icon"></span> Leads
                        </div>
                      </div>
                      <div class="widget-controls__content js-scrollable" data-simplebar="init">
                        <div class="simplebar-track vertical" style="visibility: visible;">
                          <div class="simplebar-scrollbar" style="top: 2px; height: 258px;">
                          </div></div>
                          <div class="simplebar-track horizontal" style="visibility: hidden;">
                            <div class="simplebar-scrollbar"></div></div>
                            <div class="simplebar-scroll-content cus_hght" style="padding-right: 20px; margin-bottom: -20px;"><div class="simplebar-content" style="padding-bottom: 20px;">
                        <table class="table table-no-border table-striped">
                            <thead>
                              <tr>
                                <th>title</th>
                                <th>Status</th>
                                <th>Client</th>
                              </tr>
                            </thead>
                          <tbody>
                          
                       
                            {% for lead in last_four_leads %}
                            <tr>
                                <td> {{ lead.title }} </td>
                                <td> {{ lead.status }} </td>
                                <td> {{ lead.client.first_name  }} {{ lead.client.last_name }}</td>
                            </tr>
                        {% endfor %}
                        
                            
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="widget-controls__footer cus_foot_btn">
                 
                    <a href="{% url 'view_lead' %}" class="widget-controls__footer-view-all">
                      <span class="ua-icon-eye widget-controls__footer-view-all-icon"></span><span>View more</span>
                    </a>
                  </div>
                    </div>
                  </div>

                  <div class="col-xl-4 col-lg-12">
                    <div class="widget widget-table widget-controls widget-payouts widget-controls--dark">
                      <div class="widget-controls__header cus-blue2">
                        <div>
                          <span class="ua-icon-tasks widget-controls__header-icon"></span> Work Logs
                        </div>
                      </div>
                      <div class="widget-controls__content js-scrollable" data-simplebar="init">
                        <div class="simplebar-track vertical" style="visibility: visible;">
                          <div class="simplebar-scrollbar" style="top: 2px; height: 258px;">
                          </div></div>
                          <div class="simplebar-track horizontal" style="visibility: hidden;">
                            <div class="simplebar-scrollbar"></div></div>
                            <div class="simplebar-scroll-content cus_hght" style="padding-right: 20px; margin-bottom: -20px;"><div class="simplebar-content" style="padding-bottom: 20px;">
                        <table class="table table-no-border table-striped">
                            <thead>
                              <tr>
                                <th>Ticket Id</th>
                                <th>Logged Hour</th>
                                <th>Resource</th>
                              </tr>
                            </thead>
                          <tbody>
                          
                       
                            {% for worklog in ten_recent_worklogs %}
                            <tr>
                                <td> <a href="{{ worklog.pms_ticket_link}}">{{ worklog.pms_ticket_id }}</a> </td>
                                <td> {{ worklog.logged_hour }} </td>
                                <td> {{ worklog.resource.first_name }} {{ worklog.resource.last_name }}</td>
                            </tr>
                        {% endfor %}
                        
                            
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="widget-controls__footer cus_foot_btn">
                   
                    <a href="{% url 'view_worklog' %}" class="widget-controls__footer-view-all">
                      <span class="ua-icon-eye widget-controls__footer-view-all-icon"></span><span>View more</span>
                    </a>
                  </div>
                    </div>
                  </div>


                  <div class="col-xl-4 col-lg-12">
                    <div class="widget widget-table widget-controls widget-payouts widget-controls--dark">
                      <div class="widget-controls__header cus-blue3">
                        <div>
                          <span class="ua-icon-bar-chart-up widget-controls__header-icon"></span> Attendence
                        </div>
                      </div>
                      <div class="widget-controls__content js-scrollable" data-simplebar="init">
                        <div class="simplebar-track vertical" style="visibility: visible;">
                          <div class="simplebar-scrollbar" style="top: 2px; height: 258px;">
                          </div></div>
                          <div class="simplebar-track horizontal" style="visibility: hidden;">
                            <div class="simplebar-scrollbar"></div></div>
                            <div class="simplebar-scroll-content cus_hght" style="padding-right: 20px; margin-bottom: -20px;"><div class="simplebar-content" style="padding-bottom: 20px;">
                        <table class="table table-no-border table-striped">
                            <thead>
                              <tr>
                                <th>Date</th>
                                <th>Resource Name</th>
                                <th>Project Name</th>
                              </tr>
                            </thead>
                          <tbody>
                          
                       
                            {% for attend in recent_ten_attendence %}
                                        <tr>
                                            <td> {{ attend.date }} </td>
                                            <td> {{ attend.resource.first_name }} {{ attend.resource.last_name }}</td>
                                            <td> {{ attend.project.name}} </td>
                                        </tr>
                                    {% endfor %}
                        
                            
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="widget-controls__footer cus_foot_btn">
                   
                    <a href="{% url 'view_attend' %}" class="widget-controls__footer-view-all">
                      <span class="ua-icon-eye widget-controls__footer-view-all-icon"></span><span>View more</span>
                    </a>
                  </div>
                    </div>
                  </div>

</div>


                <!--<div class="row justify-content-center">
                    <div class="card m-2" style="width: 18rem;background-color: #43b2f8;">
                        <div class="card-body text-dark">
                        <h5 class="card-title"></i> Empolyees</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Total Empolyees</h6>
                        <p class="card-text fa-2x">
                            <span id="total_emp"></span>
                            <span class="fa-stack fa-1x float-end">
                                <a href="#">
                                <i class="fa fa-circle fa-stack-2x text-dark"></i>
                                <i class="fa fa-users fa-stack-1x text-light fa-inverse"></i>
                                </a>
                            </span>
                        </p>
                        
                        </div>
                    </div>   
                     <div class="card m-2" style="width: 18rem;background-color: #43b2f8;">
                        <div class="card-body text-dark">
                        <h5 class="card-title"></i>Present Empolyees</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Present Empolyees</h6>
                        <p class="card-text fa-2x">
                            <span id="present_emp"></span>
                            <span class="fa-stack fa-1x float-end">
                                <a href="#">
                                <i class="fa fa-circle fa-stack-2x text-dark"></i>
                                <i class="fa fa-users fa-stack-1x text-light fa-inverse"></i>
                                </a>
                            </span>
                        </p>
                        
                        </div>
                    </div>   
                     <div class="card m-2" style="width: 18rem;background-color: #43b2f8;">
                        <div class="card-body text-dark">
                        <h5 class="card-title"></i>OnLeave Empolyees</h5>
                        <h6 class="card-subtitle mb-2 text-muted">OnLeave Empolyees</h6>
                        <p class="card-text fa-2x">
                            <span id="onleave_emp"></span>
                            <span class="fa-stack fa-1x float-end">
                                <a href="#">
                                <i class="fa fa-circle fa-stack-2x text-dark"></i>
                                <i class="fa fa-users fa-stack-1x text-light fa-inverse"></i>
                                </a>
                            </span>
                        </p>
                        
                        </div>
                    </div>  

                    <div class="d-inline-blocka" style="width: 30%;">
                        <canvas id="map1" ></canvas>
                    </div> 
                    <div class="d-inline-blockb" style="width: 30%;">
                        <canvas id="map2" ></canvas>
                    </div>
                    <div class="d-inline-blockc" style="width: 30%;">
                        <canvas id="map3" ></canvas>
                    </div>
                    <div class="card m-1 cus_card mt-3" style="width: 20rem;">
                        <div class="cus_head"><h5 class="card-title text-center">
                          <i class="fa fa-project-diagram ms-1"></i> Project List </h5></div>
                        
                       <div class="card-body table-responsive">
                            
                            <table class="table table-hover table-bordered text-center" >
                                <tr>
                                    <th scope="col">Project Name</th>
                                    <th scope="col">Status</th>
                                    
                                </tr>
                                <tbody>
                                    {% for project in four_active_projects %}
                                        <tr>
                                            <td>{{ project.name }}</td>
                                            <td> {{ project.status }} </td>
                                           
                                        </tr>
                                    {% endfor %}    
                                    
                                    </tbody>
                            </table>
                            <a href="{% url 'view_projects' %}" class="small text-decoration-none" style="float:right;" type="btn">See All</a>
                                
                        </div>
                    </div>  
                    <div class="card m-1 cus_card mt-3" style="width: 20rem;">
                        <div class="cus_head"><h5 class="card-title text-center">
                          <i class="fas fa-hands-helping ms-1"></i> Leads </h5></div>
                       
                        <div class="card-body table-responsive">
                            
                            <table class="table table-hover table-bordered text-center" >
                                <tr>
                                    <th scope="col">Title</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Client</th>
                                </tr>
                                <tbody>
                                    {% for lead in last_four_leads %}
                                        <tr>
                                            <td> {{ lead.title }} </td>
                                            <td> {{ lead.status }} </td>
                                            <td> {{ lead.client.first_name  }} {{ lead.client.last_name }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                            </table>
                            <a href="{% url 'view_lead' %}" class="small text-decoration-none" style="float:right;" type="btn">See All</a>
                                
                        </div>
                    </div> 
                    <div class="card m-1 cus_card mt-3" style="width: 20rem;">
                        <div class="cus_head"><h5 class="card-title text-center"><i class="fa fa-tasks ms-1" aria-hidden="true"></i> Worklogs </h5></div>
                       
                     <div class="card-body table-responsive">
                            
                            <table class="table table-hover table-bordered text-center">
                                <tr>
                                    <th scope="col">Ticket Id</th>
                                    <th scope="col">Logged hour</th>
                                    <th scope="col">Resource</th>
                                </tr>
                                <tbody>
                                    {% for worklog in ten_recent_worklogs %}
                                        <tr>
                                            <td> <a href="{{ worklog.pms_ticket_link}}">{{ worklog.pms_ticket_id }}</a> </td>
                                            <td> {{ worklog.logged_hour }} </td>
                                            <td> {{ worklog.resource.first_name }} {{ worklog.resource.last_name }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                            </table>
                            <a href="{% url 'view_worklog' %}" class="small text-decoration-none" style="float:right;" type="btn">See All</a>
                                
                        </div>
                    </div>  
                    <div class="card m-1 cus_card mt-3" style="width: 20rem;">
                        <div class="cus_head"><h5 class="card-title text-center"><i class="fas fa-user-clock"></i> Attendence </h5></div>
                       
                        <div class="card-body table-responsive">
                            
                            <table class="table table-hover table-bordered text-center" >
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">Resource Name</th>
                                    <th scope="col">Project Name</th>
                                </tr>
                                <tbody>
                                    {% for attend in recent_ten_attendence %}
                                        <tr>
                                            <td> {{ attend.date }} </td>
                                            <td> {{ attend.resource.first_name }} {{ attend.resource.last_name }}</td>
                                            <td> {{ attend.project.name}} </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                            </table>
                            <a href="{% url 'view_attend' %}" class="small text-decoration-none" style="float:right;" type="btn">See All</a>
                                
                        </div>
                    </div>    
                </div>-->
               
                   
                
                
                    
                <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script> -->
                <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
                <script>
                    let total_data = JSON.parse("{{new_dict | escapejs}}");
                    console.log(total_data)
                    let total_emp=document.getElementById("total_emp");
                    let textnode = document.createTextNode(total_data.total_empolyees);
                    total_emp.appendChild(textnode);
                    let present_empolyees=document.getElementById("present_emp");
                    let textnode1 = document.createTextNode(total_data.present_empolyees);
                    present_empolyees.appendChild(textnode1);
                    let onleave_emp=document.getElementById("onleave_emp");
                    let textnode2 = document.createTextNode(total_data.today_leaves);
                    onleave_emp.appendChild(textnode2);
              
                    let dicts = [
                        {
                            "Total emp.": total_data.total_empolyees
                        },
                        {
                            "Not Marked": total_data.not_marked_empolyees,
                            "Present": total_data.present_empolyees
                        },
                        {
                            "Total emp.": total_data.total_empolyees,
                            "OnLeave": total_data.today_leaves
                        }
                    ]
                    let ids = ['map1','map2','map3']
                    let initial = 0
                    for( obj of dicts){
                        let keys = Object.keys(obj)
                        let values = Object.values(obj)
                        var ctx = ids[initial]
                        var myChart = new Chart(ctx, { // Using Chart.js Library To Draw Chart
                            type: 'doughnut',
                            data: {
                                labels: keys,
                                datasets: [{
                                    label: '# of votes',
                                    data: values,
                                    backgroundColor: [
                                        'rgb(60, 179, 113)',
                                        'rgb(255, 165,0)',
                                        'rgb(60,60,60)',
                                        'rgb(120,120,120)'
                                    ],
                                    borderColor: [
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(153, 102, 255, 1)',
                                        'rgba(255, 159, 64, 1)'
                                    ],
                                    
                                    borderWidth: 1
                                }]
                            }
                        });
                        initial++

                    }

                </script>
                
            {% endif %}

            <div class="col-12">
                {% if progress %}
                    <h3>Your Progress Report</h3>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">SN</th>
                            <th scope="col">Sprint</th>
                            <th scope="col">Grade</th>
                            <th scope="col">Percent</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for p in progress %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{p.sprint}}</td>
                                <td>{{p.grade}}</td>
                                <td>{{p.percentage}} %</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                 {% elif request.user.email|get_custom_role:request.user.email_id == 'human_resource' and request.user.is_authenticated %}
                   
                   <!--Overview box start-->

                   <div class="state-overview">
                    <div class="row">
                          <div class="col-xl-3 col-md-6 col-12">
                            <div class="info-box bg-blue">
                              <span class="info-box-icon push-bottom">
                                <span class="sidebar-section-nav__item-icon ua-icon-widget-users"></span>
                              </span>
                              <div class="info-box-content">
                                <span class="info-box-text">Total Members</span>
                                <span class="info-box-number">{{ total_resource }}</span>
                                <div class="progress">
                                  <div class="progress-bar" style="width: 45%"></div>
                                </div>
                                <span class="progress-description">
                                      45% Increase in 28 Days
                                    </span>
                              </div>
                              <!-- /.info-box-content -->
                            </div>
                            <!-- /.info-box -->
                          </div>
                          <!-- /.col -->
                          <div class="col-xl-3 col-md-6 col-12">
                            <div class="info-box bg-orange">
                              <span class="info-box-icon push-bottom">
                                
                                <span class="sidebar-section-nav__item-icon ua-icon-person-add-alt"></span>
                              </span>
                              <div class="info-box-content">
                                <span class="info-box-text">Present</span>
                                <span class="info-box-number">{{ total_present }}</span>
                                <div class="progress">
                                  <div class="progress-bar" style="width: 40%"></div>
                                </div>
                                <span class="progress-description">
                                      40% Increase in 28 Days
                                    </span>
                              </div>
                              <!-- /.info-box-content -->
                            </div>
                            <!-- /.info-box -->
                          </div>
                          <!-- /.col -->
                          <div class="col-xl-3 col-md-6 col-12">
                            <div class="info-box bg-purple">
                              <span class="info-box-icon push-bottom">
                                <span class="sidebar-section-nav__item-icon ua-icon-navbar-close"></span>
                              </span>
                              <div class="info-box-content">
                                <span class="info-box-text">Not Marked</span>
                                <span class="info-box-number">{{ total_not_mark }}</span>
                                <div class="progress">
                                  <div class="progress-bar" style="width: 85%"></div>
                                </div>
                                <span class="progress-description">
                                      85% Increase in 28 Days
                                    </span>
                              </div>
                              <!-- /.info-box-content -->
                            </div>
                            <!-- /.info-box -->
                          </div>
                          <!-- /.col -->
                          <div class="col-xl-3 col-md-6 col-12">
                            <div class="info-box bg-red">
                              <span class="info-box-icon push-bottom">
                                <span class="sidebar-section-nav__item-icon ua-icon-activity-promoted"></span>
                              </span>
                              <div class="info-box-content">
                                <span class="info-box-text">On Leave</span>
                                <span class="info-box-number">{{ total_leave }}</span>
                                <div class="progress">
                                  <div class="progress-bar" style="width: 50%"></div>
                                </div>
                                <span class="progress-description">
                                      50% Increase in 28 Days
                                    </span>
                              </div>
                              <!-- /.info-box-content -->
                            </div>
                            <!-- /.info-box -->
                          </div>
                          <!-- /.col -->
                        </div>




                  </div>


                   <!--End-->
<div class="row">
  
  <div class="col-md-4 col-sm-6">
    <div class="card  card-topline-red">
        <div class="card-head">
            <header><span class="mdi mdi-account-multiple-check sidebar-section-nav__item-icon icnsze"></span> 
              Present Member</header>
            <div class="tools">
            </div>
        </div>
        <div class="card-body no-padding height-9">
            <div class="row">
                <ul class="docListWindow">
                  {% for x in present_resource %}
                  <li>
                    <div class="prog-avatar">
                        <img src="{% static 'new/assets/img/users.png' %}" alt="">
                    </div>
                    <div class="details">
                        <div class="doctitle">
                            <a href="#">{{ x }}</a> -({{ x.role }})
                        </div>
                            <div>
                                <span class="clsAvailable">Present</span>
                            </div>
                    </div>
                </li>
              {% endfor %}
                    
                </ul>
                <div class="text-center full-width">
                    <a href="#">View all</a>
                </div>
            </div>
        </div>
    </div>
</div>
   
<div class="col-md-4 col-sm-6">
  <div class="card  card-topline-red">
      <div class="card-head">
          <header>
            <span class="icnszemrk mdi mdi-account-remove sidebar-section-nav__item-icon"></span>
             Not Mark member</header>
          <div class="tools">
          </div>
      </div>
      <div class="card-body no-padding height-9">
          <div class="row">
              <ul class="docListWindow">
                {% for x in not_mark %}
                <li>
                  <div class="prog-avatar">
                      <img src="{% static 'new/assets/img/users.png' %}" alt="">
                  </div>
                  <div class="details">
                      <div class="doctitle">
                          <a href="#">{{ x }}</a> -({{ x.role }})
                      </div>
                          <div>
                              <span class="clsAvailable" style="color:#8E44AD;">Not Mark</span>
                          </div>
                  </div>
              </li>
            {% endfor %}
                  
              </ul>
              <div class="text-center full-width">
                  <a href="#">View all</a>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="col-md-4 col-sm-6">
<div class="card  card-topline-red">
    <div class="card-head">
        <header>
          <span class="sidebar-section-nav__item-icon ua-icon-activity-promoted icnleve"></span>
           On Leave Member</header>
        <div class="tools">
        </div>
    </div>
    <div class="card-body no-padding height-9">
        <div class="row">
            <ul class="docListWindow">
              {% for x in today_leave %}
              <li>
                <div class="prog-avatar">
                    <img src="{% static 'new/assets/img/users.png' %}" alt="">
                </div>
                <div class="details">
                    <div class="doctitle">
                        <a href="#">{{ x }}</a> -({{ x.role }})
                    </div>
                        <div>
                            <span class="clsAvailable" style="color:red;">On Leave</span>
                        </div>
                </div>
            </li>
          {% endfor %}
                
            </ul>
            <div class="text-center full-width">
                <a href="#">View all</a>
            </div>
        </div>
    </div>
</div>
</div>
</div>




                
                 
                 <!-- <div class="col-md-5 container-fluid px-4 justify-content-center">
                       <div class="cardings">
                            <div class="carding card-1">
                                <div class="card__icon"><i class="fas fa-users text-dark text-center"></i></div>
                                <h2 class="card__title">Today Employee Status</h2><hr>
                                <p class="card__apply">
                                <a class="card__link" href="#">Total Members:  {{ total_resource }}</a>
                                <table class="table text-light">
                                    <thead>
                                      <tr>
                                        <th scope="col">Status</th>
                                        <th scope="col">Total</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Present</td>
                                            <td>{{ total_present }}</td>
                                        </tr>
                                        <tr>
                                            <td>Not Market</td>
                                            <td>{{ total_not_mark }}</td>
                                        </tr>
                                        <tr>
                                            <td>On Leave</td>
                                            <td>{{ total_leave }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                </p>
                            </div>
                        </div>
                    </div> -->
                    <div class="">
                        <!-- <div class="col-md-4">
                    <div class="cardings">
                        <div class="carding card-1">
                            <div class="card__icon"><i class="fas fa-users text-dark text-center"></i></div>
                            <h2 class="card__title">Present Member</h2><hr>
                            <p class="card__apply">
                            <table class="table text-light">
                                <thead>
                                  <tr>
                                      <th>Sr No</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Role</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    {% for x in present_resource %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ x }}</td>
                                            <td>{{ x.role }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            </p>
                        </div>
                    </div>
                </div> -->
                        <!-- <div class="col-md-4">
                        <div class="cardings">
                            <div class="carding card-1">
                                <div class="card__icon"><i class="fas fa-users text-dark text-center"></i></div>
                                <h2 class="card__title">Not Mark Member</h2><hr>
                                <p class="card__apply">
                                <table class="table text-light">
                                    <thead>
                                      <tr>
                                        <th>Sr No.</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Role</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        {% for x in not_mark %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ x }}</td>
                                                <td>{{ x.role }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                </p>
                            </div>
                        </div>
                    </div> -->
                        <!-- <div class="col-md-4">
                    <div class="cardings">
                        <div class="carding card-1">
                            <div class="card__icon"><i class="fas fa-users text-dark text-center"></i></div>
                            <h2 class="card__title">On Leave Member</h2><hr>
                            <p class="card__apply">
                            <table class="table text-light">
                                <thead>
                                  <tr>
                                    <th>Sr No.</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Role</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    {% for x in today_leave %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ x }}</td>
                                            <td>{{ x.role }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            </p>
                        </div>
                    </div>
                </div> -->
                    </div>
                {% endif %}
            </div>
        <!--page content remmoved-->
    </div>

<script>
  
</script>

</main>
{% endblock%}