{% load static %}
{% load new_template_tags %}
<!DOCTYPE html>
<html lang="en">

    <head>
        {% csrf_token %}
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        
        {% if title %}
            <title>PMS-{{ title }}</title>
        {% else %}
            <title>PMS-wooshelf</title>
        {% endif %}   
        <link rel="icon" href="{% static 'new/assets/img/favicon.png' %}" type="image/png" sizes="16x16">  
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
       
        <link href="{% static 'new/css/styles.css' %}" rel="stylesheet" />
        <link rel="stylesheet" href="{% static 'new/assets/style.css' %}"> <!--  icon font styles -->
        <link rel="stylesheet" href="{% static 'new/assets/materialdesignicons.css' %}"> <!-- meterialdesignicons -->
        <link href="{% static 'new/css/style.css' %}" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;800&display=swap" rel="stylesheet">
    </head>
    <body onload="notification_count()">
        <nav class="sb-topnav navbar fixed-top navbar-expand navbar-dark " >
            <!-- Navbar Brand-->
            <!-- Sidebar Toggle-->
            <div class="col-md-1">
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!">
                <i class="fas fa-bars"></i></button>
            </div>
          
            <!-- Navbar-->
             <div class="col-md-8 cus_dash fade show m-0" role="alert">
                <h4 style="color:#000;"> 
                    <img src="{% static 'new/assets/img/favicon.png' %}" style="width:3%;     margin-right: 6px; "/>
                     <span>Welcome to PMS!</span> </h4>
                
              </div>
           
            <div class=" col-md-7 cus_dash fade show m-0 logout_img" role="alert">

                <div class="row nav-item dropdown notification-section">
                    {% if request.user.is_superuser %}
                    <div class="col-md-2 pt-2 cus_lrt">
                        <a href="/admin/">
                           Admin site
                        </a>
                    </div>
                    {% endif %}
                    <div class="col-md-2 nott" >
                        <a href="#" class="notification dropdown-toggle pt-3" id="" role="button"
                        data-bs-toggle="dropdown" aria-expanded="true">
                        <span><i class='fa fa-bell'></i></span>
                        <span class="badge" id="Count"></span>
                       </a>
                    <ul class="dropdown-menu cus_notification_right" aria-labelledby="navbarDropdown" id="notifications-dropdown"
                        data-popper-placement="bottom-end"
                        style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(-70px, 42px, 0px);">
                        <li class="" style="border:none !important;">

                           <div class="navbar-dropdown-notifications__header">
                                <span>NOTIFICATIONS</span>
                                <div onclick="notification_read()">
                                   <a href="#" class="navbar-dropdown-notifications__mark-read">
                                    Mark all as read <span class="navbar-dropdown-notifications__mark-read-icon ua-icon-arrow-circle-down"></span>
                                   </a>
                                </div>
                              </div>

                              <div class="navbar-dropdown-notifications__body js-scrollable" data-simplebar="init"><div class="simplebar-track vertical" style="visibility: visible;">
                                <div class="simplebar-scrollbar" style="top: 2px;"></div></div>
                                <div class="simplebar-track horizontal" style="visibility: hidden;">
                                    <div class="simplebar-scrollbar"></div>
                                </div>
                                <div class="simplebar-scroll-content" style="padding-right: 17px; margin-bottom: -34px;"><div class="simplebar-content" style="padding-bottom: 17px; margin-right: -17px;">
                                <!--<div class="navbar-dropdown-notifications__body-empty"><img class="navbar-dropdown-notifications__body-empty-image" src="img/empty-notifications.png" alt=""/>
                                  <div class="navbar-dropdown-notifications__body-empty-text">You`re up to date!</div>
                                </div>-->
                                  <div id="noticeId" class="h_scrl"></div>
<!--                                <a class="navbar-dropdown-notifications__view-all" href="#"><span class="icon ua-icon-view-all"></span><span>View all</span></a>-->
                              </div></div></div>
                        </li>
                    </ul>
                </div>

                    <div class="col-md-6 cus_hvr">
                        <ul class="navbar-nav  cus_dash ms-auto ms-md-0 me-3 me-lg-4 justify-content-center">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle nv" id="navbarDropdown" href="#" role="button" 
                                data-bs-toggle="dropdown"  title={{request.user.first_name.upper}}-{{request.user.last_name.upper}}>
                                    {% if request.user.is_superuser %}
                                    SU
                                    {% endif %}
                                 {{ request.user.first_name.0.upper }}{{ request.user.last_name.0.upper }}
                            </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">


                                    <li>

                                        <div class="dropdown-menu navbar-dropdown-menu navbar-dropdown-menu__user show nav-item dropdown">
                                            <div class="navbar-dropdown-user-content">
                                              <div class="dropdown-user__avatar"><img src="{% static 'new/assets/img/users.png' %}" alt="" class="sidebar-user-a__avatar rounded-circle"></div>
                                              <div class="dropdown-info">
                                                <div class="dropdown-info__name">
                                                    <a class="dropdown-item" href="{% url 'user_profile' %}">{{request.user.first_name}}&nbsp;{{request.user.last_name}}</a></div>
                                                <div class="dropdown-info__job"> {{request.user.email|print_custom_role}}</div>

                                              </div>
                                            </div>

                                            <a class="dropdown-item navbar-dropdown__item bg-gray" href="#">Invite team member</a>
                                            <a class="dropdown-item navbar-dropdown__item bg-gray" href="#">Fedback</a>
                                            <a class="dropdown-item navbar-dropdown__item bg-gray" href="#">Help</a>

                                            <a class="dropdown-item navbar-dropdown__item bg-gray " href="{% url 'logout' %} ">Logout</a>
                                          </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div id="layoutSidenav">
            <div class="mt-5" id="layoutSidenav_nav" >
                <nav class="sb-sidenav accordion  sb-sidenav-dark" id="sidenavAccordion"  >
                    <div class="sb-sidenav-menu">
                        <div class="mt-4 nav">
                            <!-- <div class="sidebar-user-a">
                                <img src="{% static 'new/assets/img/users.png' %} " alt=""

                                class="sidebar-user-a__avatar rounded-circle">
                                <div class="sidebar-user-a__name">
                                    {{request.user.first_name}}&nbsp;{{request.user.last_name}}

                                </div>
                                <div class="sidebar-user-a__desc">

                                    {{request.user.email|print_custom_role}}
                                </div>
                          
                                <a href="{% url 'user_profile' %}" class="btn icon-left sidebar-user-a__link">
                                    <span class="btn-icon ua-icon-user-solid"></span> Personal Account 
                                </a>
                                
                                {% if request.user.is_superuser %}
                                <a href="{% url 'worklog_list_not_add' %}">
                                    <button type="button" class="btn btn-outline-primary" style="float: right;">Worklog Email List</button>
                                </a>
                                {% endif %}
                            </div>
                            <!-- <div class="sb-sidenav-menu-heading cus-hed">
                               </div> -->
                           <a class="nav-link {% if request.resolver_match.url_name == 'index'%}active{% endif %}" href="{% url 'index' %}">
                                <div class="sb-nav-link-icon"><span class="sidebar-section-nav__item-icon ua-icon-home"></span></div>
                                Dashboard
                            </a> 
                        <!--New Role User For Resource Project Manager-->
                            {% if request.user.email|get_custom_role:request.user.email_id == 'project_manager' or request.user.email|get_custom_role:request.user.email_id == 'business_analyst' and request.user.is_authenticated %}
                            
                                    <a class="nav-link {% if request.resolver_match.url_name == 'task_board'%}active{% endif %}" href="{% url 'task_board' %}">
                                        <div class="sb-nav-link-icon">
                                            <span class="mdi mdi-clipboard-check sidebar-section-nav__item-icon"></span>
                                        </div>
                                        Task Board
                                    </a>
                                    {% if request.user.email|get_custom_role:request.user.email_id == 'business_analyst' %}
                                    <a class="nav-link collapsed {% if request.resolver_match.url_name == 'add_lead'%}active{% endif %}" href="{% url 'add_lead' %}" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon">
                                        <span class="mdi mdi-label-outline sidebar-section-nav__item-icon"></span>
                                    </div>
                                    Add Lead
                                    </a>
                                    <a class="nav-link collapsed {% if request.resolver_match.url_name == 'view_lead'%}active{% endif %}" href="{% url 'view_lead' %}" aria-expanded="false" aria-controls="collapseLayouts">
                                        <div class="sb-nav-link-icon">
                                            <span class="mdi mdi-unfold-more-horizontal sidebar-section-nav__item-icon"></span></div>
                                        LeadList
                                    </a>
                                    {% endif %}
                                    <a class="nav-link collapsed {% if request.resolver_match.url_name == 'resource_projects'%}active{% endif %}"  href="{% url 'resource_projects' %}" aria-expanded="false" aria-controls="collapseLayouts">
                                        <div class="sb-nav-link-icon">
                                            <span class="mdi mdi-view-dashboard-variant sidebar-section-nav__item-icon"></span>
                                        </div>
                                        View Projects
                                    </a>
                                    <a class="nav-link collapsed {% if request.resolver_match.url_name == 'lead_resourceList'%}active{% endif %}" href="{% url 'lead_resourceList' %}" aria-expanded="false" aria-controls="collapseLayouts">
                                            <div class="sb-nav-link-icon">
                                                <span class="mdi mdi-database-search sidebar-section-nav__item-icon"></span>
                                            </div>
                                            Resource List
                                    </a>
                                    <a class="nav-link collapsed {% if request.resolver_match.url_name == "view_attend"%}active{% endif %}" href="{% url 'view_attend' %}" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon">
                                        <span class="mdi mdi-watch-export-variant sidebar-section-nav__item-icon"></span>
                                    </div>
                                        Attendance
                                    </a>
                                    <a class="nav-link collapsed {% if request.resolver_match.url_name == 'view_list'%}active{% endif %}" href="{% url 'view_list' %}" aria-expanded="false" aria-controls="collapseLayouts">
                                        <div class="sb-nav-link-icon">
                                            <span class="mdi mdi-clipboard-text sidebar-section-nav__item-icon"></span>
                                        </div>
                                        WorkLog
                                    </a>
                                    <a class="nav-link collapsed {% if request.resolver_match.url_name == 'view_salary'%}active{% endif %}" href="{% url 'view_salary' %}" aria-expanded="false" aria-controls="collapseLayouts">
                                        <div class="sb-nav-link-icon">
                                            <span class="mdi mdi-basket sidebar-section-nav__item-icon"></span> 
                                        </div>
                                        Salary
                                    </a>
                            <!-- Calendar List -->
                                <a class="nav-link collapsed {% if request.resolver_match.url_name == 'calendar'%}active{% endif %}
                                                                {% if request.resolver_match.url_name == 'resource_leave_calendar'%}active{% endif %}" href="#" data-bs-toggle="collapse"
                                       data-bs-target="#collapseLayoutsBusiness" aria-expanded="false" aria-controls="collapseLayouts6">
                                        <div class="sb-nav-link-icon"><span class="mdi mdi-calendar-check sidebar-section-nav__item-icon"></span></div>
                                        Calendar
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse {% if request.resolver_match.url_name == 'calendar'%}show{% endif %}
                                                        {% if request.resolver_match.url_name == 'resource_leave_calendar'%}show{% endif %}" id="collapseLayoutsBusiness" aria-labelledby="headingOne"
                                         data-bs-parent="#sidenavAccordion">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link {% if request.resolver_match.url_name == 'calendar'%}active{% endif %}" href="{% url 'calendar' %}">View Calendar</a>
                                            <a class="nav-link {% if request.resolver_match.url_name == 'resource_leave_calendar'%}active{% endif %}" href="{% url 'resource_leave_calendar' %}">Holiday List</a>
                                        </nav>
                                    </div>
                            <!-- end -->
                                    <a class="nav-link collapsed {% if request.resolver_match.url_name == 'query_list'%}active{% endif %}" href="{% url 'query_list' %}" aria-expanded="false" aria-controls="collapseLayouts">
                                        <div class="sb-nav-link-icon">
                                            <span class="mdi mdi-cloud-braces sidebar-section-nav__item-icon"></span>
                                        </div>
                                        Query List
                                    </a>
                                    <a class="nav-link collapsed {% if request.resolver_match.url_name == 'view_leave'%}active{% endif %} {% if request.resolver_match.url_name == 'view_your_leave'%}active{% endif %}" href="{% url 'view_leave' %}" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon"><span class="mdi mdi-led-off sidebar-section-nav__item-icon"></span></div>
                                    Leave
                                    </a>
                                    <a class="nav-link collapsed {% if request.resolver_match.url_name == 'resource_progress_list'%}active{% endif %} {% if request.resolver_match.url_name == 'resource_progress_list'%}active{% endif %}" href="{% url 'resource_progress_list' %}" aria-expanded="false" aria-controls="collapseLayouts">
                                        <div class="sb-nav-link-icon">
                                            <span class="mdi mdi-account-switch sidebar-section-nav__item-icon"></span>
                                        </div>
                                        Resource Progress
                                    </a>
                                    <a class="nav-link collapsed {% if request.resolver_match.url_name == 'total_resource_attend'%}active{% endif %} {% if request.resolver_match.url_name == 'total_resource_attend'%}active{% endif %}" href="{% url 'total_resource_attend' %}" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon">
                                        <span class="mdi mdi-account-convert sidebar-section-nav__item-icon"></span>
                                    </div>
                                    Total Attendance
                                    </a>

                            <!--New Role User For Resource Solution Architect-->
                            {% elif request.user.email|get_custom_role:request.user.email_id == 'solution_architect' and request.user.is_authenticated %}
                                <a class="nav-link {% if request.resolver_match.url_name == 'task_board'%}active{% endif %}" href="{% url 'task_board' %}">
                                    <div class="sb-nav-link-icon">
                                        <span class="mdi mdi-clipboard-check sidebar-section-nav__item-icon"></span>    
                                    </div>
                                    Task Board
                                </a>
                                <a class="nav-link collapsed {% if request.resolver_match.url_name == 'resource_projects'%}active{% endif %}" href="{% url 'resource_projects' %}" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon">
                                        <span class="mdi mdi-view-dashboard-variant sidebar-section-nav__item-icon"></span>
                                    </div>
                                    View Projects
                                </a>
                                <a class="nav-link collapsed {% if request.resolver_match.url_name == 'lead_resourceList'%}active{% endif %}" href="{% url 'lead_resourceList' %}" aria-expanded="false" aria-controls="collapseLayouts">
                                        <div class="sb-nav-link-icon">
                                            <span class="mdi mdi-database-search sidebar-section-nav__item-icon"></span>
                                        </div>
                                        Resource List
                                </a>
                                <a class="nav-link collapsed {% if request.resolver_match.url_name == "view_attend"%}active{% endif %}" href="{% url 'view_attend' %}" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon">
                                        <span class="mdi mdi-watch-export-variant sidebar-section-nav__item-icon"></span>
                                    </div>
                                        Attendance
                                </a>
                                <a class="nav-link collapsed {% if request.resolver_match.url_name == 'view_list'%}active{% endif %}" href="{% url 'view_list' %}" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon">
                                        <span class="mdi mdi-clipboard-text sidebar-section-nav__item-icon"></span>
                                    </div>
                                    WorkLog
                                </a>
                                <a class="nav-link collapsed {% if request.resolver_match.url_name == 'view_salary'%}active{% endif %}" href="{% url 'view_salary' %}" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon">
                                        <span class="mdi mdi-basket sidebar-section-nav__item-icon"></span> 
                                    </div>
                                    Salary
                                </a>
                                <a class="nav-link collapsed {% if request.resolver_match.url_name == "calendar"%}active{% endif %}" href="{% url 'calendar' %}" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon"><span class="mdi mdi-calendar-check sidebar-section-nav__item-icon"></span></div>
                                    View Calendar
                                </a>
                                <a class="nav-link collapsed {% if request.resolver_match.url_name == 'query_list'%}active{% endif %}" href="{% url 'query_list' %}" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon">
                                        <span class="mdi mdi-cloud-braces sidebar-section-nav__item-icon"></span>
                                    </div>
                                    Query List
                                </a>
                                <a class="nav-link collapsed {% if request.resolver_match.url_name == 'view_leave'%}active{% endif %} {% if request.resolver_match.url_name == 'view_your_leave'%}active{% endif %}" href="{% url 'view_leave' %}" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon"><span class="mdi mdi-led-off sidebar-section-nav__item-icon"></span></div>
                                    Leave
                                </a>

                            <!--New Role User For Resource Frontend And Backend Team Lead-->
                            {% elif request.user.email|get_custom_role:request.user.email_id == 'frontend_team_lead' or  request.user.email|get_custom_role:request.user.email_id == 'backend_team_lead' and request.user.is_authenticated %}
                                <a class="nav-link {% if request.resolver_match.url_name == 'task_board'%}active{% endif %}" href="{% url 'task_board' %}">
                                    <div class="sb-nav-link-icon">
                                        <span class="mdi mdi-clipboard-check sidebar-section-nav__item-icon"></span>
                                    </div>
                                    Task Board
                                </a>
                                <a class="nav-link collapsed {% if request.resolver_match.url_name == 'resource_projects'%}active{% endif %}" href="{% url 'resource_projects' %}" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon">
                                        <span class="mdi mdi-view-dashboard-variant sidebar-section-nav__item-icon"></span>
                                    </div>
                                    View Projects
                                </a>
                                <a class="nav-link collapsed {% if request.resolver_match.url_name == 'lead_resourceList'%}active{% endif %}" href="{% url 'lead_resourceList' %}" aria-expanded="false" aria-controls="collapseLayouts">
                                        <div class="sb-nav-link-icon">
                                            <span class="mdi mdi-wrap sidebar-section-nav__item-icon"></span>
                                        </div>
                                        Resource List
                                </a>
                                <a class="nav-link collapsed {% if request.resolver_match.url_name == "view_attend"%}active{% endif %}" href="{% url 'view_attend' %}" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon">
                                        <span class="mdi mdi-watch-export-variant sidebar-section-nav__item-icon"></span>
                                    </div>
                                        Attendance
                                </a>
                                <a class="nav-link collapsed {% if request.resolver_match.url_name == 'view_salary'%}active{% endif %}" href="{% url 'view_salary' %}" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon">
                                        <span class="mdi mdi-basket sidebar-section-nav__item-icon"></span> 
                                    </div>
                                    Salary
                                </a>
                                <a class="nav-link collapsed {% if request.resolver_match.url_name == 'calendar'%}active{% endif %}
                                                                {% if request.resolver_match.url_name == 'resource_leave_calendar'%}active{% endif %}" href="#" data-bs-toggle="collapse"
                                       data-bs-target="#collapseLayoutsBusiness" aria-expanded="false" aria-controls="collapseLayouts6">
                                        <div class="sb-nav-link-icon"><span class="mdi mdi-calendar-check sidebar-section-nav__item-icon"></span></i></div>
                                        Calendar
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse {% if request.resolver_match.url_name == 'calendar'%}show{% endif %}
                                                        {% if request.resolver_match.url_name == 'resource_leave_calendar'%}show{% endif %}" id="collapseLayoutsBusiness" aria-labelledby="headingOne"
                                         data-bs-parent="#sidenavAccordion">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link {% if request.resolver_match.url_name == 'calendar'%}active{% endif %}" href="{% url 'calendar' %}">View Calendar</a>
                                            <a class="nav-link {% if request.resolver_match.url_name == 'resource_leave_calendar'%}active{% endif %}" href="{% url 'resource_leave_calendar' %}">Holiday List</a>
                                        </nav>
                                    </div>
                                <a class="nav-link collapsed {% if request.resolver_match.url_name == 'query_list'%}active{% endif %}" href="{% url 'query_list' %}" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon">
                                        <span class="mdi mdi-cloud-braces sidebar-section-nav__item-icon"></span>
                                    </div>
                                    Query List
                                </a>
                                <a class="nav-link collapsed {% if request.resolver_match.url_name == 'view_leave'%}active{% endif %} {% if request.resolver_match.url_name == 'view_your_leave'%}active{% endif %}" href="{% url 'view_leave' %}" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon">
                                        <span class="mdi mdi-led-off sidebar-section-nav__item-icon"></span></div>
                                    Leave
                                </a>
                                <a class="nav-link collapsed {% if request.resolver_match.url_name == 'resource_progress_list'%}active{% endif %} {% if request.resolver_match.url_name == 'resource_progress_list'%}active{% endif %}" href="{% url 'resource_progress_list' %}" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon"><i class="fas fa-award text-dark"></i></div>
                                    Resource Progress
                                </a>
                                <a class="nav-link collapsed {% if request.resolver_match.url_name == 'total_resource_attend'%}active{% endif %} {% if request.resolver_match.url_name == 'total_resource_attend'%}active{% endif %}" href="{% url 'total_resource_attend' %}" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon">
                                        <span class="mdi mdi-account-convert sidebar-section-nav__item-icon"></span>
                                    </div>
                                    Total Attendance
                                </a>

                            <!--New Role User For Resource Lead Generator-->
                            {% elif request.user.email|get_custom_role:request.user.email_id == 'lead_generator' and request.user.is_authenticated %}
                                <a class="nav-link collapsed {% if request.resolver_match.url_name == 'add_lead'%}active{% endif %}" href="{% url 'add_lead' %}" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon">
                                        <span class="mdi mdi-label-outline sidebar-section-nav__item-icon"></span>
                                    </div>
                                    Add Lead
                                </a>
                                <a class="nav-link collapsed {% if request.resolver_match.url_name == 'view_lead'%}active{% endif %}" href="{% url 'view_lead' %}" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon">
                                        <span class="mdi mdi-view-agenda sidebar-section-nav__item-icon"></span>
                                    </div>
                                   View Lead
                                </a>
                                <a class="nav-link collapsed {% if request.resolver_match.url_name == 'view_salary'%}active{% endif %}" href="{% url 'view_salary' %}" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon">
                                        <span class="mdi mdi-basket sidebar-section-nav__item-icon"></span> 
                                    </div>
                                    Salary
                                </a>
                                <a class="nav-link collapsed {% if request.resolver_match.url_name == 'calendar'%}active{% endif %}
                                                                {% if request.resolver_match.url_name == 'resource_leave_calendar'%}active{% endif %}" href="#" data-bs-toggle="collapse"
                                       data-bs-target="#collapseLayoutsBusiness" aria-expanded="false" aria-controls="collapseLayouts6">
                                        <div class="sb-nav-link-icon"><span class="mdi mdi-calendar-check sidebar-section-nav__item-icon"></span></div>
                                        Calendar
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse {% if request.resolver_match.url_name == 'calendar'%}show{% endif %}
                                                        {% if request.resolver_match.url_name == 'resource_leave_calendar'%}show{% endif %}" id="collapseLayoutsBusiness" aria-labelledby="headingOne"
                                         data-bs-parent="#sidenavAccordion">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link {% if request.resolver_match.url_name == 'calendar'%}active{% endif %}" href="{% url 'calendar' %}">View Calendar</a>
                                            <a class="nav-link {% if request.resolver_match.url_name == 'resource_leave_calendar'%}active{% endif %}" href="{% url 'resource_leave_calendar' %}">Holiday List</a>
                                        </nav>
                                    </div>
                                <a class="nav-link collapsed {% if request.resolver_match.url_name == 'view_leave'%}active{% endif %} {% if request.resolver_match.url_name == 'view_your_leave'%}active{% endif %}" href="{% url 'view_leave' %}" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon"><span class="mdi mdi-led-off sidebar-section-nav__item-icon"></span></div>
                                    Leave
                                </a>
                                <a class="nav-link collapsed {% if request.resolver_match.url_name == 'total_resource_attend'%}active{% endif %} {% if request.resolver_match.url_name == 'total_resource_attend'%}active{% endif %}" href="{% url 'total_resource_attend' %}" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon">
                                        <span class="mdi mdi-account-convert sidebar-section-nav__item-icon"></span>
                                    </div>
                                    Total Attendance
                                </a>

                            <!--New Role User For Resource Business Development Execute-->
                            {% elif  request.user.email|get_custom_role:request.user.email_id == 'business_development_execute' and request.user.is_authenticated %}
                                <a class="nav-link {% if request.resolver_match.url_name == 'task_board'%}active{% endif %}" href="{% url 'task_board' %}">
                                    <div class="sb-nav-link-icon">
                                        <span class="mdi mdi-clipboard-check sidebar-section-nav__item-icon"></span>
                                    </div>
                                    Task Board
                                </a>
                                <a class="nav-link collapsed {% if request.resolver_match.url_name == 'add_lead'%}active{% endif %}" href="{% url 'add_lead' %}" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon">
                                        <span class="mdi mdi-label-outline sidebar-section-nav__item-icon"></span>
                                    </div>
                                    Add Lead
                                </a>
                                <a class="nav-link collapsed {% if request.resolver_match.url_name == 'view_lead'%}active{% endif %}" href="{% url 'view_lead' %}" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon">
                                        <span class="mdi mdi-unfold-more-horizontal sidebar-section-nav__item-icon"></span></div>
                                    LeadList
                                </a>
                                <a class="nav-link collapsed {% if request.resolver_match.url_name == 'resource_projects'%}active{% endif %}" href="{% url 'resource_projects' %}" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon">
                                        <span class="mdi mdi-view-dashboard-variant sidebar-section-nav__item-icon"></span>
                                    </div>
                                        View Project
                                </a>
                                <a class="nav-link collapsed {% if request.resolver_match.url_name == "view_attend"%}active{% endif %}" href="{% url 'view_attend' %}" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon">
                                        <span class="mdi mdi-watch-export-variant sidebar-section-nav__item-icon"></span>
                                    </div>
                                        Attendance
                                </a>
                                <a class="nav-link collapsed {% if request.resolver_match.url_name == 'view_salary'%}active{% endif %}" href="{% url 'view_salary' %}" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon">
                                        <span class="mdi mdi-basket sidebar-section-nav__item-icon"></span> 
                                    </div>
                                    Salary
                                </a>
                                <a class="nav-link collapsed {% if request.resolver_match.url_name == 'calendar'%}active{% endif %}
                                                                {% if request.resolver_match.url_name == 'resource_leave_calendar'%}active{% endif %}" href="#" data-bs-toggle="collapse"
                                       data-bs-target="#collapseLayoutsBusiness" aria-expanded="false" aria-controls="collapseLayouts6">
                                        <div class="sb-nav-link-icon"><span class="mdi mdi-calendar-check sidebar-section-nav__item-icon"></span></div>
                                        Calendar
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse {% if request.resolver_match.url_name == 'calendar'%}show{% endif %}
                                                        {% if request.resolver_match.url_name == 'resource_leave_calendar'%}show{% endif %}" id="collapseLayoutsBusiness" aria-labelledby="headingOne"
                                         data-bs-parent="#sidenavAccordion">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link {% if request.resolver_match.url_name == 'calendar'%}active{% endif %}" href="{% url 'calendar' %}">View Calendar</a>
                                            <a class="nav-link {% if request.resolver_match.url_name == 'resource_leave_calendar'%}active{% endif %}" href="{% url 'resource_leave_calendar' %}">Holiday List</a>
                                        </nav>
                                    </div>
                                <a class="nav-link collapsed {% if request.resolver_match.url_name == 'view_leave'%}active{% endif %} {% if request.resolver_match.url_name == 'view_your_leave'%}active{% endif %}" href="{% url 'view_leave' %}" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon"><span class="mdi mdi-led-off sidebar-section-nav__item-icon"></span></div>
                                    Leave
                                </a>
                                <a class="nav-link collapsed {% if request.resolver_match.url_name == 'total_resource_attend'%}active{% endif %} {% if request.resolver_match.url_name == 'total_resource_attend'%}active{% endif %}" href="{% url 'total_resource_attend' %}" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon">
                                        <span class="mdi mdi-account-convert sidebar-section-nav__item-icon"></span>
                                    </div>
                                    Total Attendance
                                </a>
                        <!--End Role User -->

                            <!-- Client User View-->
                            {% elif request.user.email|get_custom_role:request.user.email_id == 'client' and request.user.is_authenticated %}
                                <a class="nav-link {% if request.resolver_match.url_name == 'task_board'%}active{% endif %}" href="{% url 'task_board' %}">
                                    <div class="sb-nav-link-icon">
                                        <span class="mdi mdi-clipboard-check sidebar-section-nav__item-icon"></span>    
                                    </div>
                                    Task Board
                                </a>
                                <a class="nav-link collapsed {% if request.resolver_match.url_name == 'client_projects'%}active{% endif %}" href="{% url 'client_projects' %}" aria-expanded="false" aria-controls="collapseLayouts">
                                        <div class="sb-nav-link-icon">
                                            <span class="mdi mdi-professional-hexagon sidebar-section-nav__item-icon"></span>
                                        </div>
                                        Project List
                                </a>
                                <a class="nav-link collapsed {% if request.resolver_match.url_name == 'resource_list'%}active{% endif %}" href="{% url 'resource_list' %}" aria-expanded="false" aria-controls="collapseLayouts">
                                        <div class="sb-nav-link-icon">
                                            <span class="mdi mdi-wrap sidebar-section-nav__item-icon"></span>
                                        </div>
                                        Resource List
                                </a>
                                <a class="nav-link collapsed {% if request.resolver_match.url_name == 'query_list'%}active{% endif %}" href="{% url 'query_list' %}" aria-expanded="false" aria-controls="collapseLayouts">
                                        <div class="sb-nav-link-icon">
                                            <span class="mdi mdi-cloud-braces sidebar-section-nav__item-icon"></span></div>
                                        Query List
                                </a>

                            <!--Resource Member View-->
                            {% elif request.user.email|get_custom_role:request.user.email_id == 'resource_member' %}
                                <a class="nav-link {% if request.resolver_match.url_name == 'task_board'%}active{% endif %}" href="{% url 'task_board' %}">
                                    <div class="sb-nav-link-icon">
                                        <span class="mdi mdi-clipboard-check sidebar-section-nav__item-icon"></span>
                                    </div>
                                    Task Board
                                </a>
                                <a class="nav-link collapsed {% if request.resolver_match.url_name == "resource_projects"%}active{% endif %}" href="{% url 'resource_projects' %}" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon">
                                        <span class="mdi mdi-view-dashboard-variant sidebar-section-nav__item-icon"></span>
                                    </div>
                                    View Projects
                                </a>
                                <a class="nav-link collapsed {% if request.resolver_match.url_name == "resource_attend"%}active{% endif %}" href="{% url 'resource_attend' %}" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon">
                                        <span class="mdi mdi-watch-export-variant sidebar-section-nav__item-icon"></span>
                                    </div>
                                    View Attendence
                                </a>
                                <a class="nav-link collapsed {% if request.resolver_match.url_name == 'view_list'%}active{% endif %}" href="{% url 'view_list' %}" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon">
                                        <span class="mdi mdi-clipboard-text sidebar-section-nav__item-icon"></span>
                                    </div>
                                    WorkLog
                                </a>
                                <a class="nav-link collapsed {% if request.resolver_match.url_name == 'view_salary'%}active{% endif %}" href="{% url 'view_salary' %}" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon">
                                        <span class="mdi mdi-basket sidebar-section-nav__item-icon"></span> 
                                    </div>
                                    Salary
                                </a>
                                <a class="nav-link collapsed {% if request.resolver_match.url_name == 'calendar'%}active{% endif %}
                                                                {% if request.resolver_match.url_name == 'resource_leave_calendar'%}active{% endif %}" href="#" data-bs-toggle="collapse"
                                       data-bs-target="#collapseLayoutsBusiness" aria-expanded="false" aria-controls="collapseLayouts6">
                                        <div class="sb-nav-link-icon"><span class="mdi mdi-calendar-check sidebar-section-nav__item-icon"></span></i></div>
                                        Calendar
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse {% if request.resolver_match.url_name == 'calendar'%}show{% endif %}
                                                        {% if request.resolver_match.url_name == 'resource_leave_calendar'%}show{% endif %}" id="collapseLayoutsBusiness" aria-labelledby="headingOne"
                                         data-bs-parent="#sidenavAccordion">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link {% if request.resolver_match.url_name == 'calendar'%}active{% endif %}" href="{% url 'calendar' %}">View Calendar</a>
                                            <a class="nav-link {% if request.resolver_match.url_name == 'resource_leave_calendar'%}active{% endif %}" href="{% url 'resource_leave_calendar' %}">Holiday List</a>
                                        </nav>
                                    </div>

                                <a class="nav-link collapsed {% if request.resolver_match.url_name == "rm_query"%}active{% endif %}" href="{% url 'rm_query' %}" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon">
                                        <span class="mdi mdi-cloud-braces sidebar-section-nav__item-icon"></span></div>
                                    Query List
                                </a>
                                <a class="nav-link collapsed {% if request.resolver_match.url_name == 'view_leave'%}active{% endif %} {% if request.resolver_match.url_name == 'view_your_leave'%}active{% endif %}" href="{% url 'view_leave' %}" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon">
                                        <span class="mdi mdi-led-off sidebar-section-nav__item-icon"></span>
                                    </div>
                                    Leave
                                </a>
                                <a class="nav-link collapsed {% if request.resolver_match.url_name == 'total_resource_attend'%}active{% endif %} {% if request.resolver_match.url_name == 'total_resource_attend'%}active{% endif %}" href="{% url 'total_resource_attend' %}" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon"><span class="mdi mdi-account-convert sidebar-section-nav__item-icon"></span></div>
                                    Total Attendance
                                </a>

                            <!-- human resource dashboard -->
                            {% elif request.user.email|get_custom_role:request.user.email_id == 'human_resource' %}
                                <a class="nav-link collapsed {% if request.resolver_match.url_name == "view_attend" %}active{% endif %}" href="{% url 'view_attend' %}" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon">
                                        <span class="mdi mdi-watch-export-variant sidebar-section-nav__item-icon"></span>
                                    </div>
                                        Attendance
                                </a>
                                <a class="nav-link collapsed {% if request.resolver_match.url_name == 'view_worklog'%}active{% endif %}" href="{% url 'view_worklog' %}" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon">
                                        <span class="mdi mdi-clipboard-text sidebar-section-nav__item-icon"></span>
                                    </div>
                                    WorkLog
                                </a>
                                <a class="nav-link collapsed {% if request.resolver_match.url_name == "calendar"%}active{% endif %}" href="{% url 'calendar' %}" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon"><span class="mdi mdi-calendar-check sidebar-section-nav__item-icon"></span></div>
                                    View Calendar
                                </a>
                                <a class="nav-link collapsed {% if request.resolver_match.url_name == 'view_leave'%}active{% endif %} {% if request.resolver_match.url_name == 'view_your_leave'%}active{% endif %}" href="{% url 'view_leave' %}" aria-expanded="false" aria-controls="collapseLayouts">
                                        <div class="sb-nav-link-icon">
                                            <span class="mdi mdi-led-off sidebar-section-nav__item-icon"></span>
                                        </div>
                                        Leave
                                </a>
                                <a class="nav-link collapsed {% if request.resolver_match.url_name == 'total_resource_attend'%}active{% endif %} {% if request.resolver_match.url_name == 'total_resource_attend'%}active{% endif %}" href="{% url 'total_resource_attend' %}" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon"><span class="mdi mdi-account-convert sidebar-section-nav__item-icon"></span></div>
                                    Total Attendance
                                </a>

                                <a class="nav-link collapsed {% if request.resolver_match.url_name == 'view_salary'%}active{% endif %}
                                        {% if request.resolver_match.url_name == 'view_account'%}active{% endif %}
                                        {% if request.resolver_match.url_name == 'view_emp_salary'%}active{% endif %}
                                        {% if request.resolver_match.url_name == 'set_monthly_salary'%}active{% endif %}" href="#" data-bs-toggle="collapse"
                                        data-bs-target="#collapseLayoutsSalary" aria-expanded="false" aria-controls="collapseLayouts6">
                                            <div class="sb-nav-link-icon">
                                                <span class="mdi mdi-basket sidebar-section-nav__item-icon"></span>    
                                            </div>
                                            Salary
                                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse {% if request.resolver_match.url_name == 'view_salary'%}show{% endif %}
                                            {% if request.resolver_match.url_name == 'view_emp_salary'%}show{% endif %}
                                            {% if request.resolver_match.url_name == 'view_account'%}show{% endif %}
                                            {% if request.resolver_match.url_name == 'set_monthly_salary'%}show{% endif %}" id="collapseLayoutsSalary" aria-labelledby="headingOne"
                                            data-bs-parent="#sidenavAccordion">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link {% if request.resolver_match.url_name == 'view_emp_salary'%}active{% endif %}" href="{% url 'view_emp_salary' %}">View Salary</a>
                                            <a class="nav-link {% if request.resolver_match.url_name == 'view_salary'%}active{% endif %}" href="{% url 'view_salary' %}">View Monthly Salary</a>
                                            <a class="nav-link {% if request.resolver_match.url_name == 'view_account'%}active{% endif %}" href="{% url 'view_account' %}">Employee Bank Account</a>
                                            {% comment %} <a class="nav-link {% if request.resolver_match.url_name == 'set_monthly_salary'%}active{% endif %}" href="{% url 'set_monthly_salary' %}">Send Salary</a> {% endcomment %}
                                        </nav>
                                    </div>

                            {% endif %}
                        <!--super user model menu-->
                            {% if request.user.is_superuser %}
                            
                                    <a class="nav-link {% if request.resolver_match.url_name == 'task_board'%}active{% endif %}" href="{% url 'task_board' %}">
                                        <div class="sb-nav-link-icon">
                                            <span class="mdi mdi-clipboard-check sidebar-section-nav__item-icon"></span>
                                        </div>
                                        Task Board
                                    </a>

                                    <!--Marketing -->
                                    <a class="nav-link collapsed {% if request.resolver_match.url_name == "view_lead"%}active{% endif %}
                                                                 {% if request.resolver_match.url_name == "view_blog"%}active{% endif %}" href="#" data-bs-toggle="collapse"
                                       data-bs-target="#collapseLayoutsMarketing" aria-expanded="false" aria-controls="collapseLayouts">
                                        <div class="sb-nav-link-icon">
                                            <span class="mdi mdi-shopping sidebar-section-nav__item-icon"></span>
                                        </div>
                                        Marketing
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse {% if request.resolver_match.url_name == "view_lead"%}show{% endif %}
                                                         {% if request.resolver_match.url_name == "view_blog"%}show{% endif %}" id="collapseLayoutsMarketing" aria-labelledby="headingOne"
                                         data-bs-parent="#sidenavAccordion">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link {% if request.resolver_match.url_name == "view_lead"%}active{% endif %}" href="{% url 'view_lead' %}">Lead with Follow Up</a>
                                            <a class="nav-link {% if request.resolver_match.url_name == "view_blog"%}active{% endif %}" href="{% url 'view_blog' %}">Blog Detail</a>
                                        </nav>
                                    </div>
                                    <!--Business-->
                                    <a class="nav-link collapsed {% if request.resolver_match.url_name == 'view_project_rqd'%}active{% endif %}
                                        {% if request.resolver_match.url_name == 'project_resource'%}active{% endif %}" href="#" data-bs-toggle="collapse"
                                       data-bs-target="#collapseLayoutsBusiness" aria-expanded="false" aria-controls="collapseLayouts6">
                                        <div class="sb-nav-link-icon">
                                            <span class="mdi mdi-basket sidebar-section-nav__item-icon"></span>    
                                        </div>
                                        Business
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse {% if request.resolver_match.url_name == 'view_project_rqd'%}show{% endif %}
                                                        {% if request.resolver_match.url_name == 'project_resource'%}show{% endif %}" id="collapseLayoutsBusiness" aria-labelledby="headingOne"
                                         data-bs-parent="#sidenavAccordion">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link {% if request.resolver_match.url_name == 'view_project_rqd'%}active{% endif %}" href="{% url 'view_project_rqd' %}">Projects with RQD</a>
                                            <a class="nav-link {% if request.resolver_match.url_name == 'project_resource'%}active{% endif %}" href="{% url 'project_resource' %}">Project Resource</a>
                                        </nav>
                                    </div>
                                    <!--Salary-->
                                    <a class="nav-link collapsed {% if request.resolver_match.url_name == 'view_salary'%}active{% endif %}
                                        {% if request.resolver_match.url_name == 'view_account'%}active{% endif %}
                                        {% if request.resolver_match.url_name == 'view_emp_salary'%}active{% endif %}
                                        {% if request.resolver_match.url_name == 'set_monthly_salary'%}active{% endif %}" href="#" data-bs-toggle="collapse"
                                        data-bs-target="#collapseLayoutsSalary" aria-expanded="false" aria-controls="collapseLayouts6">
                                            <div class="sb-nav-link-icon">
                                                <span class="mdi mdi-basket sidebar-section-nav__item-icon"></span>    
                                            </div>
                                            Salary
                                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse {% if request.resolver_match.url_name == 'view_salary'%}show{% endif %}
                                            {% if request.resolver_match.url_name == 'view_emp_salary'%}show{% endif %}
                                            {% if request.resolver_match.url_name == 'view_account'%}show{% endif %}
                                            {% if request.resolver_match.url_name == 'set_monthly_salary'%}show{% endif %}" id="collapseLayoutsSalary" aria-labelledby="headingOne"
                                            data-bs-parent="#sidenavAccordion">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link {% if request.resolver_match.url_name == 'view_emp_salary'%}active{% endif %}" href="{% url 'view_emp_salary' %}">View Salary</a>
                                            <a class="nav-link {% if request.resolver_match.url_name == 'view_salary'%}active{% endif %}" href="{% url 'view_salary' %}">View Monthly Salary</a>
                                            <a class="nav-link {% if request.resolver_match.url_name == 'view_account'%}active{% endif %}" href="{% url 'view_account' %}">Employee Bank Account</a>
                                            {% comment %} <a class="nav-link {% if request.resolver_match.url_name == 'set_monthly_salary'%}active{% endif %}" href="{% url 'set_monthly_salary' %}">Send Salary</a> {% endcomment %}
                                        </nav>
                                    </div>
                                    <!--Master-->
                                    <a class="nav-link {% if request.resolver_match.url_name == 'view_client'%}active{% endif %}
                                                                {% if request.resolver_match.url_name == 'view_leave'%}active{% endif %}
                                                                {% if request.resolver_match.url_name == 'view_projects'%}active{% endif %}
                                                                {% if request.resolver_match.url_name == 'view_attend'%}active{% endif %}
                                                                {% if request.resolver_match.url_name == 'calendar'%}active{% endif %}
                                                                {% if request.resolver_match.url_name == 'viewRQD'%}active{% endif %}
                                                                {% if request.resolver_match.url_name == 'view_leave_calendar'%}active{% endif %}
                                                                {% if request.resolver_match.url_name == 'calendar'%}active{% endif %}
                                                                {% if request.resolver_match.url_name == 'view_applicant'%}active{% endif %}
                                                                {% if request.resolver_match.url_name == 'view_web_queries'%}active{% endif %}
                                                                {% if request.resolver_match.url_name == 'view_subscriber'%}active{% endif %}
                                                                {% if request.resolver_match.url_name == 'view_worklog'%}active{% endif %}
                                                                {% if request.resolver_match.url_name == 'total_resource_attend'%}active{% endif %}
                                                                {% if request.resolver_match.url_name == 'resource_progress_list'%}active{% endif %}
                                                                {% if request.resolver_match.url_name == 'viewResource'%}active{% endif %}" href="#" data-bs-toggle="collapse"
                                       data-bs-target="#collapseLayoutsMaster" aria-expanded="false" aria-controls="collapseLayouts">
                                        <div class="sb-nav-link-icon">
                                            <span class="mdi mdi-material-ui sidebar-section-nav__item-icon"></span>
                                        </div>
                                        Master
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="show {% if request.resolver_match.url_name == 'view_client'%}show{% endif %}
                                                        {% if request.resolver_match.url_name == 'view_projects'%}show{% endif %}
                                                        {% if request.resolver_match.url_name == 'view_attend'%}show{% endif %}
                                                        {% if request.resolver_match.url_name == 'calendar'%}show{% endif %}
                                                        {% if request.resolver_match.url_name == 'viewRQD'%}show{% endif %}
                                                        {% if request.resolver_match.url_name == 'viewResource'%}show{% endif %}
                                                        {% if request.resolver_match.url_name == 'view_leave'%}show{% endif %}
                                                        {% if request.resolver_match.url_name == 'view_applicant'%}show{% endif %}
                                                        {% if request.resolver_match.url_name == 'view_web_queries'%}show{% endif %}
                                                        {% if request.resolver_match.url_name == 'view_subscriber'%}show{% endif %}
                                                        {% if request.resolver_match.url_name == 'view_worklog'%}show{% endif %}
                                                        {% if request.resolver_match.url_name == 'total_resource_attend'%}show{% endif %}
                                                        {% if request.resolver_match.url_name == 'resource_progress_list'%}show{% endif %}
                                                        {% if request.resolver_match.url_name == 'view_leave_calendar'%}show{% endif %} " id="collapseLayoutsMaster" aria-labelledby="headingOne"
                                                data-bs-parent="#sidenavAccordion">
                                        <nav id = "subSidenavAccordion" class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link collapsed {% if request.resolver_match.url_name == 'view_leave'%}active{% endif %}
                                                                        {% if request.resolver_match.url_name == 'view_leave_calendar'%}active{% endif %}
                                                                        {% if request.resolver_match.url_name == 'calendar'%}active{% endif %}" href="#" data-bs-toggle="collapse"
                                                                        id="leaveCalenderNav" data-bs-target="#collapseLayoutsMasterLeave" aria-expanded="false" aria-controls="collapseLayouts">
                                                                            <div class="sb-nav-link-icon">
                                                                                <span class="mdi mdi-led-off sidebar-section-nav__item-icon"></span></div>
                                                                Leaves
                                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                            </a>
                                            <div class="collapse {% if request.resolver_match.url_name == 'view_leave_calendar'%}show{% endif %}
                                                                {% if request.resolver_match.url_name == 'view_leave'%}show{% endif %}
                                                                {% if request.resolver_match.url_name == 'calendar'%}show{% endif %}" id="collapseLayoutsMasterLeave" aria-labelledby="headingTwo"
                                                                data-bs-parent="#subSidenavAccordion">
                                                <nav class="sb-sidenav-menu-nested nav">
                                                    <a class="nav-link {% if request.resolver_match.url_name == 'view_leave_calendar'%}active{% endif %}" href="{% url 'view_leave_calendar' %}"><div class="sb-nav-link-icon">
                                                        <span class="mdi mdi-led-off sidebar-section-nav__item-icon"></span></div>Leaves Calendar</a>
                                                    <a class="nav-link {% if request.resolver_match.url_name == 'view_leave'%}active{% endif %}" href="{% url 'view_leave' %}"><div class="sb-nav-link-icon">
                                                        <span class="mdi mdi-led-off sidebar-section-nav__item-icon"></span></div>Leaves</a>
                                                    <a class="nav-link {% if request.resolver_match.url_name == 'calendar'%}active{% endif %}" href="{% url 'calendar' %}"><div class="sb-nav-link-icon">
                                                        <span class="mdi mdi-led-off sidebar-section-nav__item-icon"></span></div>Calendar</a>
                                                    </li>

                                                </nav>
                                            </div>
                                            <a class="nav-link {% if request.resolver_match.url_name == 'viewResource'%}active{% endif %}" href="{% url 'viewResource' %}"><div class="sb-nav-link-icon">
                                                <span class="mdi mdi-material-ui sidebar-section-nav__item-icon"></span>
                                            </div>Resource Detail</a>
                                            <a class="nav-link {% if request.resolver_match.url_name == 'view_client'%}active{% endif %}" href="{% url 'view_client' %}"><div class="sb-nav-link-icon">
                                                <span class="mdi mdi-material-ui sidebar-section-nav__item-icon"></span>
                                            </div>Client Detail</a>
                                            <a class="nav-link {% if request.resolver_match.url_name == 'view_projects'%}active{% endif %}" href="{% url 'view_projects' %}"><div class="sb-nav-link-icon">
                                                <span class="mdi mdi-material-ui sidebar-section-nav__item-icon"></span>
                                            </div>Project Detail</a>
                                            <a class="nav-link {% if request.resolver_match.url_name == 'view_attend'%}active{% endif %}" href="{% url 'view_attend' %}"><div class="sb-nav-link-icon">
                                                <span class="mdi mdi-material-ui sidebar-section-nav__item-icon"></span>
                                            </div>Attendance</a>
                                            <a class="nav-link {% if request.resolver_match.url_name == 'view_worklog'%}active{% endif %}" href="{% url 'view_worklog' %}"><div class="sb-nav-link-icon">
                                                <span class="mdi mdi-material-ui sidebar-section-nav__item-icon"></span>
                                            </div>View WorkLog</a>
                                            <a class="nav-link {% if request.resolver_match.url_name == 'viewRQD'%}active{% endif %}" href="{% url 'viewRQD' %}"><div class="sb-nav-link-icon">
                                                <span class="mdi mdi-material-ui sidebar-section-nav__item-icon"></span>
                                            </div>Raised Query Detail</a>
                                            <a class="nav-link {% if request.resolver_match.url_name == 'view_applicant'%}active{% endif %}" href="{% url 'view_applicant' %}"><div class="sb-nav-link-icon">
                                                <span class="mdi mdi-material-ui sidebar-section-nav__item-icon"></span>
                                            </div>JobApplicant Details</a>
                                            <a class="nav-link {% if request.resolver_match.url_name == 'view_web_queries'%}active{% endif %}" href="{% url 'view_web_queries' %}"><div class="sb-nav-link-icon">
                                                <span class="mdi mdi-material-ui sidebar-section-nav__item-icon"></span>
                                            </div>WebQueries Detail</a>
                                            <a class="nav-link {% if request.resolver_match.url_name == 'total_resource_attend'%}active{% endif %}" href="{% url 'total_resource_attend' %}"><div class="sb-nav-link-icon">
                                                <span class="mdi mdi-material-ui sidebar-section-nav__item-icon"></span>
                                            </div>Total Attendance</a>
                                            <a class="nav-link {% if request.resolver_match.url_name == 'resource_progress_list'%}active{% endif %}" href="{% url 'resource_progress_list' %}"><div class="sb-nav-link-icon">
                                                <span class="mdi mdi-material-ui sidebar-section-nav__item-icon"></span>
                                            </div>Resource Progress</a>
                                            <a class="nav-link {% if request.resolver_match.url_name == 'view_subscriber'%}active{% endif %}" href="{% url 'view_subscriber' %}"><div class="sb-nav-link-icon">
                                                <span class="mdi mdi-material-ui sidebar-section-nav__item-icon"></span>
                                            </div>Subscriber Detail</a>
                                            <div class="dropdown-divider"></div>
                                        </nav>
                                    </div>
                            {% endif %}
                        </div>
                    </div>
                </nav>
            </div>
            
            <div class="mt-5" id="layoutSidenav_content">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{message.tags}} alert-dismissible fade show m-0" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}  
                {% endif %}

               <div>
                {% block content %}
                {% endblock %}
               </div>
                

            </div>
        </div>
        {% block scripts %}
     
        {% if request.resolver_match.url_name == 'task_board' %}
            <script src="{% static 'new/js/jquery.min.js' %}"></script>
            <script src="{% static 'new/js/bootstrap.bundle.min.js' %}"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        {% else %}
            
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        {% endif %}
        <script src="{% static 'new/js/echarts.min.js' %}"></script>
        <script src="{% static 'new/js/frappe-charts.min.iife.js' %}"></script> 
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="{% static 'new/js/scripts.js' %}"></script>
        <script src="{% static 'new/js/ck.js' %}"></script>
        <script src="{% static 'new/assets/demo/chart-area-demo.js' %}"></script>
        <script src="{% static 'new/assets/demo/chart-bar-demo.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="{% static 'new/js/datatables-simple-demo.js' %}"></script>
        
        
        {% endblock %}
    </body>
</html>