{% extends "new/layout.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="page-content__header mt-4">
              <!-- <div>
              <h2 class="page-content__header-heading">Dashboard</h2>
             
            </div> -->
           
          </div>

          <div class="page-content__header mt-4 bg-white">
            <div>
              <h2 class="page-content__header-heading">Projects</h2>
            
            </div>
            <div class="page-content__header-meta">
             
            </div>
          </div>

      
        <div class="card mt-1">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Resource Member Query
            </div>
            <div class="card-body">
                <table class="table table_head" id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>SN</th>
                            <th>Project Name</th>
                            <th>Description</th>
                            <th>File</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for element in data %}  
                            <tr>
                                <td scope="row">{{forloop.counter}}</td>
                                <td>{{element.project}}</td>
                                <td>{{element.description}}</td>
                                <td>
                                    <a class="text-dark" href="{% url 'view_files' element.project.name %}" style="text-decoration: none;" target="_blank" download="non" ><small>{{element.filename}}</small></a></p>                                </td>
                                </td>
                            </tr>
                            {% endfor %}    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}