/* .dataTable-wrapper.no-header .dataTable-container {
	border-top: 1px solid #d9d9d9;
}

.dataTable-wrapper.no-footer .dataTable-container {
	border-bottom: 1px solid #d9d9d9;
}

.dataTable-top,
.dataTable-bottom {
	padding: 8px 10px;
}

.dataTable-top > nav:first-child,
.dataTable-top > div:first-child,
.dataTable-bottom > nav:first-child,
.dataTable-bottom > div:first-child {
	float: left;
}

.dataTable-top > nav:last-child,
.dataTable-top > div:last-child,
.dataTable-bottom > nav:last-child,
.dataTable-bottom > div:last-child {
	float: right;
}

.dataTable-selector {
	padding: 6px;
}

.dataTable-input {
	padding: 6px 12px;
}

.dataTable-info {
	margin: 7px 0;
}

/* PAGER */

body.sb-sidenav-toggled #layoutSidenav #layoutSidenav_content .container  {
    max-width: 84% !important;
    margin-left: 248px !important;
}

body.sb-sidenav-toggled nav.sb-topnav.navbar.fixed-top.navbar-expand.navbar-dark .col-md-5 h4 {
    margin-left: -290px;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #ebf2f6 !important;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-family: 'Open Sans', sans-serif !important;
}
a{
    text-decoration: none !important;
}
.dataTable-pagination ul {
	margin: 0;
	padding-left: 0;
}

.dataTable-pagination li {
	list-style: none;
	float: left;
}

.dataTable-pagination a {
	border: 1px solid transparent;
	float: left;
	margin-left: 2px;
	padding: 6px 12px;
	position: relative;
	text-decoration: none;
	color: #333;
}

.dataTable-pagination a:hover {
	background-color: #d9d9d9;
}

.dataTable-pagination .active a,
.dataTable-pagination .active a:focus,
.dataTable-pagination .active a:hover {
	background-color: #d9d9d9;
	cursor: default;
}

.dataTable-pagination .ellipsis a,
.dataTable-pagination .disabled a,
.dataTable-pagination .disabled a:focus,
.dataTable-pagination .disabled a:hover {
	cursor: not-allowed;
}

.dataTable-pagination .disabled a,
.dataTable-pagination .disabled a:focus,
.dataTable-pagination .disabled a:hover {
	cursor: not-allowed;
	opacity: 0.4;
}

.dataTable-pagination .pager a {
	font-weight: bold;
}

/* TABLE */
.dataTable-table {
	max-width: 100%;
	width: 100%;
	border-spacing: 0;
	border-collapse: separate;
}

.dataTable-table > tbody > tr > td,
.dataTable-table > tbody > tr > th,
.dataTable-table > tfoot > tr > td,
.dataTable-table > tfoot > tr > th,
.dataTable-table > thead > tr > td,
.dataTable-table > thead > tr > th {
	vertical-align: top;
	padding: 8px 10px;
}

.dataTable-table > thead > tr > th {
	vertical-align: bottom;
	text-align: left;
	border-bottom: 1px solid #d9d9d9;
}

.dataTable-table > tfoot > tr > th {
	vertical-align: bottom;
	text-align: left;
	border-top: 1px solid #d9d9d9;
}

.dataTable-table th {
	vertical-align: bottom;
	text-align: left;
}

.dataTable-table th a {
	text-decoration: none;
	color: inherit;
}

.dataTable-sorter {
	display: inline-block;
	height: 100%;
	position: relative;
	width: 100%;
}

.dataTable-sorter::before,
.dataTable-sorter::after {
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	right: 4px;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	opacity: 0.2;
}

.dataTable-sorter::before {
	border-top: 4px solid #000;
	bottom: 0px;
}

.dataTable-sorter::after {
	border-bottom: 4px solid #000;
	border-top: 4px solid transparent;
	top: 0px;
}

.asc .dataTable-sorter::after,
.desc .dataTable-sorter::before {
	opacity: 0.6;
}

.dataTables-empty {
	text-align: center;
}

.dataTable-top::after, .dataTable-bottom::after {
	clear: both;
	content: " ";
	display: table;
} */


/*Start css by akash saxena */
.cus_dash h3 {
    font-size: 18px;
    font-weight: 400;
    margin-top: 5px;
    text-transform: uppercase;
}


.col-md-7.cus_dash.fade.show.m-0 span {
    vertical-align: middle;
}
.col-md-7.cus_dash.fade.show.m-0 h4 {
    margin-left: -20px;
}


.cus_card {
    box-shadow: 2px 2px 2px #ccc;
}

.sb-topnav.navbar-dark #sidebarToggle {
    color: rgb(0 0 0 / 50%) !important;
    margin-left: 14px;
}


.sb-sidenav .sb-sidenav-menu .nav .nav-link {
    display: flex;
    align-items: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    position: relative;
 
}
svg:not(:root).svg-inline--fa {
    overflow: visible;
    color: #249cf2 !important;
}

.cus_card {
    box-shadow: 0px 4px 5px #ccc;
}

.cus_head {
    background-color: #43b2f8;
    margin-left: -12px;
    margin-right: -12px;
    padding-top: 9px;
}

.cus_head h5 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    text-align: left !important;
    padding-left: 10px;
}

svg.svg-inline--fa.fa-eye.fa-w-18.mx-2 {
    color: #035080 !important;
}
span.fw-bolder {
    color: #2372bb;
}

.bg-darkk {
    background-color: #10b2ff !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(0 0 0 / 55%) !important;
}

.cus-hed {
    padding: 1.75rem 1rem 0.75rem;
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #85909f !important;
}

p.text-center.cus_circle {
    border: 1px solid #ccc;
    width: 12%;
    border-radius: 16px;
    box-shadow: 0px 0px 2px 2px #ccc;
    float: right;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
  
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}



.card.m-3.cus_card:hover {
    box-shadow: 0px 0px 4px 2px #ccc;
}

.widget {
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgb(147 157 170 / 3%);
    padding: 16px 17px;
    font-size: 15px;
    color: #222;
    margin-bottom: 20px;
    border-radius: 3px;
}
.widget-user-card {
    padding: 0;
}
.widget-user-card__bg {
    height: 156px;
    background: url(../img/user-card-bg.png) top no-repeat;
    background-size: cover;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.widget-user-card__content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: -82px;
    text-align: center;
    padding-bottom: 32px;
}
.widget-user-card__avatar {
    margin-bottom: 20px;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn-lg.btn-rounded {
    border-radius: 48px;
}
.btn.btn--rounded, .btn.btn-rounded {
    border-radius: 21px;
}
.widget-user-card__follow {
    min-width: 160px;
}
.btn-lg {
    padding: 11px 21px;
    font-size: 17px;
    line-height: 24px;
}
.btn-info {
    background-color: #269af1;
    border-color: #269af1;
}
.btn-info, .btn-outline-success.active:after, .btn-outline-success:active:after, .btn-outline-success:focus:after, .btn-outline-success:hover:after, .btn.btn-outline-success.dropdown-toggle.active:after, .btn.btn-outline-success.dropdown-toggle:active:after, .btn.btn-outline-success.dropdown-toggle:focus:after, .btn.btn-outline-success.dropdown-toggle:hover:after {
    color: #fff;
}

.widget-user-card__statistics {
    background: #f4f9fc;
    padding: 19px 43px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
/*End*/
/*task management Css*/
/* When the input field gets focus, change its width to 100% */

.header_user input[type=text]:focus {
  width: 300px;
}

.header_user input[type=text] {
    width: 300px;
    /* -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out; */
}

/*.header_user ul li {
    display: inline-block !important;
}*/
.header_user ul li {
    display: inline-flex !important;
}
.header_user ul li img {
    width: 13%;
}

.header_user ul li img {
    width: 37px;
    margin-right: -13px;
}

div.photo-container {
    max-width: 500px;
    height: auto;
    position: relative;
    /* margin: 1.563em auto; */
}

div.photo-container a {
    
    text-decoration: none;
    color: #fff;
    cursor: default;
    font-weight: normal;
}

div.photo-container a span {
    visibility: hidden;
    position: absolute;
    left: -1.3em;
    top: 3em;
    background: #000;
    width: 10em;
    border: 1px solid #404040;
    font-size: 0.8em;
    padding: 0.3em;
    cursor: default;
    line-height: 1.4;
	border-radius: 7px;
	text-align:center;
	    z-index: 999;
}

div.photo-container a:hover span {
    visibility: visible;
}

li.cus_isd {
    margin-left: 26px;
}

li.cus_isd i {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 16px;
    color: #43b2f8;
}

li.cus_isd a:hover {
    background-color: #453f3f;
    border-radius: 16px;
    box-shadow: 0px 0px 4px 4px #ccc;
}



/* 7.2. TODO PANEL */
.todo--panel .list-group {
    position: relative;
    max-height: 314px;
    margin-bottom: 0;
    padding-top: 23px;
    padding-bottom: 25px;
    overflow: auto;
    z-index: 0;
}

.todo--panel .list-group:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    border-top: 1px solid #eee;
}

.todo--panel .list-group-item {
    margin-top: 27px;
    padding: 0;
    border-width: 0;
}

li.list-group-item:first-child {
    margin-top: 0;
}

.todo--label {
    padding-left: 20px;
    padding-right: 30px;
    color: #696969;
    font-weight: 400;
}

.todo--input {
    display: none;
}

.todo--text {
    display: block;
    position: relative;
    padding-left: 39px;
    -webkit-transition: color .25s;
    transition: color .25s;
    cursor: pointer;
    z-index: 0;
}

.todo--text:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.todo--text:after {
    content: "\f00c";
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    color: #fff;
    background-color: #009378;
    border-radius: 2px;
    font-family: "Font Awesome\ 5 Free";
    font-size: 11px;
    line-height: 21px;
    font-weight: 700;
    text-align: center;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
    -webkit-transition: opacity .25s linear, -webkit-transform .25s linear;
    transition: opacity .25s linear, -webkit-transform .25s linear;
    transition: opacity .25s linear, transform .25s linear;
    transition: opacity .25s linear, transform .25s linear, -webkit-transform .25s linear;
}

.todo--input:checked + .todo--text {
    color: #999;
    text-decoration: line-through;
}

.todo--input:checked + .todo--text:after {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: scale(1);
            transform: scale(1);
}

.todo--remove {
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -15px;
    color: #999;
    font-size: 18px;
    line-height: 28px;
}

.todo--panel .input-group {
    border-top: 1px solid #eee;
}

.todo--panel .form-control {
    height: auto;
    padding: 13px 20px 14px;
    border-width: 0;
}

.todo--panel .btn-link {
    padding: 12px 16px;
    color: #ccc;
    font-size: 28px;
    border-width: 0;
}

.todo--panel .ps__rail-x,
.todo--panel .ps__rail-y {
    z-index: 1;
}

.todo--extras .fa {
    margin-left: 15px;
    font-size: 16px;
    line-height: 22px;
}

.todo--date {
    margin-left: 15px;
    white-space: nowrap;
}

.todo--actions {
    margin-left: 10px;
    padding-left: 10px;
}

.todo--actions > .fa {
    cursor: pointer;
}

.todo--filter {
    padding-left: 20px;
    font-size: 20px;
    line-height: 30px;
}


/* 5.21. PANEL */
.panel {
    margin-bottom: 30px;
    color: #696969;
    background-color: #f6f6f6;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgb(0 0 0 / 8%);
    height: 400px;
}

.panel-heading {
    color: #393939;
    padding: 10px 20px;
    border-width: 0;
    border-radius: 0;
}

.panel-heading:before,
.panel-heading:after {
    content: " ";
    display: table;
}

.panel-heading:after {
    clear: both;
}

.panel-title {
    float: left;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.panel-title select {
    border-width: 0;
    background-color: transparent;
    text-transform: uppercase;
}

.panel-title select option {
    text-transform: capitalize;
}

.panel-title .select2 {
    display: block;
    min-width: 200px;
}

.panel-title .select2-selection {
    height: auto;
    padding: 0;
    background-color: transparent;
    border-width: 0;
    border-radius: 0;
    overflow: hidden;
    white-space: nowrap;
}

.no-outlines .panel-title .select2-selection {
    outline: 0;
}

.panel-title .select2-selection .select2-selection__rendered {
    float: left;
    margin-right: 8px;
    padding: 0;
    line-height: inherit;
}

.panel-title .select2-selection .select2-selection__arrow {
    float: left;
    display: block;
    position: relative;
    top: auto;
    right: auto;
    width: auto;
    height: auto;
}

.panel-title .select2-selection .select2-selection__arrow:before {
    content: "\f107";
    font-family: "Font Awesome\ 5 Free";
    font-weight: 700;
}

.panel-title .select2-container--open .select2-selection__arrow:before {
    content: "\f106";
}

.panel-title .select2-selection .select2-selection__arrow b {
    display: none;
}

.panel-heading .dropdown {
    float: right;
}

.panel-heading .dropdown .dropdown-toggle {
    margin: -10px -20px;
    padding: 10px 20px;
    color: #999;
    border-width: 0;
    font-size: 14px;
    line-height: 30px;
    cursor: pointer;
}

.panel-heading .dropdown .dropdown-toggle:after {
    display: none;
}

.panel-heading .dropdown-menu {
    top: 30px !important;
    left: auto !important;
    right: -20px;
    margin: 0;
    padding: 10px 0;
    border-width: 0;
    border-radius: 4px 0 0 4px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .08);
    -webkit-transform: none !important;
            transform: none !important;
    z-index: 1001;
}

.panel-heading .dropdown-menu a {
    padding: 5px 15px;
    color: #999;
    font-size: 13px;
    line-height: 23px;
	text-decoration: none !important;
}

.panel-heading .dropdown-menu a:hover {
    color: #e16123;
}

.panel-heading .dropdown-menu i {
    min-width: 15px;
    margin-right: 6px;
    font-size: 11px;
    text-align: center;
}

.panel-subtitle {
    margin: 20px 0;
}

.panel-subtitle:first-child {
    margin-top: 0;
}

.panel-subtitle .h5 {
    color: #999;
    font-weight: 600;
}

.panel-subtitle .h5 small {
    color: #777;
}

.panel-body {
    padding: 20px;
}

.panel-content {
    position: relative;
    padding: 31px 20px 33px;
    border-top: 1px solid #eee;
    border-radius: 0 0 4px 4px;
}

.panel-about table {
    width: 100%;
    word-break: break-word;
}

.panel-about table tr + tr th,
.panel-about table tr + tr td {
    padding-top: 8px;
}

.panel-about table th {
    min-width: 120px;
    color: #2bb3c0;
    font-weight: 400;
    vertical-align: top;
}

.panel-about table th > i {
    min-width: 14px;
    margin-right: 8px;
    text-align: center;
}

.panel-social {
    position: relative;
    padding: 0 20px 33px;
    border-radius: 0 0 4px 4px;
    z-index: 0;
}

.panel-heading + .panel-social {
    padding-top: 21px;
    border-top: 1px solid #eee;
}

.panel-social > .nav {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
            justify-content: center;
}

.panel-social > .nav > li:not(:last-child) {
    margin-right: 20px;
}

.panel-social > .nav > li > a {
    color: #ccc;
}

.panel-social > .nav > li > a:hover {
    color: #393939;
}

.panel-activity__status > .form-control {
    min-height: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.panel-activity__status > .form-control:not(:focus) {
    border-color: #ccc;
}

.panel-activity__status > .actions {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    padding: 10px 20px;
    background-color: #ebebea;
    border-style: solid;
    border-width: 0 1px 1px;
    border-color: #ccc;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.panel-activity__status > .actions > .btn-group {
    -ms-flex: 1;
        -webkit-box-flex: 1;
            flex: 1;
    font-size: 16px;
}

.panel-activity__status > .actions > .btn-group > .btn-link {
    padding-left: 0;
    padding-right: 0;
    color: #9c9c9c;
}

.panel-activity__status > .actions > .btn-group > .btn-link:hover {
    color: #393939;
}

.panel-activity__status > .actions > .btn-group > .btn-link:not(:last-child) {
    margin-right: 25px;
}

.panel-activity__list {
    position: relative;
    margin: 60px 0 0;
    padding: 0;
    list-style: none;
    z-index: 0;
}
.panel-activity__list:before {
    content: " ";
    display: none;
    position: absolute;
    top: 20px;
    left: 35px;
    bottom: 0;
    border-left: 2px solid #ebebea;
}
.panel-activity__list > li {
    position: relative;
    z-index: 0;
}
.panel-activity__list > li + li {
    margin-top: 51px;
}

.activity__list__icon {
    display: none;
    position: absolute;
    top: 2px;
    left: 0;
    min-width: 30px;
    color: #fff;
    background-color: #2bb3c0;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
}
.activity__list__header {
    position: relative;
    min-height: 35px;
    padding-top: 4px;
    padding-left: 45px;
    color: #999;
    z-index: 0;
}
.activity__list__header img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 35px;
    border-radius: 50%;
}
.activity__list__header p {
    display: inline-block;
    vertical-align: middle;
}
.activity__list__header a {
    color: #222;
    font-weight: 600;
}
.activity__list__body {
    padding-top: 13px;
    padding-left: 43px;
}
.activity__list__footer {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    margin-top: 23px;
    margin-left: 43px;
    padding: 13px 8px 0;
    color: #999;
    border-top: 1px dotted #ccc;
}
.activity__list__footer a {
    color: inherit;
}
.activity__list__footer a:hover {
    color: #222;
}
.activity__list__footer a + a {
    margin-left: 15px;
}
.activity__list__footer i {
    margin-right: 8px;
}
.activity__list__footer span {
    margin-left: auto;
}

@media (min-width: 768px) {
    .panel-activity__list {
        padding-left: 20px;
    }

    .panel-activity__list:before {
        display: block;
    }

    .panel-activity__list > li {
        padding-left: 50px;
    }

    .activity__list__icon {
        display: block;
    }
}
.create_issue a{
    text-decoration: none;
}

/* .create_issue:hover{
    background-color: darkgrey;
    width: 100%;
} */
/* .test_row {
    width: 100%;
    display: flex;
    overflow: scroll;
    flex-flow: row;
    flex-wrap: nowrap;
} */

.test_row {
    width: 100%;
    display: flex;
    overflow: scroll;
    flex-flow: row;
    flex-wrap: nowrap;
    height: 800px;
}
#task_type_box{
    margin-top: 25rem;
}
/*  CSS FOR VIEW BOX */
html {
    scroll-behavior: smooth;
  }
       
  a.aattl {
      color: #000 !important;
      font-size: 14px;
      margin-top: 10px;
  }
  a.aattl span {
      color: #fff;
  }
  
  
  
  .rew_atch {
      margin-top: 16px;
  }
  
  .rew_atch input {
      width: 81%;
  }
  
  .rew_atch ul li {
      display: table-cell;
  }
  
  .cus_points ul:hover {
      background-color: #e9e9e9;
  }
  
  .cus_points ul li {
      font-size: 14px;
  }
  
  
   .btnnn  {
    text-decoration: none;
    color: black;
   } 
   
  #myDiv {
      height:100px;
       margin-top: 6%;
  }
  
  
  
  
  .box_ul {
      border: 1px solid #ccc;
      box-shadow: 0px 0px 4px 0px #ccc;
  }
  
  
  .box_ul ul li {
      padding: 10px 15px 10px 15px;
      border-bottom: 1px solid #ccc;
      margin-left: -12px;
      margin-right: -12px;
  }
  
  
  div#myDivlink {
      margin-top: 50%;
  }
  
  ol, ul, dl {
      margin-top: 0;
      margin-bottom: 0px !important;
  }
  
  
  .box_ul ul li a {
      padding-left: 19px;
      font-size: 14px;
      text-decoration: none;
  }
  .box_ul ul li a:hover {
      text-decoration: underline;
  }
  
  a.ttl {
      color: #262626;
  }
  li.li_hvr:hover {
      background-color: #d9d9d9;
  }
  
  
  .cus_points h3 {
      padding: 16px 0px 6px 0px;
      font-size: 18px;
  }
  
  div#myDiv h4 {
      font-size: 14px;
      margin-bottom: 27px;
      padding-top: 7px;
  }
  
  
  div#cus_filed {
      padding: 10px 0px 10px 0px;
  }
  
  div#cus_filed input {
      margin-bottom: 8px;
  }
  
  .box_hvr {
      background-color: #fff;
      box-shadow: 0px 0px 2px 2px #ccc;
      padding: 10px;
      margin: 8px;
  }
  
  .box_hvr:hover {
      background-color: #e7e7e7;
  }
  
  .todo--panel a  {
      text-decoration:none;
  }
  
  a.cus_a {
      margin: 6px;
  }
  
  div#shw_chkk ul li {
      display: contents;
  }
  div#cmtt textarea {
      width: 100%;
      height: 300px;
      font-size: 14px;
      background-color: #efefef;
  }
  
  td.tbl_hvr:hover {
      background-color: #e1e1e1;
  }
  
  table.table.table-borderless.cus_tbl {
      font-size: 14px;
  }
  
  
  .box_hvr ul li {
      display: inline;
  }
#task_delete{
    border: none;
    background-color: none;
    background: none;
} 
.fa-stack .fa-circle:hover{
    color: deepskyblue;
}

/* Aakash B css for cards on dashboard */

/* CARDS */

.cardings {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .carding {
    margin: 10px;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
  }
  
  .carding:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
  }
  
  .card__link,
  .card__icon {
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
  }
  
  .card__link::after {
    position: absolute;
    top: 25px;
    left: 0;
    content: "";
    width: 0%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 0.5s;
  }
  
  .card__link:hover::after {
    width: 100%;
  }
  
  .card__icon {
  /*   grid-row: 2/3; */
    font-size: 30px;
    padding-left: 100px;
    
  }
  
  .card__title {
    /* font-weight: 400; */
    font-size: 20px;
    color: #ffffff;
  }
  
  .card__apply {
    grid-row: 4/5;
    align-self: center;
  }

  /* CARD BACKGROUNDS */

.card-1 {
    background: radial-gradient(#1fe4f5, #3fbafe);
  }
  /* RESPONSIVE */
  
  
  
  .fa-stack .fa-circle:hover{
      color: deepskyblue;
  }

  .cus_rwe {
    margin-top: 15px;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 8%);
    border-radius: 5px;
    padding: 0px 0px 0px 19px;
    height: 70px;
}

  .btn-green{
    background-color: #0ac500;
    border: 1px solid #35bc11;
    font-weight: 600;
  }

  .cus_txt{
    text-transform: uppercase;
    font-weight: 600;
  }

  button#is_addSprintBtn {
    background-color: #ff5722;
    border-color: #ed4713;
    font-weight: 600;
}

.tile_bxsh {
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 8%);
    border-radius: 5px;
    padding: 11px 15px;
    height: 120px;
}

.tile_bxsh h5 {
    text-transform: capitalize;
}

.header_user {
    /* box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 8%); */
    padding: 0px 0px 0px 19px;
}

.header_user {
    /* box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 8%); */
    padding: 0px 0px 0px 19px;
    margin-bottom: 30px;
}

.cus_serch input {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
}

span.cus_aa {
    text-transform: capitalize;
    font-weight: 600;
    color: #0027ff;
}

/* div#task_sections {
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 8%);
    padding: 10px;
    border-radius: 5px;
} */

div#task_sections {
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 8%);
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    overflow: scroll;
}

.test_row .col-3 {
    margin: 8px;
}

.tooltip {
    position: relative;
    display: inline-block;
   
    opacity: 1 !important;
    color:#000;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  div#layoutSidenav_nav {
    position: fixed;
    width: 247px;
}

#layoutSidenav #layoutSidenav_content {
    margin-left: 270px;
    transition: margin 0.15s ease-in-out;
}

.cus_page_head  {
  /*  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 8%);*/
    padding: 15px;
    border-radius: 5px;
}

.row.justify-content-center {
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 8%);
    border-radius: 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 30px;
    margin-bottom: -30px;
}

.view_lead_head{
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 8%);
    padding: 15px;
    border-radius: 5px;
    margin-top: 19px;
    text-align: left !important;
    font-size: 21px !important;
}

.calendar-sidebar {
    position: absolute;
    margin-top: 0;
    width: 200px;
    height: 100%;
    float: left;
    background-color: #8773c1;
    color: #fff;
    z-index: 1;
    -webkit-box-shadow: 5px 0 18px -3px #8773c1;
    box-shadow: 5px 0 18px -3px #8773c1;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    z-index: 2;
    left: 260px !important;
}

.calendar-inner {
    position: relative;
    padding: 32px 74px;
    float: left;
    width: 100%;
    max-width: calc(100% - 600px);
    margin-left: 357px !important;
    background-color: #fff;
    -webkit-box-shadow: 5px 0 18px -3px rgb(0 0 0 / 15%);
    box-shadow: 5px 0 18px -3px rgb(0 0 0 / 15%);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    z-index: 1;
}

.calendar-events {
    position: absolute;
    top: 0;
    right: 0;
    width: 254px !important;
    height: 100%;
    padding: 70px 30px 60px 30px;
    background-color: #fbfbfb;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    overflow-y: auto;
    z-index: 0;
}

@media (max-width:1920px) {
    .card.m-2 {
        width: 24rem !important;
    }
}

.mt-3.mar_lft_box {
    margin-left: 166px;
}

.cus_bxdl {
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 8%);
}

.cus_bxdl.m-2 table thead {
    background-color: #ff9d00;
    color: #fff;
}

.card.m-2 {
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 8%) !important;
    background-color: white !important;
    border: 1px solid #fff;
    margin-top: 29px !important;
    margin-bottom: 28px !important;
    width: 30% !important;
}

span#total_emp {
    color: #d100ff;
    font-weight: 600;
}

span#present_emp {
    color: #15828b;
    font-weight: 600;
}



.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999 !important;

}

svg.svg-inline--fa.fa-users.fa-w-20.fa-stack-1x.text-light.fa-inverse {
    color: #fff !important;
}
/*SideBar menu css*/
div#collapseLayoutsMaster {
    
    overflow-x: overlay;
}


/*End*/

.cus_search_lft{
margin-left:20%;
}

.calendar-sidebar {

    width: 159px !important;
    }

    .fixed-top, .sb-nav-fixed #layoutSidenav #layoutSidenav_nav, .sb-nav-fixed .sb-topnav {
    position: fixed !important;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    z-index: 999999 !important;
}


/*Custom style write by akash saxena25may*/
nav.sb-topnav.navbar.fixed-top.navbar-expand.navbar-dark {
    background-color: #fff;
    box-shadow: 0 2px 3px 0 rgb(147 157 170 / 8%);
    z-index: 10;
}
.sb-sidenav-menu {
    background-color: #455161 !important;
    height: calc(100vh - 48px);
    overflow: scroll;
}

.sidebar-user-a {
    padding: 30px 30px 5px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px;
}

.sidebar-user-a__link {
    margin-top: 20px;
    background-color: #249cf2;
    color: #fff;
}
.sidebar-user-a img {
    width: 37%;
}

.sb-nav-link-icon span {
    font-size: 20px;
    line-height: 20px;
    height: 20px;
    
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link.active {
    color: #fff !important;
    background: #374451 !important;
    border-left: 2px solid #249cf2;
}

.sb-sidenav-menu a:hover {
    background: #374451;
    transition: all 0.3s;
    border-left: 2px solid #249cf2;
}
a.nav-link:hover span {
    color: #fff;
}


.nv {
    color: #fff !important;
    background-color: #0094f2;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 40px;
    font-weight: 700;
}
.cus_serch {
    padding-left: 50px;
}
.sidebar-user-a__name {
    text-transform: capitalize;
    padding-top: 15px;
}

.tooltip {
    position: relative !important;
    z-index: 1080;
    display: inline-block !important;
}

.sidebar-user-a__link {
    margin-top: 20px;
    background-color: #ffc101 !important;
    color: #000 !important;
}

.logout_img ul li img {
    width: 40px;
}

.d_pull-right {
    float: right;
}

span.navbar-dropdown__user-name {
    text-transform: capitalize;
    color: #464646;
}
.logout_img a span:hover {
    color: #464646;
}
.navbar-dropdown-user-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px;
    background-color: #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.dropdown-menu.navbar-dropdown-menu.navbar-dropdown-menu__user.show.nav-item.dropdown {
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: -0.999rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
    left: -164px;
}

span.navbar-dropdown__user-name.green:hover {
    color: #fff;
}
.navbar-dropdown-menu__user {
    background-color: #f3f5f6;
    margin-top: 21px;
}
.dropdown-info {
    margin-left: 15px;
}
.dropdown-info__viewprofile {
    padding: 3px 8px;
    font-size: 12px;
    color: #fff;
    border-radius: 3px;
    background-color: #0275d8;
    white-space: nowrap;
}
.dropdown-info-buttons {
    display: -ms-flexbox;
    display: flex;
    margin-top: 6px;
}
.dropdown-info__name a {
    padding: 0px !important;
}
.bg-gray {
    background-color: #d9d9d9;
    color: #515151;
}
.bg-gray {
    background-color: #d9d9d9 !important;
    color: #515151 !important;
    margin-bottom: -8px;
    padding-top: 10px !important;
}
ul.dropdown-menu.dropdown-menu-end.show {
    border: none;
}
.bg-gray:hover {
    color: #00416b !important;
}

.navbar-dropdown-notifications__header {
    color: #fff;
    background-color: #0094f2;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 12px 14px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    width: 398px;
}

#notifications-dropdown.dropdown-menu {
    padding: 0px;
    width: 25rem;
    left: -72px !important;
}
.cus_notification_right {
    left: 85px !important;
    top: 16px !important;
}

.navbar-dropdown-notification.is-new, .navbar-dropdown-notification.is-new .navbar-dropdown-notification__icon {
    background: #e5f4fe;
}

.navbar-dropdown-notification {
    display: -ms-flexbox;
    display: flex;
    padding: 18px 15px;
    border-bottom: 1px solid rgba(147, 157, 170, 0.2);
    font-size: 14px;
    color: #222;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.ua-icon-circle-check:before {
    content: "\e929";
}


.navbar-dropdown-notification__icon {
    background: #fff;
    border-radius: 50%;
    padding: 4px;
    font-size: 14px;
    position: absolute;
    top: -4px;
    right: -4px;
}
.color-success {
    color: #82c250 !important;
}
[class^="ua-icon-"], [class*=" ua-icon-"] {
    font-family: 'universe-admin' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.navbar-dropdown-notification__user {
    margin-right: 15px;
    position: relative;
}

.navbar-dropdown-notification__avatar {
    width: 48px;
    height: 48px;
}
.rounded-circle {
    border-radius: 50%!important;
}
.navbar-dropdown-notification__date {
    position: absolute;
    top: 17px;
    right: 21px;
    color: #939daa;
    text-transform: uppercase;
}

.navbar-dropdown-notifications__mark-read, .navbar-dropdown-notifications__mark-read:active, .navbar-dropdown-notifications__mark-read:focus {
    color: #fff;
}

.navbar-dropdown-notifications__mark-read {
    opacity: 0.7;
}
.navbar-dropdown-messages, .navbar-dropdown-notifications {
    width: 450px;
}

.navbar-dropdown-notifications__view-all {
    color: #c9ced4;
    font-size: 14px;
    text-transform: uppercase;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    line-height: 14px;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 15px;
    text-decoration: none;
}
.navbar-dropdown-notifications__view-all .icon {
    font-size: 17px;
    line-height: 18px;
    margin-right: 10px;
}

.navbar-dropdown-notifications__mark-read-icon {
    font-size: 16px;
    line-height: 8px;
    position: relative;
    top: 2px;
    margin-left: 5px;
}

.widget-user-card__bg {
    height: 156px;
    background: url(http://localhost:8000/static/new/assets/img/user-card-bg.png) top no-repeat;
    background-size: cover;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.widget-user-card__name {
    color: #222;
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.widget-user-card__occupation {
    color: #222;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 20px;
}
.btn-info {
    color: #fff !important;
    background-color: #269af1;
    border-color: #269af1;
}
.widget-user-card__statistics {
    background: #f4f9fc;
    padding: 19px 43px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.widget-user-card__statistics-amount {
    color: #222;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 15px;
}
.widget-user-card__statistics-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
}

.widget-controls {
    padding: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}
.widget-contacts .widget-controls__header {
    background: #0094f2;
    color: #fff;
}

.widget-controls__header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    padding: 14px 16px;
    min-height: 56px;
    font-size: 20px;
    line-height: 20px;
    height: 56px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.widget-controls__header-control, .widget-controls__header-icon {
    font-size: 18px;
    line-height: 18px;
    width: 25px;
    display: inline-block;
}

.widget-table .widget-controls__header {
    padding: 14px 20px;
    
}
.widget-account-activity .widget-controls__content {
    margin-top: -10px;
    height: 314px;
}

.widget-account-activity .widget-controls__content, .widget-summary .widget-controls__content {
    height: 329px;
}
.simplebar-track.vertical {
    top: 0;
}
.simplebar-track {
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 11px;
}

.simplebar-scrollbar {
    border-radius: 0;
    background: #aeb5bf;
    width: 6px;
}
.simplebar-scrollbar {
    position: absolute;
    right: 2px;
    border-radius: 7px;
    min-height: 10px;
    width: 7px;
    opacity: 0;
    -webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
    background: black;
    background-clip: padding-box;
}

.simplebar-track.horizontal {
    left: 0;
    width: auto;
    height: 11px;
}
.simplebar-track {
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 11px;
}

.horizontal.simplebar-track .simplebar-scrollbar {
    right: auto;
    top: 2px;
    height: 7px;
    min-height: 0;
    min-width: 10px;
    width: auto;
}
.simplebar-scrollbar {
    border-radius: 0;
    background: #aeb5bf;
    width: 6px;
}
.simplebar-scrollbar {
    position: absolute;
    right: 2px;
    border-radius: 7px;
    min-height: 10px;
    width: 7px;
    opacity: 0;
    -webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
    background: black;
    background-clip: padding-box;
}

.simplebar-scroll-content {
    overflow-x: hidden;
    
    min-width: 96%;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 335px;
}
.simplebar-content {
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 100%;
}

.widget-controls__footer-btn {
    padding: 16px 24px;
}
.widget-controls__footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    line-height: 14px;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 24px;
    border-top: 1px solid rgba(147, 157, 170, 0.2);
    position: relative;
}

.table thead th {
    color: #939daa;
    font-weight: 400;
    border-bottom: 1px solid #e9ecef;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.widget-table th {
    padding: 8px 20px;
    border-top: none;
}
.table-striped tbody tr:nth-of-type(odd) {
    background: #f4f9fc;
}

.table td, .table th {
    vertical-align: middle;
    padding: 15px 20px;
}

span.proj_name {
    text-transform: capitalize;
    font-weight: 600;
}

span.table__cell-up {
    border: 1px solid #0fb20126;
    color: #0e9700;
    padding: 5px 15px;
    font-weight: 700;
}
table.table.table-no-border.table-striped tr th, td {
    padding: 10px 22px !important;
}

.nv  {
   
    text-align: left !important;
    margin-left: -187px;
}

.widget-alpha {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}
.widget-alpha--color-amaranth .widget-alpha__amount, .widget-alpha--color-amaranth .widget-alpha__icon {
    color: #e62265;
}
.widget-alpha__icon {
    font-size: 44px;
    line-height: 44px;
    height: 44px;
}

.widget-alpha__amount {
    font-size: 24px;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: 6px;
}
.widget-alpha--color-green-jungle .widget-alpha__amount, .widget-alpha--color-green-jungle .widget-alpha__icon {
    color: #229e8f;
}
.widget-alpha--color-orange .widget-alpha__amount, .widget-alpha--color-orange .widget-alpha__icon {
    color: #ff5720;
}

.chart-widget {
    box-shadow: 0 2px 5px 0 rgb(147 157 170 / 3%);
    border-radius: 4px;
    background: #fff;
    font-size: 14px;
    margin-bottom: 20px;
    padding: 20px;
}

.widget-payouts .widget-controls__header {
    background: #4baf57;
    color: #fff;
}
.simplebar-scrollbar {
    border-radius: 0;
    background: #aeb5bf;
    width: 6px;
}

.cus_hght{
  
        overflow-x: hidden;
        min-width: 96%;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        height: 354px;
        background-color: #fff;
        padding-right: 0px !important;
}

.widget-payouts .cus-blue {
    background-color: #0094f2;
}

.widget-payouts .cus-blue2 {
    background-color: #00699e;
}

.widget-payouts .cus-blue3 {
    background-color: #0677b0;
}
.widget-controls__footer.cus_foot_btn a {
    background-color: #dedede;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 700;
    color: #585858;
}
.widget-controls__footer.cus_foot_btn a span {
    margin-left: 5px;
}

.widget-welcome {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 21px 20px;
}
.page-content__header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px;
}

.page-content__header.mt-4.bg-white h2 {
    height: 35px;
    font-size: 22px;
    line-height: 42px;
    text-transform: uppercase;
    color: #171717;
}
.bg-white {
    background-color: #fff!important;
    padding: 10px 22px;
    border-radius: 5px;
}


.table_head tr th {
    background-color: #000000;
    color: #fff;
}

.card-body.cus_form label {
    padding: 8px 7px;
    font-weight: 600;
    color: #464646;
    text-transform: capitalize;
}
.cus_btnn_cntr {
    display: flow-root;
    text-align: center;
}


.cus_btnn_cntr a button {
    background-color: #ac0909 !important;
    color: #fff !important;
    border: 1px solid #ac0909 !important;
}
.cus_btnn_cntr button {
    background-color: #01ae01 !important;
    color: #fff !important;
    border: 1px solid #01ae01 !important;
}

.card-body.cus_form input, select {
    background-color: #f1f1f1 !important;
    border-radius: 15px !important;
   
    border: 1px solid #e7e7e7;
}

.card-body.cus_form textarea {
    border-radius: 20px;
    background-color: #f1f1f1;
    border: 1px solid #e7e7e7;
}
.row.mll-100 {
    margin-left: 130px;
}

.statistic-widget {
    box-shadow: 0 2px 5px 0 rgb(147 157 170 / 3%);
    border-radius: 4px;
    background: #fff;
    font-size: 14px;
    margin-bottom: 20px;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 94% !important;
}


.card-topline-red {
    border-top: 3px solid #DD4B39;
}

.card {
    position: relative;
    margin-bottom: 24px;
    margin-top: 10px;
    background-color: #ffffff;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 3px 0 rgb(0 0 0 / 33%);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 33%);
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

.card-head {
    border-radius: 2px 2px 0 0;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
    padding: 2px;
    text-transform: uppercase;
    color: #3a405b;
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
    min-height: 40px;
}
.card-head header {
    display: inline-block;
    padding: 11px 15px;
    vertical-align: middle;
    line-height: 17px;
    font-size: 16px;
}

.card-head .tools {
    padding-right: 16px;
    float: right;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 24px;
    line-height: normal;
    vertical-align: middle;
}

.card-head > div {
    display: inline-block;
}


ul.docListWindow {
    list-style-type: none;
    padding: 0 10px;
}

ul.docListWindow li {
    display: inline-block;
    width: 100%;
    border-bottom: 1px dashed #dcdcdc;
    margin-bottom: 11px;
    padding-bottom: 11px;
}

ul.docListWindow li .prog-avatar {
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 25px;
}

.clsAvailable {
    color: #0cc745;
    font-size: 13px;
    font-weight: 600;
}

.doctitle {
    padding-bottom: 5px;
}


.bg-blue {
    background: #3598dc;
}
.info-box {
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    min-height: 100px;
    background: #fff;
    width: 100%;
    box-shadow: 0 5px 20px rgb(0 0 0 / 10%);
    -webkit-box-shadow: 0 5px 20px rgb(0 0 0 / 10%);
    margin-bottom: 20px;
    padding: 15px;
}
.bg-blue {
    background-color: #389af0;
}
.bg-blue {
    background: #3598dc;
    color: #fff;
}

.info-box-icon.push-bottom {
    margin-top: 20px;
}

.info-box-icon {
    float: left;
    height: 70px;
    width: 70px;
    text-align: center;
    font-size: 30px;
    line-height: 74px;
    background: rgba(0, 0, 0, .2);
    border-radius: 100%;
}

.info-box-content {
    padding: 10px 10px 10px 0;
    margin-left: 90px;
}

.info-box-text, .progress-description {
    display: block;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
}

.info-box-number {
    font-weight: 300;
    font-size: 21px;
}

.info-box .progress, .info-box .progress .progress-bar {
    border-radius: 0;
}

.info-box .progress {
    background: rgba(0, 0, 0, .2);
    margin: 5px -10px 5px 0;
    height: 2px;
}
.progress {
    border: 0;
    background-image: none;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: 8px;
    border-radius: 0!important;
    margin: 0;
}
.progress {
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}




.bg-orange {
    background: #E67D21;
    color: #fff;
}
.bg-purple {
    background: #8E44AD;
    color: #fff;
}

.bg-red {
    color: #fff;
    background-color: #c80606!important;
}

ul.docListWindow li .prog-avatar img {
    width: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

ul.docListWindow li .prog-avatar {
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 25px;
}

span.mdi.mdi-account-multiple-check.sidebar-section-nav__item-icon.icnsze {
    color: #00af00;
    font-size: 28px;
    vertical-align: bottom;
    padding-right: 5px;
}
span.icnszemrk.mdi.mdi-account-remove.sidebar-section-nav__item-icon {
    font-size: 20px;
    color: #8e44ad;
    padding-right: 5px;
}

span.sidebar-section-nav__item-icon.ua-icon-activity-promoted.icnleve {
    font-size: 20px;
    vertical-align: middle;
    color: #c80606;
    padding-right: 5px;
}

.widget-sales-total__left-side {
    max-width: 180px;
}

.widget-sales-total__right-side {
    min-width: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: end;
    align-items: flex-end;
}

.widget-sales-total__icon.ua-icon-widget-charts {
    font-size: 20px;
    line-height: 20px;
}

.widget-sales-total__icon {
    color: rgba(147, 157, 170, 0.5);
    font-size: 16px;
    line-height: 16px;
    height: 20px;
}

.widget-sales-total__chart {
    width: 100%;
    height: 45px;
    margin-top: 10px;
}

.leaveone {
    background: url(/static/new/assets/img/leaveone.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.leavetwo {
    background: url(/static/new/assets/img/leavetwo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.leavethree {
    background: url(/static/new/assets/img/leavethree.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/*end*/
.notification {
    background-color: #FFFFFF;
    color: white;
    text-decoration: none;
    padding: 4px 24px;
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    display: inline-block;
    border-radius: 15px;
    font-size: 20px;
}

.notification:hover {
    color: #fff;
}

.notification .badge {
    position: absolute;
    top: 8px;
    right: 7px;
    padding: 3px 7px;
    border-radius: 50%;
    background: black;
    color: white;
}

.notification-section .dropdown-toggle::after {
    content: none;
}

.dropdown-toggle::after {
    color: #fff;
}

#notifications-dropdown li {
    max-width: 500px;
    word-wrap: break-word;
    display: inline-block;
    white-space: normal;
}


.btn.btn--rounded, .btn.btn-rounded {
    border-radius: 10px;
    padding: 5px 25px;
}

.modal {
    position: fixed;
    top: 50px;

}

.cus_lrt a {
    background-color: #455161;
    padding: 5px 10px;
    border-radius: 5px;
    color: #ffff;
    font-size: 14px;
    font-weight: 500;
}

.cus_lrt a:hover {
    color: #fff;
}

.nott a{
    padding-left: 59px;
    margin-top: -10px;
}


textarea#ckeditor0 {
    width: 99% !important;
}

.col-md-8.cus_dash.fade.show.m-0 h4 {
    margin-left: -65px;
}

span.navbar-dropdown__user-name.green {
    background-color: #114bbc;
    padding: 7px;
    border-radius: 50%;
    color: #fff;
}

ul.list-unstyled.inline_li {
    display: inline;
}

ul.list-unstyled.inline_li span {
    font-weight: 600;
    font-size: 18px;
}

.ln_hgt{
    line-height: 40px;
}

.cus_hvr a p {display:none;}
.cus_hvr a:hover p {
    display: block;
    background-color: #464646;
    color: #ffff;
    padding: 3px 8px;
    border-radius: 5px
px
;
    margin-left: -115px;
    margin-top: 15px;
}

.h_scrl{

    height: 300px;
    overflow: auto;

}
.modal {
    position: fixed;
    top: 30px !important;
}

table.cus_tbl.table.table-borderless tr td {
    width: 21%;
    padding: 10px 7px !important;
}