{% extends "new/layout.html" %}
{% load new_template_tags %}
{% load static %}
{% block content %}

        {% if request.user.is_superuser or request.user.email|get_custom_role:request.user.email_id == 'human_resource' %}
        <div class="col-3 mt-4 d-inline-block" style="width:100%;">
            <form action="{% url 'calendar' %}" method="POST">
                {% csrf_token %}
                   <div class="d-inline-block cus_search_lft">
                    <select class="form-select" name="resource_name" aria-label="Default select example">
                        <option disabled selected>Select Resources</option>
                        {% for resources in resource_list %}
                            <option value="{{ resources.id }}" {% if resource_email == resources.email_id %} selected {% endif %}>{{ resources.first_name }} {{ resources.last_name }}</option>
                        {% endfor %}
                    </select>
                   </div>
                <div class="d-inline-block"><input type="submit" class=" btn btn-secondary ms-2" name="action" value="Show"></div>
            </form>
        </div>
        {% endif %}

        <div id="clendar" class="mt-3"></div>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="{% static 'new/css/styles.css' %}" rel="stylesheet" />
        <link href="{% static 'new/css/calendar.css' %}" rel="stylesheet" />
        <link href="{% static 'new/css/calendar_midnight.css' %}" rel="stylesheet" />
        <link href="{% static 'new/css/styles.css' %}" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
      
{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script src="{% static 'new/js/calendar.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('#clendar').evoCalendar({
                calendarEvents: {{calender_events|safe}}

            });
        });
    </script>
{% endblock %}