<select class="form-select" id="month" name="board_name" aria-label="Default select example">
    <option disabled selected>Month Select</option>
    {% for val in data %}
        <option value="{{forloop.counter}}">{{ val }}</option>
    {% endfor %}
</select></div>