{% extends "new/layout.html" %}
{% load static %}
{% load new_template_tags %}
{% block content %}
<div>

    <div class="page-content__header mt-4">
         <!-- <div>
              <h2 class="page-content__header-heading">Dashboard</h2>
             
            </div>-->
       
      </div>
      <div class="page-content__header mt-4 bg-white">
    <div class="col-12 mar_lft_box">
        <div class="col-3 d-inline-block">
            <select class="form-select" onchange="find_months()" id="year" name="board_name" aria-label="Default select example">
                <option disabled selected>Year select</option>
                {% for key, val in su_dict.items %}
                    <option value="{{key}}">{{ key }}</option>
                {% endfor %}
            </select></div>
        <div class="col-3 d-inline-block" id="month_div">
            <select class="form-select" onchange="get_attend()" id="month" name="board_name" aria-label="Default select example">
                <option disabled selected>Month Select</option>
            </select></div>
        <div class="col-3 d-inline-block">
            <button class="btn btn-success m-3" onclick="get_attend()" >Get Attendance</button>

           
        </div>
        <div class="col-3 d-inline" style="margin-left: -87px !important;">
            {% if request.user.email|get_custom_role:request.user.email_id == 'project_manager' or request.user.email|get_custom_role:request.user.email_id == 'solution_architect' or request.user.email|get_custom_role:request.user.email_id == 'business_analyst' or request.user.email|get_custom_role:request.user.email_id == 'backend_team_lead' or request.user.email|get_custom_role:request.user.email_id == 'frontend_team_lead' or request.user.email|get_custom_role:request.user.email_id == 'business_development_execute' %}
           
            <a href="{% url 'lead_self_attend' %}" type='button' class="btn btn-primary">Your Total Attendance List</a>
      
        {% endif %}
        </div>
        
    </div>
    </div>
</div>
<div id="attend_container">
    <div class="container  p10-2">
       
        <div class="card mt-3">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                {{selected_month}} Month Attendance
            </div>
            <div class="card-body">
                <table class="table table_head" id="datatablesSimple">
                <thead>
                    <tr>
                      <th scope="col">Resource</th>
                      <th scope="col">Total Working Days</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for key, val in resource_attend.items %}
                        <tr>
                            <td>{{key}}</td>
                            <td>{{val}}</td>
                        </tr>
                    {% endfor %}
                      </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'new/js/ck.js' %} "></script>
{% endblock %}