<div class="container card p10-2">
    <div class="card mt-3">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            {{selected_month}} Month Attendance
        </div>
        <div class="card-body">
            <table class="table">
            <thead>
                <tr>
                  <th scope="col">Resource</th>
                  <th scope="col">Total Working Days</th>
                </tr>
              </thead>
              <tbody>
                {% for key, val in data.items %}
                    <tr>
                        <td>{{key}}</td>
                        <td>{{val}}</td>
                    </tr>
                {% endfor %}
                  </tbody>
            </table>
        </div>
    </div>
</div>