{% extends 'new/layout.html' %}
{% load new_template_tags %}
{%block content%}
    <div class="container">

        <div class="page-content__header mt-4">
             <!-- <div>
              <h2 class="page-content__header-heading">Dashboard</h2>
             
            </div> -->
           
          </div>

          <div class="page-content__header mt-4 bg-white">
            <div>
              <h2 class="page-content__header-heading">Resource AttendAnce</h2>
            
            </div>
            <div class="page-content__header-meta">
              <a href="{% url 'add_attend' %}" class="btn btn-info icon-left">
                Add AttendAnce <span class="btn-icon mdi mdi-plus-circle"></span>
              </a>
            </div>
          </div>

        <div class="card mt-5">
           

            <div class="card-body" >
                <table class="table table_head" id="datatablesSimple">
                    <thead class="thead"> 
                        <th>SN</th>
                        <th>Project Name</th>
                        <th>Resource Name</th>
                        <th>Date</th>
                        <th>Status</th>
                    </thead>
                    {% for attend in attendence %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{attend.project.name}}</td>
                            <td>{{attend.resource}}</td>
                            <td>{{attend.date}}</td>
                            {% if attend.status == "Approved" %}
                                <td class = "text-success"><b>{{attend.status}}</b></td>
                            {% elif attend.status == "Rejected" %}
                                <td class = "text-danger"><b>{{attend.status}}</b></td>
                            {% else %}
                                <td class = "text-warning"><b>{{attend.status}}</b></td>
                            {% endif %}
                        </tr>
                    {% endfor %}    
                </table>
            </div>
        </div>
    </div>
{% endblock %}