{% extends 'new/layout.html' %}
{% block content %}
    <div class="container" >

        <div class="page-content__header mt-4">
              <!-- <div>
              <h2 class="page-content__header-heading">Dashboard</h2>
             
            </div> -->
           
          </div>

          <div class="page-content__header mt-4 bg-white">
            <div>
              <h2 class="page-content__header-heading">View Resource Progress</h2>
            
            </div>
            <div class="page-content__header-meta">
             
            </div>
          </div>

       
        <div class="card mt-1">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                View Resource Progress
            </div>
            <div class="card-body" >
                <table class="table hower table_head" id="datatablesSimple">
                    <thead > 
                        <tr>
                            <th>SN</th>
                            <th>Board(Sprint)</th>
                            <th>Resource Name</th>
                            <th>Percentage</th>
                            <th>Progress</th>
                        </tr>
                    </thead>
                    {% for e in data %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{e.sprint.board}} ({{e.sprint.name}})</td>
                            <td>{{e.resource}}</td>
                            <td>{{e.percentage}}</td>
                            <td>{{e.grade}}</td>
                        </tr>
                    {% endfor %}
                </table>
                
            </div>
        </div>

    </div>
{% endblock %}