{% extends "new/layout.html" %}
{% load widget_tweaks %}
{% block content %}
    <div class="container" style="padding:1px;">
        <div class="card-header">
            <h1 class="fs-2 fw-bolder mt-2">Update Attendance</h1>
        </div>
        <div class="card-body">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <!-- {{ form }} -->
                    {% for field in form.visible_fields %}
                    <div class="col-xl-6 col-md-6 col-sm-12 col-lg-6">
                        <div class="form-group mb-4">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {% render_field field class="form-control" %}
                            {% for error in field.errors %}
                               <span class="help-block text-danger form-error">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                 <div align="center">
                    <a href="{% url 'view_attend' %}"><button class="btn btn-primary mt-2" type="button">Cancel</button></a>
                    <button class="btn btn-primary mt-2" type="submit">Update</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}