{% load new_template_tags %}
{% load widget_tweaks %}
<div class="container">
    <div class="container col-8 text-center">
        <form method="POST" action = "{% url 'update_attend_status' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <input type= 'hidden' name = 'attend_id_to_update' value = '{{attend_id}}'/>
            <div class="form-group">
                <p>Chose Status</p>
                <select name="attend_status" id="attend_status-{{attend.id}}">
                    <option value="Approved">Approve</option>
                    <option value="Rejected">Reject</option>
                </select><br/>
            </div>
            <button class="btn btn-primary mt-2" type="submit">Save</button>
        </form>
    </div>
</div>