{% extends 'new/layout.html' %}
{% load new_template_tags %}
{% load static %}
{% block content %}
    <div class="container" >

        <div class="page-content__header mt-4">
              <!-- <div>
              <h2 class="page-content__header-heading">Dashboard</h2>
             
            </div> -->
           
          </div>

          <div class="page-content__header mt-4 bg-white">
            <div>
              <h2 class="page-content__header-heading">View Attendance</h2>
            
            </div>
            {% if request.user.is_superuser %}
            {% else %}
            <div class="page-content__header-meta">
              <a href="{% url 'add_attend' %}" class="btn btn-info icon-left">
                Add Attendance <span class="btn-icon mdi mdi-plus-circle"></span>
              </a>
              {% if request.user.email|get_custom_role:request.user.email_id == 'project_manager' or request.user.email|get_custom_role:request.user.email_id == 'solution_architect' or request.user.email|get_custom_role:request.user.email_id == 'business_analyst' or request.user.email|get_custom_role:request.user.email_id == 'backend_team_lead' or request.user.email|get_custom_role:request.user.email_id == 'frontend_team_lead' or request.user.email|get_custom_role:request.user.email_id == 'business_development_execute' %}
              <a href="{% url 'resource_attend' %}" type='button' class="btn btn-primary">Your Attendance List</a>
            {% else %}
            {% endif %}
            </div>
            {% endif %}
          </div>


         
           
        <div class="card mt-1">
            <div class="card-header">
               
                <i class="fas fa-table me-1"></i>
                Attendance
            </div>
            <div class="card-body" >
                <div class="text-ri">
                    <input type="checkbox" id="selectAll" />Select All
                </div>
                <table class="table table_head hower" id="datatablesSimple">
                    <thead > 
                        <tr>
                            <th>SN</th>
                            <th>Project Name</th>
                            <th>Resource Name</th>
                            <th>Date</th>
                            <th>Status</th>
                            {% if request.user.email|get_custom_role:request.user.email_id == 'project_manager' or request.user.email|get_custom_role:request.user.email_id == 'solution_architect' or request.user.email|get_custom_role:request.user.email_id == 'business_analyst' or request.user.email|get_custom_role:request.user.email_id == 'backend_team_lead' or request.user.email|get_custom_role:request.user.email_id == 'frontend_team_lead' or request.user.email|get_custom_role:request.user.email_id == 'business_development_execute' or request.user.email|get_custom_role:request.user.email_id == 'human_resource' %}
                            {% else %}
                                <th>Action</th>
                            {% endif %}
                            <th>Operations</th>

                        </tr>
                    </thead>
                    <tfoot>
                        <td>SN</td>
                        <td>Project Name</td>
                        <td>Resource Name</td>
                        <td>Date</td>
                        <td>Status</td>
                        {% if request.user.email|get_custom_role:request.user.email_id == 'project_manager' or request.user.email|get_custom_role:request.user.email_id == 'solution_architect' or request.user.email|get_custom_role:request.user.email_id == 'business_analyst' or request.user.email|get_custom_role:request.user.email_id == 'backend_team_lead' or request.user.email|get_custom_role:request.user.email_id == 'frontend_team_lead' or request.user.email|get_custom_role:request.user.email_id == 'business_development_execute' or request.user.email|get_custom_role:request.user.email_id == 'human_resource' %}
                        {% else %}
                        <td>Action</td>
                        {% endif %}
                    </tfoot>
                    {% for e in data %}
                        <tr>
                            {% comment %} <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="pending-attend" value="{{e.id}}" id="idOperations-{{e.id}}">
                                    <label class="form-check-label" for="idOperations-{{e.id}}">
                                    {{e.status}}
                                    </label>
                                </div>
                            </td> {% endcomment %}
                            <td>{{forloop.counter}} <input class="form-check-input" type="checkbox" name="pending-attend" value="{{e.id}}" id="idOperations-{{e.id}}"></td>
                            <td>{{e.project}}</td>
                            <td>{{e.resource}}</td>
                            <td>{{e.date}}</td>

                            {% if e.status == "Approved" %}
                                <td class = "text-success"><b>{{e.status}}</b></td>
                            {% elif e.status == "Rejected" %}
                                <td class = "text-danger"><b>{{e.status}}</b></td>
                            {% else %}
                                <td class = "text-warning"><b>{{e.status}}</b></td>
                            {% endif %}

                            {% if request.user.email|get_custom_role:request.user.email_id == 'project_manager' or request.user.email|get_custom_role:request.user.email_id == 'solution_architect' or request.user.email|get_custom_role:request.user.email_id == 'business_analyst' or request.user.email|get_custom_role:request.user.email_id == 'backend_team_lead' or request.user.email|get_custom_role:request.user.email_id == 'frontend_team_lead' or request.user.email|get_custom_role:request.user.email_id == 'business_development_execute' or request.user.email|get_custom_role:request.user.email_id == 'human_resource' %}
                            {% else %}
                            <td>
                                <a href="{% url 'alter_attend' e.id %}" style="border: none;outline: none;background: none; color: darkslategrey;"><i class="fas fa-edit" title="Update"></i></a>
                                <button type="button" style="border: none;outline: none;background: none; color: darkslategrey;" data-bs-toggle="modal" data-bs-target="#deleteModal-{{e.id}}"><i class="fas fa-trash" title="Delete"></i></button>
                            </td>

    
                            <div class="modal fade" id="deleteModal-{{e.id}}" tabindex="-1" aria-labelledby="DeleteLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="DeleteLabel">Delete Attend</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                        Are you sure ? do you want to delete {{e.project}}..?
                                        </div>
                                        <div class="modal-footer">
                                        <form action="{% url 'delete_attend' e.id %}" method="POST">
                                            {% csrf_token %}
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Delete</button>
                                        </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            <td>
                                <!--button to Approve or Reject Leave Application-->
                                    {% if e.status == "Pending" %}
                                        <a href="#">
                                            <button data-target="#popAttendStatus" id="updateAttendStatus" data-attend-id="{{e.id}}" data-toggle="modal" data-url="{% url 'get_attendance_status' %}" type="button" style="border: none;outline: none;">
                                                Approve/Reject
                                            </button>
                                        </a>
                                    {% endif %}
                            </td>

                            <!-- Modal to Approve or Reject Attendance -->
                            <div class="modal fade" id="popAttendStatus" tabindex="-1" aria-labelledby="delete" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="attend">Verify Attendance</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            {{attend_id}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tr>
                    {% endfor %}
                </table>
                {% csrf_token %}
                <button id="approveAttend" type="button" style="border: none;outline: none;" data-url = "{% url 'update_attend_status' %}">
                    Approve
                </button>

                <!--Model delete conformation-->
                
            </div>
        </div>

    </div>
{% endblock %}

{% block scripts %}
    <!-- block.super will get the content of the block from the parent template -->
    {{ block.super }}

    <script src="{% static 'new/js/update-attendance-status.js' %}"></script>
    <script type="text/javascript" src="{% static 'new/js/ck.js' %} "></script>

    <script type="text/javascript">
        // Listen for click on select all checkbox
        $('#selectAll').click(function(event) {   
            if(this.checked) {
                // Iterate each checkbox
                $(':checkbox').each(function() {
                    this.checked = true;                        
                });
            } else {
                $(':checkbox').each(function() {
                    this.checked = false;                       
                });
            }
        });


        // aprove button click
        $(document).on('click', '#approveAttend', function(e) {
            var array = []
            var checkboxes = document.querySelectorAll('input[type=checkbox]:checked')
            for (var i = 0; i < checkboxes.length; i++) {
                array.push(checkboxes[i].value)
            }
            var url = $(this).data('url');
            var ids = array.toString();
            $.ajax({
                url: url,
                type: 'post',
                data: {
                    'action': "approve",
                    'attend_ids': ids,
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                },
                dataType: 'html',
                success: function(data) {
                    location.reload();
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) { 
                    alert("Error: " + errorThrown); 
                }  

            });

        });


    </script>

{% endblock scripts %}