{% extends "new/layout.html" %}
{% load static %}
{% block content %}
    <div class="container ">
        <div class="page-content__header mt-4">
              <!-- <div>
              <h2 class="page-content__header-heading">Dashboard</h2>
             
            </div> -->
           
          </div>
    
          <div class="page-content__header mt-4 bg-white">
            <div>
              <h2 class="page-content__header-heading">Resource List</h2>
            
            </div>
            <div class="page-content__header-meta">
               
            </div>
          </div>
      
        <div class="card mt-3">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Lead Resource List
            </div>
            <div class="card-body">
                <table class="table table_head " id="datatablesSimple">
                    <thead>
                        <tr>
                          <th scope="col">Sr No.</th>
                          <th scope="col">Project Name</th>
                          <th scope="col">Resource's</th>
                          <th scope="col">Role</th>
                        </tr>
                      </thead>
                      <tbody>
                         {% for project in resource_list %}
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td>{{project.project.name}}</td>
                                <td>
                                    <ol>
                                        {% for resource in project.project.resource_list %}
                                        {% if resource.resource == request.user %}
                                        {% else %}
                                            <li>{{resource.resource.first_name}} {{resource.resource.last_name}} </li>
                                        {% endif %}
                                        {% endfor %}
                                      </ol>
                                </td>
                                <td>
                                    <ol>
                                        {% for resource in project.project.resource_list %}
                                        {% if resource.resource == request.user %}
                                        {% else %}
                                            <li>{{resource.resource.role}} </li>
                                        {% endif %}
                                        {% endfor %}
                                      </ol>
                                </td>
                            </tr>

                         {% endfor %}
                      </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}