{% extends "new/layout.html" %}
{% load static %}
{% block content %}
    <div class="container">
    

        <div class="page-content__header mt-4">
              <!-- <div>
              <h2 class="page-content__header-heading">Dashboard</h2>
             
            </div> -->
           
          </div>

          <div class="page-content__header mt-4 bg-white">
            <div>
              <h2 class="page-content__header-heading">Show Resource Details</h2>
            
            </div>
            <div class="page-content__header-meta">
              <a href="{% url 'addResourceProject' %}" class="btn btn-info icon-left">
                Add Resource <span class="btn-icon mdi mdi-plus-circle"></span>
              </a>
            </div>
          </div>

        
        
        <!-- <div class="">
            <h1 class="fs-2 fw-bolder mt-2 view_lead_head">Show Resource Details
                <a href="{% url 'addResourceProject' %}">
                    <button type="button" class="btn btn-outline-primary" style="float: right;">ADD</button>
                    </a>
            </h1>
            
            
        </div> -->
        <div class="card mt-3">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Resource List
            </div>
            <div class="card-body">
                <table class="table table_head" id="datatablesSimple">
                    <thead>
                        <tr>
                          <th scope="col">Sr No.</th>
                          <th scope="col">Name</th>
                          <th scope="col">Email ID</th>
                          <th scope="col">Role</th>
                          <th scope="col">Emp Id</th>
                          <th scope="col">Contact</th>
                          <th scope="col">Technology</th>
                          <th scope="col">Address</th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for element in resources %}
                            <tr>
                                <td scope="row">{{forloop.counter}}</td>
                                <td>{{element.first_name}} {{element.last_name}}</td>
                                <td>{{element.email_id}}</td>
                                <td>{{element.role}}</td>
                                <td>{{element.empolyee_id}}</td>
                                <td>{{element.contact}}</td>
                                <td>{{element.technology}}</td>
                                <td>{{element.address}}</td>
                                <td id="item_links">
                                    <a href="{% url 'updateResourceProject' element.id %}" style="text-decoration: none;color: darkslategrey;">
                                        <i class="fas fa-edit mx-2"  title="Update"></i>
                                    </a>
                                    <button type="button" style="border: none;outline: none;background: none;color: darkslategrey;"  data-bs-toggle="modal" data-bs-target="#exampleModal-{{element.id}}">
                                        <i class="fas fa-trash"  title="Delete"></i>
                                    </button>
                                </td>
                            </tr>
                            <!-- Modal -->
                                <div class="modal fade" id="exampleModal-{{element.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Resource Details</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                        Are you sure, you want to delete {{element.name}}!
                                        </div>
                                        <div class="modal-footer">
                                        <form action="{% url 'delete_resource' element.id %}" method="POST">
                                            {% csrf_token %}
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Delete</button>
                                        </form>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                        {% endfor %}
                      </tbody>
                </table>
            </div>
       </div>
    </div>
{% endblock %}