{% extends "new/layout.html" %}
{% load static %}
{% block content %}
    <div class="container  p10-2">
        <div class="page-content__header mt-4">
              <!-- <div>
              <h2 class="page-content__header-heading">Dashboard</h2>
             
            </div> -->
           
          </div>

          <div class="page-content__header mt-4 bg-white">
            <div>
              <h2 class="page-content__header-heading">Your Projects</h2>
            
            </div>
            <div class="page-content__header-meta">
             
            </div>
          </div>

      
        <div class="card mt-3">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Resource List
            </div>
            <div class="card-body">
                <table class="table table_head" id="datatablesSimple">
                    <thead>
                        <tr>
                          <th scope="col">Sr No.</th>
                          <th scope="col">Project Name</th>
                          <th scope="col">Technology</th>
                          <th scope="col">Description</th>
                          <th scope="col">Role</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for proj in resource_projects %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{proj.project.name}}</td>
                                <td>{{proj.project.technology}}</td>
                                <td>{{proj.project.description}}</td>
                                <td>{{proj.resource.role}}</td>
                            </tr>
                        {% endfor %}
                      </tbody>
                </table>
            </div>
        </div>       
    </div>
{% endblock %}