{% extends "new/layout.html" %}
{% load new_template_tags %}
{% load widget_tweaks %}
{% block content %}
<body style="margin:12px;">
       <div class="container " >


        <div class="page-content__header mt-4">
              <!-- <div>
              <h2 class="page-content__header-heading">Dashboard</h2>
             
            </div> -->
           
          </div>
 
          <div class="page-content__header mt-4 bg-white" style="    margin-bottom: 0px !important;">
            <div>
              <h2 class="page-content__header-heading">Add New Client</h2>
            
            </div>
           
          </div>
        <div class="card">
           
        
        <div class="card-body cus_form">
            <form method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-xl-6 col-md-6 col-sm-12 col-lg-6">
                        <div class="form-group mb-4">
                            <label >First Name</label>
                            {% render_field form.first_name class="form-control" %}
                            {% for error in field.first_name.errors %}
                               <span class="help-block text-danger form-error">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 col-sm-12 col-lg-6">
                        <div class="form-group mb-4">
                            <label >Last Name</label>
                            {% render_field form.last_name class="form-control" %}
                            {% for error in field.last_name.errors %}
                               <span class="help-block text-danger form-error">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 col-sm-12 col-lg-6">
                        <div class="form-group mb-4">
                            <label >Email Id</label>
                            {% render_field form.email_id class="form-control" %}
                            {% for error in field.email_id.errors %}
                               <span class="help-block text-danger form-error">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
<!--                    <div class="col-xl-6 col-md-6 col-sm-12 col-lg-6">-->
<!--                        <div class="form-group mb-4">-->
<!--                            <label >Password</label>-->
<!--                            {% render_field form.password class="form-control" %}-->
<!--                               <span class="help-block text-danger form-error">{{ error }}</span>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="col-xl-6 col-md-6 col-sm-12 col-lg-6">
                        <div class="form-group mb-4">
                            <label >Business</label>
                            {% render_field form.business class="form-control" %}
                            {% for error in field.business.errors %}
                               <span class="help-block text-danger form-error">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 col-sm-12 col-lg-6">
                        <div class="form-group mb-4">
                            <label >Position</label>
                            {% render_field form.position class="form-control" %}
                            {% for error in field.position.errors %}
                               <span class="help-block text-danger form-error">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 col-sm-12 col-lg-6">
                        <div class="form-group mb-4">
                            <label >Contact</label>
                            {% render_field form.contact class="form-control" %}
                            {% for error in field.contact.errors %}
                               <span class="help-block text-danger form-error">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 col-sm-12 col-lg-6">
                        <div class="form-group mb-4">
                            <label >Alternate Contact</label>
                            {% render_field form.alternate_contact class="form-control" %}
                            {% for error in field.alternate_contact.errors %}
                               <span class="help-block text-danger form-error">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 col-sm-12 col-lg-6">
                        <div class="form-group mb-4">
                            <label >Address</label>
                            {% render_field form.address class="form-control" %}
                            {% for error in field.address.errors %}
                               <span class="help-block text-danger form-error">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4 cus_btnn_cntr">
                            <a href="{% url 'add_lead' %}"><button class="btn btn-primary mt-2" type="button">Cancel</button></a>
                            <button class="btn btn-primary mt-2" type="submit">Submit</button>
                        </div>
                        <div class="col-lg-4"></div>
                    </div>
                 
            </form>
        </div>
    </div>
    </div>
  </body>
{% endblock %}



    
