{% extends "new/layout.html" %}
{% load new_template_tags %}
{% load static %}
{% block content %}
    <div class="container">
         
        <div class="page-content__header mt-4">
              <!-- <div>
              <h2 class="page-content__header-heading">Dashboard</h2>
             
            </div> -->
           
          </div>
    
          <div class="page-content__header mt-4 bg-white">
            <div>
              <h2 class="page-content__header-heading">Show Client Raised Query Details</h2>
            
            </div>
            <div class="page-content__header-meta">
                {% if request.user.email|get_custom_role:request.user.email_id == 'client' and request.user.is_authenticated %}
              <a href="{% url 'addRQD' %}" class="btn btn-info icon-left">
                Add  <span class="btn-icon mdi mdi-plus-circle"></span>
              </a>
              {% endif %}
            </div>
          </div>



        <!-- <div class="card-header">
            {% if request.user.email|get_custom_role:request.user.email_id == 'client' and request.user.is_authenticated %}
            <a href="{% url 'addRQD' %}">
            <button type="button" class="btn btn-outline-primary" style="float: right;">ADD</button>
            </a>
            {% endif %}
            <h1 class="fs-2 fw-bolder mt-2">Show Client Raised Query Details</h1>
        </div> -->
        <div class="card mt-3">
          <div class="card-header">
              <i class="fas fa-table me-1"></i>
              Query List
          </div>
          <div class="card-body">
            <table class="table table_head" id="datatablesSimple">
            <thead>
                <tr>
                  <th scope="col">Sr No.</th>
                  <th scope="col">Project Name</th>
                  <th scope="col">Resource Name</th>
                  <th scope="col">Description</th>
                  <th scope="col">Files</th>
                </tr>
              </thead>
              <tbody>
                {% for element in query_list %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{element.project}}</td>
                        <td>{{element.resource}}</td>
                        <td>{{element.description}}</td>
                        <td>
                            <a class="text-dark" href="{% url 'view_files' element.project.name %}" style="text-decoration: none;" target="_blank" download="non" ><small>{{element.filename}}</small></a></p>                                </td>
                        </td>
                    </tr>
                    {% endfor %}
              </tbody>
            </table>
        </div>
        </div>           
    </div>
{% endblock %}