{% extends "new/layout.html" %}
{% load static %}
{% block content %}
    <div class="container card p10-2">
        <div class="card-header">
            <h1 class="fs-2 fw-bolder mt-2">Resource Attendance List</h1>
        </div>
        <div class="card mt-3">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Resource List
            </div>
            <div class="card-body">
                <table class="table " id="datatablesSimple">
                    <thead>
                        <tr>
                          <th scope="col">Sr No.</th>
                          <th scope="col">Project Name</th>
                          <th scope="col">Resource's</th>
                          <th scope="col">Role</th>
                          <th scope="col">Worklog </th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for element in resource_list %}
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td>{{element.project.name}}</td>
                                <td>{{element.resource.first_name}} {{element.resource.last_name}}</td>
                                <td>{{element.resource.role}}</td>
                                <td id="item_links">
                                    <a href="#">
                                    <button data-target="#popmodel" type="button" id="viewWorkLog" data-project-id="{{element.project_id}}" data-resource-id="{{element.resource_id}}" data-toggle="modal"  data-url="{% url 'resource_worklog' %}" class="btn btn-outline-primary"  style="float: center;">View</button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                      </tbody>
                </table>
            </div>
        </div>
    </div>
<!-- Modal -->
                    <div class="modal fade" id="popmodel" tabindex="-1" aria-labelledby="view" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="delete">WorkLog</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

{% endblock %}
{% block scripts %}
    <!-- block.super will get the content of the block from the parent template -->
    {{ block.super }}

    <script src="{% static 'new/js/scripts.js' %}"></script>
{% endblock %}