    <div class="container card p10-2">
        <div class="card">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Resource Worklog
            </div>
            <div class="card-body">
                <table class="table " id="datatablesSimple">
                <thead>
                    <tr>
                      <th scope="col">Sr No.</th>
                      <th scope="col">JiraTicket</th>
                      <th scope="col">Date</th>
                      <th scope="col">Description</th>
                      <th scope="col">Hours</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for element in worklog_list %}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td><a href="{{element.jira_ticket_link}}">{{element.jira_ticket_id}}</a></td>
                            <td>{{element.date}}</td>
                            <td>{{element.description}}</td>
                            <td>{{element.logged_hour}}</td>
                        </tr>
                        {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>
    </div>