{% extends "new/layout.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="page-content__header mt-4">
              <!-- <div>
              <h2 class="page-content__header-heading">Dashboard</h2>
             
            </div> -->
           
          </div>

          <div class="page-content__header mt-4 bg-white">
            <div>
              <h2 class="page-content__header-heading">View Clients</h2>
            
            </div>
            <div class="page-content__header-meta">
              <a href="{% url 'add_client' %}" class="btn btn-info icon-left">
                Add Clients <span class="btn-icon mdi mdi-plus-circle"></span>
              </a>
            </div>
          </div>


        <div class="card mt-3">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Client List
            </div>
            <div class="card-body">
                <table class="table table_head" id="datatablesSimple" >
                    <thead>
                        <tr>
                          <th scope="col">SN</th>
                          <th scope="col">First Name</th>
                          <th scope="col">Last Name</th>
                          <th scope="col">Email ID</th>
                          <th scope="col">Business</th>
                          <th scope="col">Position</th>
                          <th scope="col">Contact</th>
                          <th scope="col">Alter Contact</th>
                          <th scope="col">Address</th>
                          <th scope="col">Created By</th>
                          <th scope="col">Operations</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for client in client_list %}  
                            <tr>
                                <td scope="row">{{forloop.counter}}</td>
                                <td>{{client.first_name}}</td>
                                <td>{{client.last_name}}</td>
                                <td>{{client.email_id}}</td>
                                <td>{{client.business}}</td>
                                <td>{{client.position}}</td>
                                <td>{{client.contact}}</td>
                                <td>{{client.alternate_contact}}</td>
                                <td>{{client.address}}</td>
                                <td>{{client.created_by}}</td>
                                <td id="item_links">
                                    <a href="{% url 'alter_client' client.id %}" style="text-decoration: none;color: darkslategrey;">
                                        <i class="fas fa-edit mx-2" title="Update" ></i>
                                    </a>
                                    <button type="button" style="border: none;outline: none;background: none;color: darkslategrey;"  data-bs-toggle="modal" data-bs-target="#deleteClientModal-{{client.id}}">
                                        <i class="fas fa-trash" title="Delete" ></i>
                                    </button>
                                    
                                </td>
                            </tr>
                            <!-- Modal -->
                            <div class="modal fade" id="deleteClientModal-{{client.id}}" tabindex="-1" aria-labelledby="delete" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="delete">Delete Client</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure, you want to delete {{client.first_name}} client .. !
                                        </div>
                                        <div class="modal-footer">
                                        <form action="{% url 'delete_client' client.id %}" method="POST">
                                            {% csrf_token %}
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Delete</button>
                                        </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}    
                    </tbody>
                </table>
            </div>
        </div>    
    </div>

{% endblock %}