{% extends "new/layout.html" %}
{% load static %}
{% block content %}
    <div class="container card p10-2">
        <div class="card-header">
            <h1 class="fs-2 fw-bolder mt-2">Project Details</h1>
        </div>
        <div class="card mt-3">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Project List
            </div>
            <div class="card-body">
                <table class="table " id="datatablesSimple">
                    <thead>
                        <tr>
                          <th scope="col">Sr No.</th>
                          <th scope="col">Project Name</th>
                          <th scope="col">Status</th>
                          <th scope="col">Team</th>
                          <th scope="col">No. Of Resource</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for element in client_project %}
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td>{{element.name}}</td>
                                <td>{{element.status}}</td>
                                <td>{{element.client}}</td>
                                <td>{{element.no_of_resource}}</td>
                        {% endfor %}
                      </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}