<!DOCTYPE html>
<html>
<head>
<title>Appointment Letter</title>

</head>

<body>
<table style="width:100%;">
   <tr>
        <td colspan="3">
            <table width="100%">
               <tr>
                  <td>
                     <div style="margin-bottom: 8px; margin-left: 50px;"><strong>Name</strong> {{appoint.employee}} </div>
                      <div style="margin-bottom: 8px; margin-left: 50px;"> <strong>Date: </strong> {{appoint.created_at|date:'d/m/Y'}}
                  </td>
                  <td>Signature of the Employee:</td>
                
                </tr>
            
            </table>

        </td>
   </tr>
 
 <tr>
    <td>
	  <div style="margin-left: 50px;margin-top: 50px;">
	      <img src="http://pms.wooshelf.com/static/new/assets/img/favicon.png" style="width: 14%;"> 
	   </div>
	</td>
 </tr>
 <tr>
 
    <td colspan="3"><div style="text-align: center;font-weight: 600;font-family: sans-serif; font-size: 18px; padding-top: 45px; padding-bottom: 25px;">ANNEXURE ‘A’: COMPENSATION DETAILS (Salary & applicable benefits)</div></td>
 </tr>
 <tr>
 <td colspan="3">
 <div style="margin-left:10%; margin-right:10%;">
 <table  style="width:100%;border:1px solid #000; text-align:center;">
 <tr>
    <td colspan="3">
	   <div style=" text-align: center; font-weight: 600; font-family: sans-serif; font-size: 16px; padding-top:5px;">Salary Break Up</div>
	</td>
   </tr>
   <tr>
     <td style="border-bottom:1px solid #000; border-right:1px solid #000; border-top:1px solid #000;"><div style="padding-top:5px;padding-bottom:3px;"><strong>Name</strong></div></td>
	 <td colspan="2" style="border-bottom:1px solid #000; border-top:1px solid #000; "> {{appoint.employee}} </td>
   </tr>
    <tr>
     <td style="border-bottom:1px solid #000; border-right:1px solid #000;"><div style="padding-top:5px;padding-bottom:3px;"><strong>Designation</strong></td>
	 <td colspan="2" style="border-bottom:1px solid #000; ">{{appoint.employee.role}}</td>
   </tr>
   {% comment %} <tr>
     <td style="border-bottom:1px solid #000; border-right:1px solid #000;"><strong>Department</strong></td>
	 <td colspan="2" style="border-bottom:1px solid #000; ">Development</td>
   </tr> {% endcomment %}
   <tr style="padding-top:5px;padding-bottom:3px;">
      <td style="border-bottom:1px solid #000; border-right:1px solid #000;"><div><strong>Salary Components</strong></td>
      <td style="border-bottom:1px solid #000; border-right:1px solid #000;"><strong>Amount (Per Year)</strong></td>
      <td style="border-bottom:1px solid #000; "><strong>Amount (Per Month)</strong></td>
   </tr>
    <tr style="padding-top:5px;padding-bottom:3px;" >
      <td style="border-bottom:1px solid #000; border-right:1px solid #000;">Basic Salary</td>
      <td style="border-bottom:1px solid #000; border-right:1px solid #000;">{{appoint.basic_salary}}</td>
      <td style="border-bottom:1px solid #000; ">{{basicSalary}}</td>
   </tr>
   
     <tr style="padding-top:5px;padding-bottom:3px;">
      <td style="border-bottom:1px solid #000; border-right:1px solid #000;">House Rent Allowance</td>
      <td style="border-bottom:1px solid #000; border-right:1px solid #000;">{{appoint.hra}}</td>
      <td style="border-bottom:1px solid #000; "> {{hra}} </td>
   </tr>
   
   <tr style="padding-top:5px;padding-bottom:3px;">
      <td style="border-bottom:1px solid #000; border-right:1px solid #000;">Conveyance</td>
      <td style="border-bottom:1px solid #000; border-right:1px solid #000;">{{appoint.conveyance}}</td>
      <td style="border-bottom:1px solid #000; ">{{conveyance}}</td>
   </tr>
   
   <tr style="padding-top:5px;padding-bottom:3px;">
      <td style="border-bottom:1px solid #000; border-right:1px solid #000;">Special Allowance</td>
      <td style="border-bottom:1px solid #000; border-right:1px solid #000;">{{appoint.special_allowance}}</td>
      <td style="border-bottom:1px solid #000; ">{{special_allowance}}</td>
   </tr>
   
   <tr style="padding-top:5px;padding-bottom:3px;">
      <td style="border-bottom:1px solid #000; border-right:1px solid #000;">Fuel & Car Reimbursement</td>
      <td style="border-bottom:1px solid #000; border-right:1px solid #000;">{{appoint.fuel}}</td>
      <td style="border-bottom:1px solid #000; "> {{fuel}} </td>
   </tr>
   
   <tr style="padding-top:5px;padding-bottom:3px;">
      <td style="border-bottom:1px solid #000; border-right:1px solid #000;">Travel Allowance</td>
      <td style="border-bottom:1px solid #000; border-right:1px solid #000;">{{appoint.ta}}</td>
      <td style="border-bottom:1px solid #000; "> - </td>
   </tr>
   
   <tr style="padding-top:5px;padding-bottom:3px;">
      <td style="border-bottom:1px solid #000; border-right:1px solid #000;">Medical Reimbursement</td>
      <td style="border-bottom:1px solid #000; border-right:1px solid #000;">{{appoint.medical}}</td>
      <td style="border-bottom:1px solid #000; ">{{medical}}</td>
   </tr>
   
   <tr style="padding-top:5px;padding-bottom:3px;">
      <td style="border-bottom:1px solid #000; border-right:1px solid #000;">Leave Encashment</td>
      <td style="border-bottom:1px solid #000; border-right:1px solid #000;">{{appoint.leave_encashment}}</td>
      <td style="border-bottom:1px solid #000; ">-</td>
   </tr>
   
   <tr style="padding-top:5px;padding-bottom:3px;">
      <td style="border-bottom:1px solid #000; border-right:1px solid #000;">Telephone Reimbursement</td>
      <td style="border-bottom:1px solid #000; border-right:1px solid #000;">{{appoint.telephone}}</td>
      <td style="border-bottom:1px solid #000; ">-</td>
   </tr>
   
   <tr style="padding-top:5px;padding-bottom:3px;">
      <td style="border-bottom:1px solid #000; border-right:1px solid #000;">Skill Development</td>
      <td style="border-bottom:1px solid #000; border-right:1px solid #000;">{{appoint.skill_development}}</td>
      <td style="border-bottom:1px solid #000; ">-</td>
   </tr>
   
   <tr style="padding-top:5px;padding-bottom:3px;" >
      <td style="border-bottom:1px solid #000; border-right:1px solid #000;">Provident Fund</td>
      <td style="border-bottom:1px solid #000; border-right:1px solid #000;">{{appoint.pf}}</td>
      <td style="border-bottom:1px solid #000; ">{{pf}}</td>
   </tr>
   
   <tr style="padding-top:5px;padding-bottom:3px; font-weight: 600;">
      <td style=" border-right:1px solid #000;"><strong>Gross CTC</strong></td>
      <td style=" border-right:1px solid #000;">{{appoint.total_salary}}</td>
      <td style=" ">{{total_month_salary}}</td>
   </tr>
   
   
   
   </table>
   </div>
   </td>
   
   
 </tr>
  <tr>
  <td colspan="3">
  <div style="">
    <table width="100%">
	<tr>
     <td colspan="12" width="100%">
      <div style="font-size: 14px;font-weight: 700; width:500px; margin-top:15px; padding-top:20px;width:900px;" >*(Note: Tax will be deducted as per the Government Rules)</div></td>
	 </tr>
	 
	 <tr>
	   <td colspan="12">
         <div style="margin-top:30px; margin-bottom:10px; padding-top:20px; font-weight: 600;">  Note: </div>
         <div>▪ It is expected that individual compensation packages would not be shared with otheremployees.</div>
         <div style="margin-bottom:20px;">▪ The above compensation structure is subject to change without affecting emolumentsadversely.</div>
	   </td>
	 </tr>
	  <tr>
	   <td colspan="12" >
         <div style="float:left; width:50%; text-align:left;">
	     <div style=" margin-top: 20px;   margin-bottom: 10px;  font-weight: 700;">  For Wooshelf Pvt.Ltd. </div>
          <div style="font-weight: 700;">{{ceo}}<br />
             CEO-Wooshelf</div>

          </div>
           
             <div  style="font-weight: 700; width:500px; float:right; width:50%; text-align:right;">I accept the above terms &conditions <br /> ............................. </div>
	   </td>

	 </tr>
	 </table>
	 </div>
	 </td>
   </tr>
</table>

</body>
</html>