{% load static %}
<head>
<style type="text/css">
    @page {
        size: a4 portrait;
        @frame header_frame {           /* Static Frame */
            -pdf-frame-content: header_content;
            left: 50pt; width: 512pt; top: 50pt; height: 40pt;
        }
        @frame content_frame {          /* Content Frame */
            left: 50pt; width: 512pt; top: 90pt; height: 632pt;
        }
        @frame footer_frame {           /* Another static Frame */
            -pdf-frame-content: footer_content;
            left: 50pt; width: 512pt; top: 772pt; height: 20pt;
        }
    }
</style>
<title>Salary Slip</title>
</head>

<body>

    <!-- Content for Static Frame 'footer_frame' -->
    <div id="footer_content">(c) - page <pdf:pagenumber>
        of <pdf:pagecount>
    </div>

    <!-- HTML Content -->


<body>

                 <table width="100%" style=" ">
<tbody>
    <tr rowspan="2">
    <td style="text-align:center; width: 25%; margin-bottom:15px;">
        <img src="http://pms.wooshelf.com/static/new/assets/img/favicon.png" alt="" width="250">
    </td>




    <td align="center" style="width: 90%;">
         <div style="font-family: sans-serif; font-size:32px;  
         ">Wooshelf Pvt Ltd</div>
          <div style=" font-family: sans-serif; color:#353535; font-size:14px; margin-bottom:10px;">
              133, Block H Aghapur Rd, Block F, Sector 41, Noida, Uttar Pradesh 201303</div>
           <div >
               <span style="font-family: sans-serif;     text-transform: uppercase; font-size:25px;">Payslip for {{slip.month|date:'M, Y'}}</span>

               </div>
          </td>

          </tr>
<tr>
    <td><br /></td>
</tr>
          <tr>
              <td colspan="2">


                  <table width="100%" style="">
                      <tr>

                          <td style="padding:5px 5px; border-left:1px solid #313131; border-top:1px solid #313131; font-weight:600;">Name</td>
                           <td style="border-top:1px solid #313131;">{{slip.employee}}</td>
                          <td style="border-top:1px solid #313131; font-weight:600;">Emp ID.</td>
                           <td style="padding:5px 5px; border-top:1px solid #313131; 
                           border-right:1px solid #313131;">{{slip.employee.empolyee_id}}</td>

                      </tr>
                         <tr>

                          <td style="padding:5px 5px; border-left:1px solid #313131; font-weight:600;">Designation:</td>
                           <td >{{slip.employee.role}}</td>
                          <td style="font-weight:600;">Bank A/c</td>
                           <td style="padding:5px 5px;  border-right:1px solid #313131;">{{slip.get_bank_details.account_number}}</td>

                      </tr>
                         <tr>

                          <td style="padding:5px 5px; border-left:1px solid #313131; font-weight:600;">Days:</td>
                           <td>{{slip.total_days}}</td>
                          <td style="font-weight:600;">Bank Name</td>
                           <td style="padding:5px 5px; border-right:1px solid #313131;">{{slip.get_bank_details.bank_name}}</td>

                      </tr>



                        <tr>

                          <td style="padding:5px 5px;  border-bottom:1px solid #313131; border-left:1px solid #313131; font-weight:600;">Location:</td>
                           <td style="border-bottom:1px solid #313131; ">Noida</td>
                         <td style="border-bottom:1px solid #313131; font-weight:600;">PAN</td>
                           <td style=" padding:5px 5px; border-bottom:1px solid #313131; border-right:1px solid #313131;">{{slip.get_bank_details.pan}}</td>

                      </tr>

                        

                  </table>



              </td>
          </tr>
<tr>
    <td><br /></td>
</tr>
          <tr>
              <td colspan="2">

                <table  style="width:100%;border:1px solid #000; text-align:center;">
                      <tr style="padding-top:5px;padding-bottom:3px;">
                            <td style="border-bottom:1px solid #000; border-right:1px solid #000;"><div><strong>Salary Components</strong></td>
                            <td style="border-bottom:1px solid #000; border-right:1px solid #000;"><strong>Earning Amount</strong></td>
                            <td style="border-bottom:1px solid #000; border-right:1px solid #000;"><strong>Deductions</strong></td>
                            <td style="border-bottom:1px solid #000; "><strong>Deductions Amount</strong></td>
                      </tr>
                       <tr style="padding-top:5px;padding-bottom:3px;" >
                         <td style="border-bottom:1px solid #000; border-right:1px solid #000;">Basic Salary</td>
                         <td style="border-bottom:1px solid #000; border-right:1px solid #000;">{{slip.basic_salary}}</td>
                         <td style="border-bottom:1px solid #000; border-right:1px solid #000;">Leave</td>
                         <td style="border-bottom:1px solid #000; ">{{slip.deductions}}</td>
                      </tr>
                      
                        <tr style="padding-top:5px;padding-bottom:3px;">
                         <td style="border-bottom:1px solid #000; border-right:1px solid #000;">House Rent Allowance</td>
                         <td style="border-bottom:1px solid #000; border-right:1px solid #000;"> {{slip.hra}} </td>
                         <td style="border-bottom:1px solid #000; border-right:1px solid #000;">PF</td>
                         <td style="border-bottom:1px solid #000; ">{{slip.pf}}</td>
                      </tr>
                      
                      <tr style="padding-top:5px;padding-bottom:3px;">
                         <td style="border-bottom:1px solid #000; border-right:1px solid #000;">Conveyance</td>
                         <td style="border-bottom:1px solid #000; border-right:1px solid #000;">{{slip.conveyance}}</td>
                         <td style="border-bottom:1px solid #000; border-right:1px solid #000;"></td>
                         <td style="border-bottom:1px solid #000; "></td>
                      </tr>
                      
                      <tr style="padding-top:5px;padding-bottom:3px;">
                         <td style="border-bottom:1px solid #000; border-right:1px solid #000;">Special Allowance</td>
                         <td style="border-bottom:1px solid #000; border-right:1px solid #000;">{{slip.special_allowance}}</td>
                         <td style="border-bottom:1px solid #000; border-right:1px solid #000;"></td>
                         <td style="border-bottom:1px solid #000; "></td>
                      </tr>
                      
                      <tr style="padding-top:5px;padding-bottom:3px;">
                         <td style="border-bottom:1px solid #000; border-right:1px solid #000;">Fuel & Car Reimbursement</td>
                         <td style="border-bottom:1px solid #000; border-right:1px solid #000;"> {{slip.fuel}} </td>
                         <td style="border-bottom:1px solid #000; border-right:1px solid #000;"></td>
                         <td style="border-bottom:1px solid #000; "></td>
                      </tr>
                                            
                      <tr style="padding-top:5px;padding-bottom:3px;">
                         <td style="border-bottom:1px solid #000; border-right:1px solid #000;">Medical Reimbursement</td>
                         <td style="border-bottom:1px solid #000; border-right:1px solid #000;">{{slip.medical}}</td>
                         <td style="border-bottom:1px solid #000; border-right:1px solid #000;"></td>
                         <td style="border-bottom:1px solid #000; "></td>
                      </tr>
                                            
                      {% comment %} <tr style="padding-top:5px;padding-bottom:3px;" >
                         <td style="border-bottom:1px solid #000; border-right:1px solid #000;">Provident Fund</td>
                         <td style="border-bottom:1px solid #000; border-right:1px solid #000;">{{slip.pf}}</td>
                         <td style="border-bottom:1px solid #000; border-right:1px solid #000;"></td>
                         <td style="border-bottom:1px solid #000; "></td>
                      </tr> {% endcomment %}

                      {% comment %} <tr style="padding-top:5px;padding-bottom:3px;" >
                         <td style="border-bottom:1px solid #000; border-right:1px solid #000;">Deductions</td>
                         <td style="border-bottom:1px solid #000; border-right:1px solid #000;">{{appoint.pf}}</td>
                         <td style="border-bottom:1px solid #000; border-right:1px solid #000;">0</td>
                         <td style="border-bottom:1px solid #000; ">{{slip.deductions}}</td>
                      </tr> {% endcomment %}
                      
                      <tr style="padding-top:5px;padding-bottom:3px; font-weight: 600;">
                         <td style=" border-right:1px solid #000;"><strong>Total</strong></td>
                         <td style="border-bottom:1px solid #000; border-right:1px solid #000;">{{slip.salary}}</td>
                         <td style="border-bottom:1px solid #000; border-right:1px solid #000;"></td>
                         <td style=" ">{{total_deduction}}</td>
                      </tr>

                    
                    <tr style="padding-top:5px;padding-bottom:3px; font-weight: 600;">
                        <td style=" border-right:1px solid #000;"><strong></strong></td>
                        <td style="border-bottom:1px solid #000; border-right:1px solid #000;"></td>
                        <td style="border-bottom:1px solid #000; border-right:1px solid #000;"><strong>Net Earnings:</strong></td>
                        <td style=" "><strong>{{net_pay}}</strong></td>
                    </tr>

                </table>




                  {% comment %} <table width="100%" style="">
                      <tr >
                          <td style=" border-top: 1px solid #464646; border-bottom: 1px solid #464646; 
                          border-left: 1px solid #464646;     padding: 5px 5px; width:25%;">
                          <strong>Earnings:</strong></td>
                          <td style="padding:0px 10px; border-top: 1px solid #464646; border-bottom: 1px solid #464646; 
                          border-right: 1px solid #464646;width:25%; text-align:right; ">Amount</td>
                          <td style=" border-top: 1px solid #464646; border-bottom: 1px solid #464646; width:25%; padding:0px 5px;">
                              <strong>Deductions:</strong></td>
                          <td style=" border-top: 1px solid #464646; border-bottom: 1px solid #464646; 
                          border-right: 1px solid #464646; width:25%; text-align:right; padding:0px 10px;">Amount</td>
                      </tr>
                        <tr>
                          <td style="border-bottom: 1px solid #464646; border-left: 1px solid #464646;     padding: 5px 5px;">&nbsp;</td>
                          <td style="border-bottom: 1px solid #464646; border-right: 1px solid #464646; text-align:right; padding:0px 10px;">{{slip.salary}}</td>
                          <td style="border-bottom: 1px solid #464646;">&nbsp;</td>
                          <td style="border-bottom: 1px solid #464646; border-right: 1px solid #464646; text-align:right; padding:0px 10px;">{{slip.deductions}}</td>
                      </tr>
                       <tr>
                          <td style="  border-bottom: 1px solid #464646; border-left: 1px solid #464646;  border-left: 1px;   padding: 5px 5px;">
                              <strong>Earnings:</strong></td>
                          <td style="  border-bottom: 1px solid #464646; border-right: 1px solid #464646; text-align:right; padding:0px 10px;">Amount</td>
                          <td style="  border-bottom: 1px solid #464646; border-left: 1px; padding:0px 5px;"><strong>Deductions:</strong></td>
                          <td style="  border-bottom: 1px solid #464646; border-right: 1px solid #464646; text-align:right; padding:0px 10px;">{{slip.deductions}}</td>
                      </tr>

                  </table> {% endcomment %}






                  <table>
                    <tr border=1 class="pb-5 text-bold">
                        {% comment %} <td style="padding-top: 15px;"><strong> Net Pay {{slip.month|date:'M'}}</strong></td>
                        <td style="padding-top: 15px;"><strong>{{net_pay}}</strong></td> {% endcomment %}
                    </tr>
                    <tr border=1>
                        {% comment %} <td style="padding-top:5px; padding-bottom:5px;"><strong>({{amount_hindi}} in INR)</strong></td> {% endcomment %}
                    </tr>
                    <tr>
                        <td colspan="5"><hr /></td>
                    </tr>
                    <tr>
                        <td colspan="5"><center>This is Computer Generated Payslip. Hence Signature is not Required. </center></td> 
                    </tr>
                  </table>

              </td>
          </tr>







                  </tbody>
          </table>

</body>
</html>