{% extends "new/layout.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="page-content__header mt-4 bg-white">
        <div>
            <h2 class="page-content__header-heading">Employee Account Details</h2>
        
        </div>
        <div class="page-content__header-meta">
            <a href="{% url 'add_account' %}" class="btn btn-info icon-left">
            Add <span class="btn-icon mdi mdi-plus-circle"></span>
            </a>
        </div>
        </div>

        <div class="card mt-3">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Salary List
            </div>
            <div class="card-body">
                <table class="table table_head" id="datatablesSimple" >
                    <thead>
                        <tr>
                          <th scope="col">SN</th>
                          <th scope="col">Employee</th>
                          <th scope="col">Bank Name</th>
                          <th scope="col">Account No</th>
                          <th scope="col">IFSC</th>
                          <th scope="col">PAN</th>
                          <th scope="col">Status</th>
                          <th scope="col">Operations</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for element in data %}  
                            <tr>
                                <td scope="row">{{forloop.counter}}</td>
                                <td>{{element.employee}}</td>
                                <td>{{element.bank_name}}</td>
                                <td>{{element.account_number}}</td>
                                <td>{{element.ifsc}}</td>
                                <td>{{element.pan}}</td>
                                <td>{{element.bank_account_status}}</td>
                                <td id="item_links">
                                    <a href="{% url 'alter_account' element.id %}" style="text-decoration: none;color: darkslategrey;">
                                        <i class="fas fa-edit mx-2" title="Update" ></i>
                                    </a>
                                    {% comment %} <button type="button" style="border: none;outline: none;background: none;color: darkslategrey;"  data-bs-toggle="modal" data-bs-target="#deleteeModal-{{element.id}}">
                                        <i class="fas fa-trash" title="Delete" ></i>
                                    </button> {% endcomment %}
                                    
                                </td>
                            </tr>
                            <!-- Modal -->
                            <div class="modal fade" id="deleteeModal-{{element.id}}" tabindex="-1" aria-labelledby="delete" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="delete">Delete e</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure, you want to delete {{element.employee}} Salary Details !
                                        </div>
                                        <div class="modal-footer">
                                        <form action="{% url 'delete_account' element.id %}" method="POST">
                                            {% csrf_token %}
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Delete</button>
                                        </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}    
                    </tbody>
                </table>
            </div>
        </div>    
    </div>

{% endblock %}