{% extends "new/layout.html" %}
{% load static %}
{% load new_template_tags %}
{% block content %}
    <div class="container">
        <div class="page-content__header mt-4 bg-white">
        <div>
            <h2 class="page-content__header-heading">View Employee Salary</h2>
        
        </div>
        <div class="page-content__header-meta">
            {% if request.user.email|get_custom_role:request.user.email_id == 'human_resource' or request.user.is_superuser %}
            <a href="{% url 'add_emp_salary' %}" class="btn btn-info icon-left">
            Add <span class="btn-icon mdi mdi-plus-circle"></span>
            </a>
            {% endif %}
        </div>
        </div>

        <div class="card mt-3">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Salary List
            </div>
            <div class="card-body">
                <table class="table table_head" id="datatablesSimple" >
                    <thead>
                        <tr>
                          <th scope="col">SN</th>
                          <th scope="col">Employee</th>
                          <th scope="col">Basic Salary</th>
                          <th scope="col">HRA</th>
                          <th scope="col">Special Allowance</th>
                          <th scope="col">Fuel</th>
                          <th scope="col">TA</th>
                          <th scope="col">Medical</th>
                          <th scope="col">PF</th>
                          <th scope="col">Total Salary</th>
                          <th scope="col">Operations</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for e in data %}  
                            <tr>
                                <td scope="row">{{forloop.counter}}</td>
                                <td>{{e.employee}}</td>
                                <td>{{e.basic_salary}}</td>
                                <td>{{e.hra}}</td>
                                <td>{{e.special_allowance}}</td>
                                <td>{{e.fuel}}</td>
                                <td>{{e.ta}}</td>
                                <td>{{e.medical}}</td>
                                <td>{{e.pf}}</td>
                                <td>{{e.total_salary}}</td>
                                <td id="item_links">
                                    <a href="{% url 'appointment_letter' e.id %}" target="_blank" style="text-decoration: none;color: darkslategrey;">
                                        <i class="fas fa-print mx-2" title="Print" ></i>
                                    </a>
                                    {% if request.user.email|get_custom_role:request.user.email_id == 'human_resource' or request.user.is_superuser %}
                                        <a href="{% url 'alter_emp_salary' e.id %}" style="text-decoration: none;color: darkslategrey;">
                                            <i class="fas fa-edit mx-2" title="Update" ></i>
                                        </a>
                                        {% comment %} <button type="button" style="border: none;outline: none;background: none;color: darkslategrey;"  data-bs-toggle="modal" data-bs-target="#deleteeModal-{{e.id}}">
                                            <i class="fas fa-trash" title="Delete" ></i>
                                        </button> {% endcomment %}
                                    {% endif %}
                                </td>
                            </tr>
                            <!-- Modal -->
                            <div class="modal fade" id="deleteeModal-{{e.id}}" tabindex="-1" aria-labelledby="delete" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="delete">Delete e</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure, you want to delete {{e.employee}} Salary Details !
                                        </div>
                                        <div class="modal-footer">
                                        <form action="{% url 'delete_emp_salary' e.id %}" method="POST">
                                            {% csrf_token %}
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Delete</button>
                                        </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}    
                    </tbody>
                </table>
            </div>
        </div>    
    </div>

{% endblock %}