{% extends "new/layout.html" %}
{% load static %}
{% load new_template_tags %}
{% block content %}
    <div class="container">
        <div class="page-content__header mt-4 bg-white">
        <div>
            <h2 class="page-content__header-heading">Employee Salary Details</h2>
        
        </div>
        <div class="page-content__header-meta">
            {% if request.user.email|get_custom_role:request.user.email_id == 'human_resource' or request.user.is_superuser %}
                <button data-bs-toggle="modal" data-bs-target="#sendSalaryModel"> Genarate Salary Slip <span class="btn-icon mdi mdi-basket"></span> </button>
            {% endif %}
            {% comment %} <a href="{% url 'set_monthly_salary' %}" class="btn btn-info icon-left">
            Send Salary <span class="btn-icon mdi mdi-basket"></span>
            </a> {% endcomment %}

            <!-- Modal -->
            <div class="modal fade" id="sendSalaryModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Salary send confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h4>Before send salary make sure for every employee:</h4>
                        <p>Employee bank account added.</p>
                        <p>Employee Salary (PA) added or Appointment generated.</p> 
                        <p>Employee Attendance aproved of previous months.</p> 
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <a href="{% url 'set_monthly_salary' %}" class="btn btn-info icon-left">Genarate</a>
                    </div>
                </div>
                </div>
            </div>
            {% comment %} end model {% endcomment %}
        </div>
        </div>

        <div class="card mt-3">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Salary List
            </div>
            <div class="card-body">
                <table class="table table_head" id="datatablesSimple" >
                    <thead>
                        <tr>
                          <th scope="col">SN</th>
                          <th scope="col">Employee</th>
                          <th scope="col">Total Days</th>
                          <th scope="col">Total Salary</th>
                          <th scope="col">Month</th>
                          <th scope="col">Created At</th>
                          <th scope="col">Operations</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for element in salary %}  
                            <tr>
                                <td scope="row">{{forloop.counter}}</td>
                                <td>{{element.employee}}</td>
                                <td>{{element.total_days}}</td>
                                <td>{{element.current_month_total_salary}}</td>
                                <td>{{element.month|date:'M'}}</td>
                                <td>{{element.created_at}}</td>
                                <td id="item_links">
                                    <a href="{% url 'slip' element.id %}" target="_blank" style="text-decoration: none;color: darkslategrey;">
                                        <i class="fas fa-print mx-2" title="Print" ></i>
                                    </a>
                                    
                                    {% comment %} <button type="button" style="border: none;outline: none;background: none;color: darkslategrey;"  data-bs-toggle="modal" data-bs-target="#deleteeModal-{{element.id}}">
                                        <i class="fas fa-trash" title="Delete" ></i>
                                    </button> {% endcomment %}
                                    
                                </td>
                            </tr>
                            <!-- Modal -->
                            {% comment %} <div class="modal fade" id="deleteeModal-{{element.id}}" tabindex="-1" aria-labelledby="delete" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="delete">Delete e</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure, you want to delete {{element.employee}} Salary Details !
                                        </div>
                                        <div class="modal-footer">
                                        <form action="{% url 'delete_emp_salary' element.id %}" method="POST">
                                            {% csrf_token %}
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Delete</button>
                                        </form>
                                        </div>
                                    </div>
                                </div>
                            </div> {% endcomment %}
                        {% endfor %}    
                    </tbody>
                </table>
            </div>
        </div>    
    </div>

{% endblock %}