{% extends "new/layout.html" %}
{% load widget_tweaks %}
{% block content %}
<body style="margin:12px;">
       <div class="container ">

        <div class="page-content__header mt-4">
              <!-- <div>
              <h2 class="page-content__header-heading">Dashboard</h2>
             
            </div> -->
           
          </div>

          <div class="page-content__header mt-4 bg-white">
            <div>
              <h2 class="page-content__header-heading">Create Blog</h2>
            
            </div>
            <div class="page-content__header-meta">
             
            </div>
          </div>

       <div class="card">
        <div class="card-body cus_form">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row mll-100">
                    <!-- {{ form }} -->
                    {{ form.media }}
                    {% for field in form.visible_fields %}
                    <div class="col-xl-10 col-md-6 col-sm-12 col-lg-6">
                        <div class="form-group mb-4">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {% render_field field class="form-control" %}
                            {% for error in field.errors %}
                               <span class="help-block text-danger form-error">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-lg-4">

                    </div>
                    <div class="col-lg-4 cus_btnn_cntr">
                        <a href="{% url 'view_blog' %}"><button class="btn btn-primary mt-2" type="button">Cancel</button></a>
                        <button class="btn btn-primary mt-2" type="submit">Submit</button>
                    </div>
                    <div class="col-lg-4 ">
                        
                    </div>
                </div>
              
            </form>
        </div>
        </div>
    </div>
  </body>
{% endblock %}

