{% extends "new/layout.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="page-content__header mt-4">
              <!-- <div>
              <h2 class="page-content__header-heading">Dashboard</h2>
             
            </div> -->
           
          </div>

          <div class="page-content__header mt-4 bg-white">
            <div>
              <h2 class="page-content__header-heading">View Blog</h2>
            
            </div>
            <div class="page-content__header-meta">
              <a href="{% url 'add_blog' %}" class="btn btn-info icon-left">
                Add Blog <span class="btn-icon mdi mdi-plus-circle"></span>
              </a>
            </div>
          </div>

    
        <div class="card mt-3">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Blog List
            </div>
            <div class="card-body">
                <table class="table" id="datatablesSimple">
                    <thead>
                        <tr>
                          <th scope="col">SN</th>
                          <th scope="col">Title</th>
                          <th scope="col">Category</th>
                          <th scope="col">Description</th>
                          <th scope="col">Keyword</th>
                          <th scope="col">Created by</th>
                          <th scope="col">Operations</th>
                        </tr>
                    </thead><hr/>
                    <tbody>
                        {% for blog in blogs %}  
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td>{{blog.title}}</td>
                                <td>{{blog.category}}</td>
                                <td>
                                    <button type="button" style="border: none;outline: none;background: none;color: blue;"  data-bs-toggle="modal" data-bs-target="#viewBlogModal-{{blog.id}}">
                                        View Descriptions..
                                    </button>
                                </td>
                                <td>{{blog.specific_keyword}}</td>
                                <td>{{blog.created_by}}</td>
                                <td id="item_links">
                                    <a href="{% url 'update_blog' blog.id %}" style="text-decoration: none;color: darkslategrey;">
                                        <i class="fas fa-edit mx-2" title="Update" ></i>
                                    </a>
                                    <button type="button" style="border: none;outline: none;background: none;color: darkslategrey;"  data-bs-toggle="modal" data-bs-target="#deleteBlogModal-{{blog.id}}">
                                        <i class="fas fa-trash" title="Delete" ></i>
                                    </button>
                                </td>
                            </tr>
                        <!-- popup for descriptions -->
                            <div class="modal fade" id="viewBlogModal-{{blog.id}}" tabindex="-1" aria-labelledby="delete" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="view">Title - {{blog.title}}</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            {{ blog.description | safe }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="deleteBlogModal-{{blog.id}}" tabindex="-1" aria-labelledby="delete" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="delete">Delete Client</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure, you want to delete {{blog.title}} blog .. !
                                        </div>
                                        <div class="modal-footer">
                                        <form action="{% url 'delete_blog' blog.id %}" method="POST">
                                            {% csrf_token %}
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Delete</button>
                                        </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}    
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}