{% load static %}
{% load new_template_tags %}
{% for x in notification %}
    {% if request.user.is_superuser %}
    <div class="navbar-dropdown-notification {% if request.user.is_superuser and x.admin_read_status %}{% else %} is-new {% endif %}">
    {% elif request.user.email|get_custom_role:request.user.email_id == 'project_manager' or request.user.email|get_custom_role:request.user.email_id == 'solution_architect' or request.user.email|get_custom_role:request.user.email_id == 'business_analyst' or request.user.email|get_custom_role:request.user.email_id == 'backend_team_lead' or request.user.email|get_custom_role:request.user.email_id == 'frontend_team_lead' or request.user.email|get_custom_role:request.user.email_id == 'business_development_execute' %}
    <div class="navbar-dropdown-notification {% if request.user.email|get_custom_role:request.user.email_id == 'project_manager' and x.manager_read_status %}{% else %} is-new {% endif %}">
    {% elif request.user.email|get_custom_role:request.user.email_id == 'resource_member' %}
    <div class="navbar-dropdown-notification {% if request.user.email|get_custom_role:request.user.email_id == 'resource_member' and x.resource_read_status %}{% else %} is-new {% endif %}">
    {% elif request.user.email|get_custom_role:request.user.email_id == 'lead_generator' %}
    <div class="navbar-dropdown-notification {% if request.user.email|get_custom_role:request.user.email_id == 'lead_generator' and x.resource_read_status %}{% else %} is-new {% endif %}">
    {% endif %}
        <div class="navbar-dropdown-notification__user">
            <img class="navbar-dropdown-notification__avatar rounded-circle" src="{% static 'new/assets/img/users.png' %}" alt="" width="40" height="40">
            <div class="ua-icon-circle-check navbar-dropdown-notification__icon color-success"></div>
        </div>
        <div class="navbar-dropdown-notification__content">
            <a href="#" class="navbar-dropdown-notification__action-name" style="padding-left:0px;">{{x.manager_receiver}}</a>
            <div class="navbar-dropdown-notification__action-desc">{{x.notification}}<strong> {{x.notification_type}}</strong> to you in <strong>{{request.user}}</strong></div>
        </div>
        <span class="navbar-dropdown-notification__date">{{x.created_at|date:"d-M, H:i"}}</span>
    </div>
{% endfor %}