{% extends "new/layout.html" %}
{% load static %}
{% load new_template_tags %}
{% block content %}
    <div class="container  ">


        <div class="page-content__header mt-4">
             <!-- <div>
              <h2 class="page-content__header-heading">Dashboard</h2>
             
            </div> -->
           
          </div>

          <div class="page-content__header mt-4 bg-white">
            <div>
              <h2 class="page-content__header-heading">Show Worklog Log</h2>
            
            </div>
              {% if request.user.email|get_custom_role:request.user.email_id == 'human_resource' %}
            <div class="page-content__header-meta">
              <a href="{% url 'add_worklog' %}" class="btn btn-info icon-left">
                Add Worklog Log <span class="btn-icon mdi mdi-plus-circle"></span>
              </a>
            </div>
              {% endif %}
          </div>


        <div class="card mt-3">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Worklog List
            </div>
            <div class="card-body">
                <table class="table table_head" id="datatablesSimple">
                <thead>
                    <tr>
                      <th scope="col">Sr No.</th>
                      <th scope="col">PMS Ticket</th>
                      <th scope="col">Description</th>
                      <th scope="col">Hours</th>
                      <th scope="col">Date</th>
                      <th scope="col">Project</th>
                      <th scope="col">Resource</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for element in worklog %}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td><a href="{{element.pms_ticket_link}}">{{element.pms_ticket_id}}</a></td>
                            <td>{{element.description}}</td>
                            <td>{{element.logged_hour}}</td>
                            <td>{{element.date}}</td>
                            <td>{{element.project.name}}</td>
                            <td>{{element.resource.first_name}}</td>
                            <td id="item_links">
                                <a href="{% url 'update_worklog' element.id %}" style="text-decoration: none;color: darkslategrey;">
                                    <i class="fas fa-edit mx-2"></i>
                                </a>
                                <button type="button" style="border: none;outline: none;background: none;color: darkslategrey;"  data-bs-toggle="modal" data-bs-target="#exampleModal-{{element.id}}">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                        <!-- Modal -->
                            <div class="modal fade" id="exampleModal-{{element.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Delete Worklog detials</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                    Are you sure, you want to delete {{element.name}}!
                                    </div>
                                    <div class="modal-footer">
                                    <form action="{% url 'delete_worklog' element.id %}" method="POST">
                                        {% csrf_token %}
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Delete</button>
                                    </form>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                        {% endfor %}
                      </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}