{% extends "new/layout.html" %}
{% load new_template_tags %}
{% load static %}
{% block content %}
    <div class="container  p10-2">
        <div class="page-content__header mt-4">
              <!-- <div>
              <h2 class="page-content__header-heading">Dashboard</h2>
             
            </div> -->
           
          </div>

          <div class="page-content__header mt-4 bg-white">
            <div>
              <h2 class="page-content__header-heading">Show Worklog Log</h2>
            
            </div>
            <div class="page-content__header-meta">
 
                {% if request.user.email|get_custom_role:request.user.email_id == 'project_manager' or request.user.email|get_custom_role:request.user.email_id == 'solution_architect' or request.user.email|get_custom_role:request.user.email_id == 'business_analyst' %}
            {% else %}
                <!-- <a href="{% url 'add_worklog' %}">
                    <button type="button" class="btn btn-outline-primary mt-2" style="float: right;">ADD</button>
                </a> -->

                <a href="{% url 'add_worklog' %}" class="btn btn-info icon-left">
                    Add Worklog <span class="btn-icon mdi mdi-plus-circle"></span>
                  </a>
            {% endif %}

              
            </div>
          </div>

        <!-- <div class="">
            {% if request.user.email|get_custom_role:request.user.email_id == 'project_manager' or request.user.email|get_custom_role:request.user.email_id == 'solution_architect' or request.user.email|get_custom_role:request.user.email_id == 'business_analyst' %}
            {% else %}
                <a href="{% url 'add_worklog' %}">
                    <button type="button" class="btn btn-outline-primary mt-2" style="float: right;">ADD</button>
                </a>
            {% endif %}
            <h1 class="fs-2 fw-bolder mt-2 view_lead_head">Show Worklog Log</h1>
        </div> -->
        <div class="card mt-3">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Worklog List
            </div>
            <div class="card-body">
                <table class="table table_head" id="datatablesSimple">
                <thead>
                    <tr>
                      <th scope="col">Sr No.</th>
                      <th scope="col">PMS Ticket</th>
                      <th scope="col">Date</th>
                      <th scope="col">Description</th>
                      <th scope="col">Hours</th>
                      <th scope="col">Resource</th>
                      {% if request.user.email|get_custom_role:request.user.email_id == 'project_manager' or request.user.email|get_custom_role:request.user.email_id == 'solution_architect' or request.user.email|get_custom_role:request.user.email_id == 'business_analyst' %}
                      {% else %}
                      <th scope="col">Action</th>
                      {% endif %}
                    </tr>
                  </thead>
                  <tbody>
                    {% for element in worklog_list %}
                        <tr>
                            <td scope="row">{{forloop.counter}}</td>
                            <td><a href="{{element.pms_ticket_link}}">{{element.pms_ticket_id}}</a></td>
                            <td>{{element.date}}</td>
                            <td>{{element.description}}</td>
                            <td>{{element.logged_hour}}</td>
                            <td>{{element.resource}}</td>
                            {% if request.user.email|get_custom_role:request.user.email_id == 'project_manager' or request.user.email|get_custom_role:request.user.email_id == 'solution_architect' or request.user.email|get_custom_role:request.user.email_id == 'business_analyst' %}
                            {% else %}
                            <td id="item_links">
                                <a href="{% url 'update_worklog' element.id %}" style="text-decoration: none;color: darkslategrey;">
                                    <i class="fas fa-edit mx-2"></i>
                                </a>
                            </td>
                            {% endif %}
                        </tr>
                        <!-- Modal -->
                            <div class="modal fade" id="exampleModal-{{element.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Delete Worklog detials</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                    Are you sure, you want to delete {{element.name}}!
                                    </div>
                                    <div class="modal-footer">
                                    <form action="{% url 'delete_worklog' element.id %}" method="POST">
                                        {% csrf_token %}
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Delete</button>
                                    </form>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                        {% endfor %}
                      </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}