{% extends "new/layout.html" %}
{% load new_template_tags %}
{% load widget_tweaks %}
{% block content %}
<body style="margin:12px;">
       <div class="container " >
        <div class="page-content__header mt-4">
              <!-- <div>
              <h2 class="page-content__header-heading">Dashboard</h2>
             
            </div> -->
           
          </div>
 
          <div class="page-content__header mt-4 bg-white" style="    margin-bottom: 0px !important;">
            <div>
              <h2 class="page-content__header-heading">Add Raised Query</h2>
            
            </div>
           
          </div>
<div class="card">
        <div class="card-body cus_form">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <!-- {{ form }} -->
                    {% for field in form.visible_fields %}
                    <div class="col-xl-6 col-md-6 col-sm-12 col-lg-6">
                        <div class="form-group mb-4">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {% render_field field class="form-control" %}
                            {% for error in field.errors %}
                               <span class="help-block text-danger form-error">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-lg-4">

                    </div>
                    <div class="col-lg-4 cus_btnn_cntr">
                        {% if request.user.email|get_custom_role:request.user.email_id == 'client' and request.user.is_authenticated %}
                        <a href="{% url 'viewRQD' %}"><button class="btn btn-primary mt-2" type="button">Cancel</button></a>
                        {% elif request.user.is_superuser %}
                        <a href="{% url 'viewRQD' %}"><button class="btn btn-primary mt-2" type="button">Cancel</button></a>
                        {% endif %}
                        <button class="btn btn-primary mt-2" type="submit">Save</button>
                    </div>
                    <div class="col-lg-4"></div>
                </div>
                <!-- <div align="center" class="">
                    {% if request.user.email|get_custom_role:request.user.email_id == 'client' and request.user.is_authenticated %}
                    <div style="float:left">
                        <a href="{% url 'query_list' %}"><button class="btn btn-primary mt-2" type="button">Cancel</button></a>
                    </div>
                    {% elif request.user.is_superuser %}
                    <div style="float:left">
                        <a href="{% url 'viewRQD' %}"><button class="btn btn-primary mt-2" type="button">Cancel</button></a>
                    </div>
                    {% endif %}
                    <button class="btn btn-primary mt-2" type="submit">Save</button>
                </div> -->
            </form>
        </div>
        </div>
    </div>
  </body>
{% endblock %}

