{% extends "new/layout.html" %}
{% load static %}
{% block content %}
    <div class="container ">

        <div class="page-content__header mt-4">
              <!-- <div>
              <h2 class="page-content__header-heading">Dashboard</h2>
             
            </div> -->
           
          </div>

          <div class="page-content__header mt-4 bg-white">
            <div>
              <h2 class="page-content__header-heading">Show Raised Query Details</h2>
            
            </div>
            <div class="page-content__header-meta">
              <a href="{% url 'addRQD' %}" class="btn btn-info icon-left">
                Add Raised Query <span class="btn-icon mdi mdi-plus-circle"></span>
              </a>
            </div>
          </div>

        <div class="card mt-3">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Raised Query List
            </div>
            <div class="card-body">
                <table class="table table_head" id="datatablesSimple">
                <thead>
                    <tr>
                      <th scope="col">Sr No.</th>
                      <th scope="col">Project Name</th>
                      <th scope="col">Resource Name</th>
                      <th scope="col">Description</th>
                      <th scope="col">Files</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for element in query %}
                        <tr>
                            <td scope="row">{{forloop.counter}}</td>
                            <td>{{element.project}}</td>
                            <td>{{element.resource}}</td>
                            <td>{{element.description}}</td>
                            <td>
                                <a class="text-dark" href="{% url 'view_files' element.project.name %}" style="text-decoration: none;" target="_blank" download="non" ><small>{{element.filename}}</small></a></p>                                </td>
                            </td>
                            <td id="item_links">
                                <a href="{% url 'updateRQD' element.id %}" style="text-decoration: none;color: darkslategrey;">
                                    <i class="fas fa-edit mx-2"  title="Update"></i>
                                </a>
                                <button type="button" style="border: none;outline: none;background: none;color: darkslategrey;"  data-bs-toggle="modal" data-bs-target="#exampleModal-{{element.id}}">
                                    <i class="fas fa-trash"  title="Delete"></i>
                                </button>
                            </td>
                        </tr>
                        <!-- Modal -->
                            <div class="modal fade sm" id="exampleModal-{{element.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Delete Raised Query Details</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                    Are you sure, you want to delete {{element.name}}!
                                    </div>
                                    <div class="modal-footer">
                                    <form action="{% url 'delete_RQD' element.id %}" method="POST">
                                        {% csrf_token %}
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Delete</button>
                                    </form>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                        {% endfor %}
                      </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}