{% extends "new/layout.html" %}
{% load static %}
{% block content %}
    <div class="container  p10-2">
        <div class="">
            <h1 class="fs-2 fw-bolder mt-2 view_lead_head">Holidays List</h1>
        </div>
        <div class="p10-2">
            <table class="table table-hover dataTable-table">
                <thead>
                    <tr>
                      <th scope="col">Sr No.</th>
                      <th scope="col">Date</th>
                      <th scope="col">Holiday</th>
                      <th scope="col">Day</th>

                    </tr>
                  </thead>
                  <tbody>
                    {% for leave in view_leave %}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{leave.date}}</td>
                            <td>{{leave.event}}</td>
                            <td>{{leave.day}}</td>
                        </tr>

                    {% endfor %}
                  </tbody>
            </table>
        </div>
    </div>
{% endblock %}

