{% extends "new/layout.html" %}
{% load static %}
{% block content %}
    <div class="container  p10-2">
        <div class="">
            <h1 class="fs-2 fw-bolder mt-2 view_lead_head">Holiday List

                <a href="{% url 'add_leave_calendar' %}">
                    <button type="button" class="btn btn-outline-primary" style="float: right;">ADD</button>
                    </a>
            </h1>
            
            
        </div>
        <div class="card mt-3">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Leave Calendar
            </div>
            <div class="card-body">
                <table class="table" id="datatablesSimple">
                    <thead>
                        <tr>
                          <th scope="col">Sr No.</th>
                          <th scope="col">Date</th>
                          <th scope="col">Holiday</th>
                          <th scope="col">Day</th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for leave in view_leave %}
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td>{{leave.date}}</td>
                                <td>{{leave.event}}</td>
                                <td>{{leave.day}}</td>
                                <td id="item_links">
                                    <a href="{% url 'update_leave_calendar' leave.id %}" style="text-decoration: none;color: darkslategrey;">
                                        <i class="fas fa-edit mx-2" title="Update" ></i>
                                    </a>
                                    <button type="button" style="border: none;outline: none;background: none;color: darkslategrey;"  data-bs-toggle="modal" data-bs-target="#exampleModal-{{leave.id}}">
                                        <i class="fas fa-trash" title="Delete" ></i>
                                    </button>
                                </td>
                            </tr>
                        <!-- Modal -->
                                <div class="modal fade" id="exampleModal-{{leave.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Leave Calendar Details</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                        Are you sure, you want to delete {{leave.event}}!
                                        </div>
                                        <div class="modal-footer">
                                        <form action="{% url 'delete_leave_calendar' leave.id %}" method="POST">
                                            {% csrf_token %}
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Delete</button>
                                        </form>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                        {% endfor %}
                      </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

