{% extends "new/layout.html" %}
{% load new_template_tags %}
{% load widget_tweaks %}
{% block content %}
<body style="margin:12px;">
    <div class="container ">

        <div class="page-content__header mt-4">
            <div>
              <h2 class="page-content__header-heading">Dashboard</h2>
             
            </div>
           
          </div>
 
          <div class="page-content__header mt-4 bg-white" style="    margin-bottom: 0px !important;">
            <div>
              <h2 class="page-content__header-heading">Add Lead form</h2>
            
            </div>
           
          </div>


        <div class="card">
           
      
        <div class="card-body cus_form">
            <form method="POST">
                {% csrf_token %}
                <div class="row">
                        <div class="col-xl-6 col-md-6 col-sm-12 col-lg-6">
                        <div class="form-group mb-4">
                            <label >Title</label>
                            {% render_field form.title class="form-control" %}
                            {% for error in field.title.errors %}
                               <span class="help-block text-danger form-error">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 col-sm-12 col-lg-6">
                        <div class="form-group mb-4">
                            <label >Expected Amount</label>
                            {% render_field form.expected_amount class="form-control" %}
                            {% for error in field.expected_amount.errors %}
                               <span class="help-block text-danger form-error">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 col-sm-12 col-lg-6">
                        <div class="form-group mb-4">
                            <label >Status</label>
                            {% render_field form.status class="form-control" %}
                            {% for error in field.status.errors %}
                               <span class="help-block text-danger form-error">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 col-sm-12 col-lg-6">
                        <div class="form-group mb-4">
                            <label>Client</label> <a class="related-widget-wrapper-link add-related"  id="add_id_client" href="{% url 'add_client_lead' %}" title="Add another client detail"><i class="fa fa-plus-square" aria-hidden="true"></i></a>
                            {% render_field form.client class="form-control" %}
                            {% for error in field.client.errors %}
                               <span class="help-block text-danger form-error">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 col-sm-12 col-lg-6">
                        <div class="form-group mb-4">
                            <label >Managed by</label>
                            {% render_field form.managed_by class="form-control" %}
                            {% for error in field.title.errors %}
                               <span class="help-block text-danger form-error">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12">
                        <div class="form-group mb-4">
                            <label >Description</label>
                            {% render_field form.description class="form-control" %}
                            {% for error in field.description.errors %}
                               <span class="help-block text-danger form-error">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4 cus_btnn_cntr">
                        {% if request.user.email|get_custom_role:request.user.email_id == 'lead_generator' and request.user.is_authenticated %}
                        <a href="{% url 'index' %}"><button class="btn btn-primary mt-2" type="button">Cancel</button></a>
                    {% endif %}
                    <button class="btn btn-primary mt-2" type="submit">Submit</button>
                    </div>
                    <div class="col-lg-4"></div>
                </div>
               
            </form>
        </div>
    </div>
    </div>
</body>
{% endblock %}



    
