{% load new_template_tags %}
{% load widget_tweaks %}
<div class="container">
    <div class="container col-8 text-center">
        <form method="POST" action = "{% url 'update_lead_status' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <input type= 'hidden' name = 'lead_id_to_update' value = '{{lead_id}}'/>
            <div class="form-group">
                {% comment %} {% if request.user.is_superuser or request.user.email|get_custom_role:request.user.email_id == 'business_development_execute' %} {% endcomment %}
                    <p>Chose Status</p>
                    <select name="lead_status" id="lead_status-{{lead.id}}">
                        <option value="Contacted">Contacted</option>
                        <option value="Demo Done">Demo Done</option>
                        <option value="Requirment Gathered">Requirment Gathered</option>
                        <option value="SOW Submited">SOW Submited</option>
                        <option value="Purchase Order Generated">Purchase Order Generated</option>
                        <option value="Hold">Hold</option>
                        <option value="Rejected">Rejected</option>
                    </select>
                {% comment %} {% else %}
                    <p>Chose Status</p>
                    <select name="lead_status" id="lead_status-{{lead.id}}">
                        <option value="Contact Done">Contact Done</option>
                        <option value="Demo Done">Demo Done</option>
                    </select>
                {% endif %} {% endcomment %}
            </div>
            <button class="btn btn-primary mt-2" type="submit">Update</button>
        </form>
    </div>
</div>