{% extends "new/layout.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="page-content__header mt-4">
             <!-- <div>
              <h2 class="page-content__header-heading">Dashboard</h2>
             
            </div> -->
           
          </div>
    
          <div class="page-content__header mt-4 bg-white">
            <div>
              <h2 class="page-content__header-heading">View Lead Details</h2>
            
            </div>
            <div class="page-content__header-meta">
            
            </div>
          </div>
      
        <div class="card mt-3">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Lead List
            </div>
            <div class="card-body">
                <table class="table table_head" id="datatablesSimple">
                    <thead>
                        <tr>
                          <th scope="col">SN</th>
                          <th scope="col">Title</th>
                          <th scope="col">Description</th>
                          <th scope="col">Expected amount</th>
                          <th scope="col">Added by</th>
                          <th scope="col">Managed by</th>
                          <th scope="col">Status</th>
                          <th scope="col">Client</th>
                          <th scope="col">FollowUps</th>
                        </tr>
                    </thead><hr/>
                    <tbody>
                        {% for lead in data %}  
                            <tr>
                                <td scope="row">{{forloop.counter}}</td>
                                <td>{{lead.title}}</td>
                                <td>{{lead.description}}</td>
                                <td>{{lead.expected_amount}}</td>
                                <td>{{lead.added_by}}</td>
                                <td>{{lead.managed_by}}</td>
                                <td id="item_links">{{lead.status}}
                                    <a href="#">
                                        <button data-target="#popModelSatatus" id="updateLeadStatus" data-lead-id="{{lead.id}}" data-toggle="modal" data-url="{% url 'get_lead_status_form' %}" type="button" style="border: none;outline: none;background: none;color: darkslategrey;">
                                            <i class="fas fa-chevron-down" title="Change Status"></i>
                                        </button>
                                    </a>
                                </td>
                                <td>{{lead.client}}</td>
                                <td id="item_links">
                                    <a href="#">
                                        <button data-target="#popModel" id="viewLeadFU" data-lead-id="{{lead.id}}" data-toggle="modal" data-url="{% url 'view_project_fu' %}" type="button" style="border: none;outline: none;background: none;color: darkslategrey;">
                                            <i class="fa fa-eye mx-2 " title="Lead FollowUps"></i>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                            <!-- Modal -->
                        <div class="modal fade" id="popModel" tabindex="-1" aria-labelledby="view" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Lead Follow Ups</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    {{lead.id}}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary " data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                            </div>
                        </div>  
        
                        <!-- Modal for Update Status -->
                        <div class="modal fade" id="popModelSatatus" tabindex="-1" aria-labelledby="view" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="updateLeadStatusModalLabel">Update Lead Status</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    {{lead.id}}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary " data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                            </div>
                        </div>
                        {% endfor %} 
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <!-- block.super will get the content of the block from the parent template -->
    {{ block.super }}

    <script src="{% static 'new/js/view-lead-fu.js' %}"></script>
    
    <script src="{% static 'new/js/update-lead-status.js' %}"></script>
    <script src="{% static 'new/js/follow_up_add.js' %}"></script>
    <script src="{% static 'new/js/follow_up_view.js' %}"></script>
    <script src="{% static 'new/js/scripts.js' %}"></script>
{% endblock %}