{% extends "new/layout.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="page-content__header mt-4">
            <!-- <div>
              <h2 class="page-content__header-heading">Dashboard</h2>
             
            </div> -->
           
          </div>

          <div class="page-content__header mt-4 bg-white">
            <div>
              <h2 class="page-content__header-heading">View Lead Details</h2>
            
            </div>
            <div class="page-content__header-meta">
         
            </div>
          </div>

       
        <div class="card mt-3">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Lead List
            </div>
            <div class="card-body">
                <table class="table table_head" id="datatablesSimple">
                    <thead>
                        <tr>
                          <th scope="col">SN</th>
                          <th scope="col">Title</th>
                          <th scope="col">Description</th>
                          <th scope="col">Expected amount</th>
                          <th scope="col">Added by</th>
                          <th scope="col">Managed by</th>
                          <th scope="col">Status</th>
                          <th scope="col">Client</th>
                          <th scope="col">Lead Follow Up</th>
                          <th scope="col">Action</th>
                        </tr>
                    </thead><hr/>
                    <tbody>
                        {% for lead in data %}  
                            <tr>
                                <td scope="row">{{forloop.counter}}</td>
                                <td>{{lead.title}}</td>
                                <td>{{lead.description}}</td>
                                <td>{{lead.expected_amount}}</td>
                                <td>{{lead.added_by}}</td>
                                <td>{{lead.managed_by}}</td>
                                <td>{{lead.status}}
                                    {% if lead.get_status == 'Purchase Order Generated' %}
                                    {% else %}
                                        <a href="#">
                                            <button data-target="#popModelSatatus" id="updateLeadStatus" data-lead-id="{{lead.id}}" data-toggle="modal" data-url="{% url 'get_lead_status_form' %}" type="button" style="border: none;outline: none;background: none;color: darkslategrey;">
                                                <i class="fas fa-chevron-down" title="Change Status"></i>
                                            </button>
                                        </a>
                                    {% endif %}
                                </td>
                                <td>{{lead.client}}</td>
                                <td id="item-link">
                                    {% if lead.get_status == 'Purchase Order Generated' %}
                                    {% else %}
                                    <a href="#">
                                        <button data-target="#popmodel" type="button" id="viewLeadAdd" title="Add Lead Follow Up" data-toggle="modal"  data-url="{% url 'add_lead_fu' %}" data-lead-id="{{lead.id}}" class="btn btn-outline-primary"  style="border: none; outline: none; float: left; background: none;color: darkslategrey ; margin-right:5px"><i class="fas fa-plus"></i></button>
                                    </a>
                                    {% endif %}
                                    <a href="#">
                                        <button data-target="#popmodelView" type="button" id="viewLeadView" title="View Lead Follow Up" data-toggle="modal"  data-url="{% url 'view_project_fu' %}" data-lead-view-id="{{lead.id}}" class="btn btn-outline-primary"  style="border: none; outline: none; background: none;color: darkslategrey; float: center;"><i class="fa fa-eye mx-2 "></i></button>
                                    </a>
                                </td>
                                <td id="item_links">
                                    {% if lead.get_status == 'Purchase Order Generated' %}
                                    {% else %}
                                    <a href="{% url 'update_lead' lead.id %}" style="text-decoration: none;color: darkslategrey;">
                                        <i class="fas fa-edit mx-2"  title="Update"></i>
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>

                            <!-- Modal for add Button -->
                            <div class="modal fade" id="popmodel" tabindex="-1" aria-labelledby="add" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="add">Add Follow UP</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <!-- Modal For View Button -->
                            <div class="modal fade" id="popmodelView" tabindex="-1" aria-labelledby="view" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="view">View Follow UP</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            {{lead.id}}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                            <!-- Modal for Update Status -->
                        <div class="modal fade" id="popModelSatatus" tabindex="-1" aria-labelledby="view" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="updateLeadStatusModalLabel">Update Lead Status</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    {{lead.id}}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary " data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                            </div>
                        </div>  
                        {% endfor %}    
                    </tbody>
                </table>
            </div>
        </div>    
    </div>

{% endblock %}
{% block scripts %}
    <!-- block.super will get the content of the block from the parent template -->
    {{ block.super }}

    <script src="{% static 'new/js/update-lead-status.js' %}"></script>
    <script src="{% static 'new/js/follow_up_add.js' %}"></script>
    <script src="{% static 'new/js/follow_up_view.js' %}"></script>
{% endblock %}