{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
  <title>PMS-Wooshelf</title>
  
    <link rel="icon" href="{% static 'new/assets/img/favicon.png' %}" type="image/png" sizes="16x16">
    
    <link rel="stylesheet" href="{% static 'new/css/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'new/css/login_style.css' %}">
    <link rel="stylesheet" href="{% static 'new/css/color.css' %}">
    <link rel="stylesheet" href="{% static 'new/css/responsive.css' %}">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    
</head>
<body>

<div class="theme-layout">
	<div class="container-fluid pdng0">
		{% if messages %}
			{% for message in messages %}
				<div class="alert alert-{{message.tags}} alert-dismissible fade show m-0" role="alert">
					{{ message }}
				</div>
			{% endfor %}  
		{% endif %}
		<div class="row merged">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="land-featurearea">
					<div class="land-meta">
						<h1>Wooshelf Project Management</h1>
						<p>
							Wooshelf Project Management is free to use for as long as you want with two active projects.
						</p>
						<div class="friend-logo">
							<span><img src="{% static 'new/assets/img/favicon.png' %}" alt=""     class="img-fluid logo-img "></span>
						</div>
            <a href="#" title="" class="folow-me">Follow Us on</a>
            <ul class="follow_us list-unstyled">
						  <li><a href="#"><i class="fab fa-facebook" style="font-size: 20px;"></i></a></li>
						  <li><a href="#"><i class="fab fa-twitter " style="font-size: 20px;"></i></a></li>
						  <li><a href="#"><i class="fab fa-linkedin" style="font-size: 20px;"></i></a></li>
						</ul>
					</div>	
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="login-reg-bg">
					<div class="log-reg-area sign">
						<h2 class="log-title">Login</h2>
							<p>
								Don’t use Wooshelf Project Management Yet? <a href="https://www.wooshelf.com/" title="">Take the tour</a> or <a href="#" title="">Join now</a>
              </p>
             
						<form method="POST">
              				{% csrf_token %}
							<div class="form-group">	
							  <input type="email" id="input" name="email" style="color: #878787;" required="required"/>
							  <label class="control-label" for="input">Email</label><i class="mtrl-select"></i>
							</div>
							<div class="form-group">	
							  <input type="password" name="password" style="color: #878787;" required="required"/>
							  <label class="control-label" for="input">Password</label><i class="mtrl-select"></i>
							</div>
							<div class="checkbox">
							  <label>
								<input type="checkbox" checked="checked"/><i class="check-box"></i>Always Remember Me.
							  </label>
							</div>
							<a href="{% url 'reset_password' %}" title="" class="forgot-pwd">Forgot Password?</a>
							<div class="submit-btns">
								<button class="mtr-btn signin" type="submit"><span>Login</span></button>

	<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="js/main.min.js"></script>
	

</body>	


</html>