{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>PMS-ResetPassword</title>
  </head>
  <body>
    <div class="container" id="ResetPassword">
        <div class="row mt-5">
            <div class="col-lg-6 d-none d-lg-block">
                <img src="{% static 'new/assets/img/forgetPassword.svg' %}" class="img-fluid" style="height: 100%;width: 100%;">
            </div>
            <div class="col-lg-6 text-center">
                <h1 style="color: darkslategrey;" >Reset Password!</h1>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-outline">
                        <label class="form-label" for="registerEmail">Email</label>
                        <input type="email" id="registerEmail" name="email" class="form-control" required />
                        <p>{{ message }}</p>
                        <input type="submit" class="btn btn-primary mt-4" value="Reset Password"/>
                    </div>
                </form>
            </div>
        </div> 
        <div  class="position-absolute bottom-0 start-0">
            <p class="text-danger">
                <button type="button" class="btn btn-warning ms-2 me-2">Note</button>Please Use the email which is linked to your account</p>   
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

   
    
  </body>
</html>