{% load static %}
{% load widget_tweaks %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    <title>PMS-Set Password</title>
    <style>
        .toggle-password {
        float: right;
        cursor: pointer;
        margin-right: 10px;
        margin-top: -25px;
    }
    </style>
</head>
  <body>
    <div class="container" id="ResetPasswordf">
        <div class="row mt-5">

            <div class="col-lg-6 d-none d-lg-block">
                <img src="{% static 'new/assets/img/SetPassword.svg' %}" class="img-fluid" style="height: 100%;width: 100%;">
            </div>
            
            <div class="col-lg-6 text-center">
                <h1 style="color: darkslategrey;" >Set New Password!</h1>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        {% for field in form.visible_fields %}
                        <div>
                            <div class="form-group mb-4">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {% render_field field class="form-control" type="password" id="reset_password" %}
                                <i class="toggle-password fa fa-fw fa-eye-slash" onclick="myfun()" id="toggle_password" ></i>
                                {% for error in field.errors %}
                                   <span class="help-block text-danger form-error">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                      
                    </div>
                    <button class="btn btn-primary mt-2" type="submit">Save</button>
                </form>    
        </div> 
    </div>
    
    <!-- Optional JavaScript; choose one of the two! -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        function myfun() {
            
            $("#toggle_password").toggleClass("fa-eye fa-eye-slash");
            var input = $("#reset_password");
            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        };
    </script>  
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
      
  </body>
</html>
