{% extends "new/layout.html" %}
{% load new_template_tags %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
    <h5 class="text-center fw-bolder display-4">Your Details</h5>
        {% if request.user.email_id|get_custom_role:request.user.email == 'superadmin' %}
            <p class="text-center">you are super user</p>
        {% else %}
            <div class="container">
                <a href="{% url 'view_emp_salary' %}"><button class="btn btn-primary">View Appointment Later</button></a>
                <table class="table">
                    {% if request.user.email_id|get_custom_role:request.user.email == 'client' %}
                        <tr>
                            <td class="fw-bolder"><i class="fas fa-envelope mx-2"></i> Email</td>
                            <td>{{request.user.email_id}}</td>
                        </tr>
                        <tr>
                            <td class="fw-bolder"><i class="fas fa-user mx-2"></i> First Name</td>
                            <td>{{request.user.first_name}}</td>
                        </tr>
                        <tr>
                            <td class="fw-bolder"><i class="fas fa-user mx-2"></i> Last Name</td>
                            <td>{{request.user.last_name}}</td>
                        </tr>
                        <tr>
                            <td class="fw-bolder"><i class="fas fa-phone mx-2"></i> Phone no.</td>
                            <td>{{request.user.contact}}</td>
                        </tr>
                        <tr>
                            <td class="fw-bolder"><i class="fas fa-map-marker mx-2"></i> Location</td>
                            <td>{{request.user.address}}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td class="fw-bolder"><i class="fas fa-envelope mx-2"></i> Email</td>
                            <td>{{request.user.email_id}}</td>
                        </tr>
                        <tr>
                            <td class="fw-bolder"><i class="fas fa-user mx-2"></i> First Name</td>
                            <td>{{request.user.first_name}}</td>
                        </tr>
                        <tr>
                            <td class="fw-bolder"><i class="fas fa-user mx-2"></i> Last Name</td>
                            <td>{{request.user.last_name}}</td>
                        </tr>
                        <tr>
                            <td class="fw-bolder"><i class="fas fa-user mx-2"></i> Role</td>
                            <td>{{request.user.role}}</td>
                        </tr>
                        <tr>
                            <td class="fw-bolder"><i class="fas fa-phone mx-2"></i> Phone no.</td>
                            <td>{{request.user.contact}}</td>
                        </tr>
                        <tr>
                            <td class="fw-bolder"><i class="fas fa-map-marker mx-2"></i> Location</td>
                            <td>{{request.user.address}}</td>
                        </tr>
                        <tr>
                            <td class="fw-bolder"><i class="fas fa-id-badge mx-2"></i> Empolyee Id</td>
                            <td>{{request.user.empolyee_id}}</td>
                        </tr>
                        <tr>
                            <td class="fw-bolder"><i class="fas fa-building-columns mx-2"></i> Bank Account No.</td>
                            <td>{{request.user.employeeaccountdetail.account_number}}</td>
                        </tr>
                        <tr>
                            <td class="fw-bolder"><i class="fas fa-building-columns mx-2"></i> IFSC</td>
                            <td>{{request.user.employeeaccountdetail.ifsc}}</td>
                        </tr>
                        <tr>
                            <td class="fw-bolder"><i class="fas fa-id-card mx-2"></i> PAN</td>
                            <td>{{request.user.employeeaccountdetail.pan}}</td>
                        </tr>
                    {% endif %}    
                </table>
                <h1 class="fs-2 fw-bolder mt-2 text-center">Update Your Details</h1><hr/>
                <div class="col-6 mx-auto">
                    <form method="POST" enctype="multipart/form-data" class="text-center">
                        {% csrf_token %}
                        <div class="form-group">
                            {% for field in form %}
                                <div class="mt-2 form-group mx-auto">
                                    {% if field.label == "Password" %}
                                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                        {% render_field field class="form-control password" id="update_password" %}
                                    {% else %}
                                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                        {% render_field field class="form-control disabled" %}
                                    {% endif %}        
                                    {% for error in field.errors %}
                                        <p class="text-danger help-block">{{error}}</p>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
    
                        <button class="btn btn-primary mt-2" type="submit">Update</button>
                    </form>
                </div>
            </div>
        {% endif %}    

    
{% endblock %}
