{% load new_template_tags %}
{% load widget_tweaks %}
<div class="container">
    <div class="container col-8 text-center">
        <form method="POST" action = "{% url 'update_leave_status' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <input type= 'hidden' name = 'leave_id_to_update' value = '{{leave_id}}'/>
            <div class="form-group">
                <p>Chose Status</p>
                <select name="leave_status" id="leave_status-{{leave.id}}">
                    <option value="Approved">Approve</option>
                    <option value="Rejected">Reject</option>
                </select><br/>
                <input type="text" name = "comment" class="form-control mt-4" id="inputComment" placeholder="Enter Comment or Reason">
            </div>
            <button class="btn btn-primary mt-2" type="submit">Save</button>
        </form>
    </div>
</div>