{% extends "new/layout.html" %}
{% load new_template_tags %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="page-content__header mt-4">
              <!-- <div>
              <h2 class="page-content__header-heading">Dashboard</h2>
             
            </div> -->
           
          </div>
 
          <div class="page-content__header mt-4 bg-white">
            <div>
              <h2 class="page-content__header-heading">Leaves</h2>
            
            </div>
            {% if request.user.is_superuser %}
            {% else %}
            <div class="page-content__header-meta">
              <a href="{% url 'add_leave' %}" class="btn btn-info icon-left">
                Add Leaves <span class="btn-icon mdi mdi-plus-circle"></span>
              </a>

              {% if request.user.is_superuser or request.user.email|get_custom_role:request.user.email_id == 'human_resource' %}
              {% else %}
                  <a href="{% url 'view_your_leave' %}" type='button' class="btn btn-primary">Your Leaves</a>
              {% endif %}
            </div>
            {% endif %}
          </div>


        <!-- {% if request.user.is_superuser or request.user.email|get_custom_role:request.user.email_id == 'human_resource' %}
        {% else %}
            <a href="{% url 'view_your_leave' %}" type='button' class="btn btn-primary">Your Leaves</a>
        {% endif %} -->

        <div class="card mt-1">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Leave List
            </div>
        <div class="card-body">
            <table class="table table_head" id = "datatablesSimple">
                <thead>
                    <tr>
                      <th scope="col">From Date</th>
                      <th scope="col">To date</th>
                      <th scope="col">Apply Date</th>
                      <th scope="col">Leave Type</th>
                      <th scope="col">Reason</th>
                      <th scope="col">Lead</th>
                      <th scope="col">Status</th>
                      <th scope="col">Applicant</th>
                      <th scope="col">Comment</th>
                      <th scope="col">Added By</th>
                      <th scope="col">Action</th>
                    </tr>
                </thead><hr/>

                {% comment %} Table body {% endcomment %}
                <tbody>
                    {% for leave in data %}  
                        <tr>
                            <td>{{leave.start_date}}</td>
                            <td>{{leave.end_date}}</td>
                            <td>{{leave.created_at}}</td>
                            <td>{{leave.leave_type}}</td>
                            <td>{{leave.reason | safe}}</td>
                            <td>{{leave.manager}}</td>

                            {% if leave.status == "Approved" %}
                                <td class = "text-success"><b>{{leave.status}}</b></td>
                            {% elif leave.status == "Rejected" %}
                                <td class = "text-danger"><b>{{leave.status}}</b></td>
                            {% else %}
                                <td class = "text-warning"><b>{{leave.status}}</b></td>
                            {% endif %}

                            <td>{{leave.resource}}</td>
                            <td>{{leave.comment}}</td>
                            <td>{{leave.added_by}}</td>

                            <!--Action column-->
                            {% if request.user.is_superuser or user_role in lead_list or request.user.email|get_custom_role:request.user.email_id == 'human_resource' %}
                                <td>
                                    {% if request.user.is_superuser or request.user.email|get_custom_role:request.user.email_id == 'human_resource' or leave.resource != leave.manager %}
                                        <!--button to Approve or Reject Leave Application-->
                                        {% if leave.status == "Pending" %}
                                            <a href="#">
                                                <button data-target="#popModelSatatus" id="updateLeaveStatus" data-leave-id="{{leave.id}}" data-toggle="modal" data-url="{% url 'get_leave_status' %}" type="button" style="border: none;outline: none;">
                                                    Approve/Reject
                                                </button>
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                </td>
                            {% endif %}
                        </tr>

                        <!-- Modal to Approve or Reject -->
                        <div class="modal fade" id="popModelSatatus" tabindex="-1" aria-labelledby="delete" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="delete">Verify Leave Application</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        {{leave_id}}
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}    
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <!-- block.super will get the content of the block from the parent template -->
    {{ block.super }}

    <script src="{% static 'new/js/approve_leave_application.js' %}"></script>
{% endblock scripts %}