{% extends "new/layout.html" %}
{% load new_template_tags %}
{% load static %}
{% block content %}
    <div class="container">
      <div class="page-content__header mt-4">
        <!-- <div>
          <h2 class="page-content__header-heading">Dashboard</h2>
         
        </div> -->
       
      </div>

      <div class="page-content__header mt-4 bg-white">
        <div>
          <h2 class="page-content__header-heading">View Leaves</h2>
        
        </div>
        <div class="page-content__header-meta">
          <a href="{% url 'add_leave' %}" class="btn btn-info icon-left">
            Add Leaves <span class="btn-icon mdi mdi-plus-circle"></span>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <div class="widget widget-sales-total leaveone">
            <div class="widget-sales-total__left-side">
              <h5 class="widget-sales-total__heading">Casual Leave</h5>
              <span class="widget-sales-total__amount">Taken Leaves - <span style="color:red; font-weight:600;">{{leave_count.casual_leave_taken}}</span></span>
              <span class="widget-sales-total__amount">Reamaining Leaves - <span style="color:green; font-weight:600;">{{leave_count.casual_leave_remainning}}</span></span>
            </div>
            
          </div>
        </div>
        <div class="col-lg-4">
          <div class="widget widget-sales-total leavetwo">
            <div class="widget-sales-total__left-side">
              <h5 class="widget-sales-total__heading">Restricted Leave</h5>
              <span class="widget-sales-total__amount">
                Taken Leaves - <span style="color:red; font-weight:600;">{{leave_count.restricted_leave_taken}}
                </span>
              </span>
              <span class="widget-sales-total__amount">Reamaining Leaves -
                 <span style="color:green; font-weight:600;">{{leave_count.restricted_leave_remainning}}
                </span>
              </span>
            </div>
           
          </div>
        </div>
        <div class="col-lg-4">
          <div class="widget widget-sales-total leavethree">
            <div class="widget-sales-total__left-side">
              <h5 class="widget-sales-total__heading">Total Leave</h5>
              <span class="widget-sales-total__amount">
                Taken Leaves - <span style="color:red; font-weight:600;">{{leave_count.total_leave_taken}}
                </span>
              </span>
              <span class="widget-sales-total__amount">Reamaining Leaves -
                 <span style="color:green; font-weight:600;">{{leave_count.total_leave_remainning}}
                </span>
              </span>
            </div>
         
          </div>
        </div>
        <div class="col-lg-4">
          <div class="widget widget-sales-total leaveone">
            <div class="widget-sales-total__left-side">
              <h5 class="widget-sales-total__heading">Unpaid Leave</h5>
              <span class="widget-sales-total__amount">Taken Leaves - <span style="color:red; font-weight:600;">{{leave_count.unpaid_leave}}</span></span>
            </div>
          </div>
        </div>

          </div>
        </div>
      </div>




        <!-- <div class="row mt-2">
            <h1 class="text-center view_lead_head">View Leaves </h1>
            <a style="position: absolute; float:right; right: 32px;" href="{% url 'add_leave' %}">
                <button type="button" class="btn btn-outline-primary" style="float: right;">ADD</button>
            </a>
        </div> -->
        <!-- <div class = "m-2  cus_bxdl">
            <table class="table table-hover table-borderless">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Taken Leave</th>
                    <th scope="col">Remainning Leave</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>Casual Leave</th>
                    <td>{{leave_count.casual_leave_taken}}</td>
                    <td>{{leave_count.casual_leave_remainning}}</td>
                  </tr>
                  <tr>
                    <th>Restricted Leave</th>
                    <td>{{leave_count.restricted_leave_taken}}</td>
                    <td>{{leave_count.restricted_leave_remainning}}</td>
                  </tr>
                  <tr>
                    <th>Total Leave</th>
                    <td>{{leave_count.total_leave_taken}}</td>
                    <td>{{leave_count.total_leave_remainning}}</td>
                  </tr>
                </tbody>
              </table>
              </div> -->
        <div class="card mt-1">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Leave List
            </div>
        <div class="card-body">
            <table class="table" id = "datatablesSimple">
                <thead>
                    <tr>
                      <th scope="col">From Date</th>
                      <th scope="col">To date</th>
                      <th scope="col">Apply Date</th>
                      <th scope="col">Leave Type</th>
                      <th scope="col">Reason</th>
                      <th scope="col">Lead</th>
                      <th scope="col">Status</th>
                      <th scope="col">Applicant</th>
                      <th scope="col">Comment</th>
                      <!--This Operations column will not availble for both SuperUser or Resource Lead-->
                      <th scope="col">Operations</th>
                    </tr>
                </thead><hr/>
                <tbody>
                    {% for leave in data %}  
                        <tr>
                            <td>{{leave.start_date}}</td>
                            <td>{{leave.end_date}}</td>
                            <td>{{leave.created_at}}</td>
                            <td>{{leave.leave_type}}</td>
                            <td>{{leave.reason | safe}}</td>
                            <td>{{leave.manager}}</td>
                            {% if leave.status == "Approved" %}
                                <td class = "text-success"><b>{{leave.status}}</b></td>
                            {% elif leave.status == "Rejected" %}
                                <td class = "text-danger"><b>{{leave.status}}</b></td>
                            {% else %}
                                <td class = "text-warning"><b>{{leave.status}}</b></td>
                            {% endif %}
                            <td>{{leave.resource}}</td>
                            <td>{{leave.comment}}</td>
                            <td id="item_links">
                                {% if leave.status != "Approved" %}
                                    <a href="{% url 'update_leave' leave.id %}" style="text-decoration: none;color: darkslategrey;">
                                        <i class="fas fa-edit mx-2"></i>
                                    </a>
                                    <button type="button" style="border: none;outline: none;background: none;color: darkslategrey;" 
                                            data-bs-toggle="modal" data-bs-target="#deleteLeaveModal-{{leave.id}}">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                {% endif %}
                            </td>
                        </tr>
                        <!-- Modal -->
                        <div class="modal fade" id="deleteLeaveModal-{{leave.id}}" tabindex="-1" aria-labelledby="delete" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="delete">Delete Leave Application</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure, you want to delete {{leave.resource}} Application... !
                                    </div>
                                    <div class="modal-footer">
                                    <form action="{% url 'delete_leave' leave.id %}" method="POST">
                                        {% csrf_token %}
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Delete</button>
                                    </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    {% endfor %}    
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}
{% block scripts %}
    <!-- block.super will get the content of the block from the parent template -->
    {{ block.super }}

    <script src="{% static 'new/js/approve_leave_application.js' %}"></script>
{% endblock scripts %}