{% extends "new/layout.html" %}
{% load static %}
{% block content %}
    <div class="container card p10-2">
        <div class="card-header">
            <a href="{% url 'addResourceProjectDetail' %}">
            <button type="button" class="btn btn-outline-primary" style="float: right;">ADD</button>
            </a>
            <h1 class="fs-2 fw-bolder mt-2">Show Resource Projects</h1>
        </div>
        <div class="card mt-3">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Resource Project List
            </div>
            <div class="card-body">
                <table class="table" id="datatablesSimple">
                <thead>
                    <tr>
                      <th scope="col">Sr No.</th>
                      <th scope="col">Project Name</th>
                      <th scope="col">Resource Name</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for element in details %}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{element.project}}</td>
                            <td>{{element.resource}}</td>
                            <td id="item_links">
                                <a href="{% url 'update_Detail' element.id %}" style="text-decoration: none;color: darkslategrey;">
                                    <i class="fas fa-edit mx-2"  data-toggle="tooltip" title="Update"></i>
                                </a>
                                <button type="button" style="border: none;outline: none;background: none;color: darkslategrey;"  data-bs-toggle="modal" data-bs-target="#exampleModal-{{element.id}}">
                                    <i class="fas fa-trash" title="Delete" ></i>
                                </button>
                            </td>
                        </tr>
                        <!-- Modal -->
                            <div class="modal fade" id="exampleModal-{{element.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Delete Resource Project Details</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                    Are you sure, you want to delete {{element.name}}!
                                    </div>
                                    <div class="modal-footer">
                                    <form action="{% url 'delete_Detail' element.id %}" method="POST">
                                        {% csrf_token %}
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Delete</button>
                                    </form>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                        {% endfor %}
                      </tbody>
                </table>
            </div>
        </div>   
    </div>
{% endblock %}