{% load widget_tweaks %}
<div class="container col-8 mt">
    <h2 class="card-title text-center">Add Lead Follow Up form</h2>
    <div class="m-4">
        <form method="POST" action="{% url 'add_lead_fu' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group card p-3">
                {% for field in form %}
                    <div class="mt-2 form-group input-group-sm">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {% render_field field class="form-control" placeholder=field.label %}
                        {% for error in field.errors %}
                            <p style="font-size:small;" class="help-block text-danger">{{error}}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <div class="text-center">
                <button class="btn btn-primary mt-2" style="width:auto;" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>

    
