{% extends "new/layout.html" %}
{% load widget_tweaks %}
{% block content %}
    <div class="container">
        <h1 class="fs-2 fw-bolder mt-2 text-center">Update Lead Follow Up</h1><hr/>
        <div class="container col-8 text-center">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    {% for field in form %}
                        <div class="mt-2 form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {% render_field field class="form-control" %}

                            {% for error in field.errors %}
                                <p class="text-danger help-block">{{error}}</p>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
                <button class="btn btn-primary mt-2" type="submit">Update</button>
            </form>
        </div>
    </div>
{% endblock %}