{% extends "new/layout.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <h1 class="fs-2 fw-bolder m-2 text-center">View Lead Follow Up Details</h1>
        <div class="card mt-3">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Lead FollowUps
            </div>
            <div class="card-body">
                <table class="table table-hover" id="datatablesSimple">
                    <thead>
                        <tr>
                          <th scope="col">SN</th>
                          <th scope="col">lead</th>
                          <th scope="col">Comment</th>
                          <th scope="col">Added by</th>
                          <th scope="col">Operations</th>
                        </tr>
                    </thead><hr/>
                    <tbody>
                        {% for lead in data %}  
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td>{{lead.lead}}</td>
                                <td>{{lead.comment}}</td>
                                <td>{{lead.added_by}}</td>
                                <td id="item_links">
                                    <a href="{% url 'update_lead_fu' lead.id %}" style="text-decoration: none;color: darkslategrey;">
                                        <i class="fas fa-edit mx-2"  title="Update"></i>
                                    </a>
                                    <button type="button" style="border: none;outline: none;background: none;color: darkslategrey;"  data-bs-toggle="modal" data-bs-target="#deleteLeadModal-{{lead.id}}">
                                        <i class="fas fa-trash"  title="Delete"></i>
                                    </button>
                                    
                                </td>
                            </tr>
                            <!-- Modal -->
                            <div class="modal fade" id="deleteLeadModal-{{lead.id}}" tabindex="-1" aria-labelledby="delete" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="delete">Delete Client</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure, you want to delete {{lead.title}} client .. !
                                        </div>
                                        <div class="modal-footer">
                                        <form action="{% url 'delete_lead_fu' lead.id %}" method="POST">
                                            {% csrf_token %}
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Delete</button>
                                        </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}    
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}