
<div class="container">
    <div class="page-content__header mt-4">
         <!-- <div>
              <h2 class="page-content__header-heading">Dashboard</h2>
             
            </div> -->
       
      </div>

      <div class="page-content__header mt-4 bg-white">
        <div>
          <h2 class="page-content__header-heading">View Lead Follow Up Details</h2>
        
        </div>
        <div class="page-content__header-meta">
        
        </div>
      </div>
   
    <table class="table table-hover">
        <thead>
            <tr>
              <th scope="col">SN</th>
              <th scope="col">lead</th>
              <th scope="col">Comment</th>
              <th scope="col">Added by</th>
            </tr>
        </thead><hr/>
        <tbody>
            {% for lead in data %}

                <tr>
                    <td scope="row">{{forloop.counter}}</td>
                    <td>{{lead.lead}}</td>
                    <td>{{lead.comment}}</td>
                    <td>{{lead.added_by}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
