<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
              <th scope="col">SN</th>
              <th scope="col">lead</th>
              <th scope="col">Comment</th>
              <th scope="col">Added by</th>
              <th scope="col">File</th>
            </tr>
        </thead><hr/>
        <tbody>
            {% for lead in data %}  
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{lead.lead}}</td>
                    <td>{{lead.comment}}</td>
                    <td>{{lead.added_by}}</td>
                    <td><a href="{{lead.file_url}}" target="_blank">{{lead.filename}}</a></td>
                </tr>
            {% endfor %}    
        </tbody>
    </table>
</div>