<div class="container">
    <table class="table " >
        <thead>
            <tr>
              <th scope="col">SN</th>
              <th scope="col">Description</th>
              <th scope="col">File</th>
              <th scope="col">Adeed by</th>
            </tr>
        </thead><hr/>
        <tbody>
            {% for query in query %}  
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{query.description}}</td>
                    <td>{{query.files}}</td>
                    <td>{{query.resource}}</td>
                </tr>
            {% endfor %}    
        </tbody>
    </table>
</div>