{% extends "new/layout.html" %}
{% load static %}
{% block content %}
    <div class="container">

        <div class="page-content__header mt-4">
             <!-- <div>
              <h2 class="page-content__header-heading">Dashboard</h2>
             
            </div> -->
           
          </div>

          <div class="page-content__header mt-4 bg-white">
            <div>
              <h2 class="page-content__header-heading">Resources In Projects</h2>
            
            </div>
            <div class="page-content__header-meta">
              <a href="{% url 'addResourceProjectDetail' %}" class="btn btn-info icon-left">
                Add Resource Projects <span class="btn-icon mdi mdi-plus-circle"></span>
              </a>
            </div>
          </div>
       
        <div class="card mt-1">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Resources In Projects
            </div>
            <div class="card-body">
                <table class="table_head" id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>SN</th>
                            <th>ProjectName</th>
                            <th>Resourse Name</th>
                            <th>Role</th>
                            {% if request.user.is_superuser %}
                                <th>Action</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in query %}  
                            <tr>
                                <td scope="row">{{forloop.counter}}</td>
                                <td>{{project.name}}</td>
                                <td>
                                    <ol>
                                        {% for resource in project.resource_list %}
                                            <li>{{resource.resource}} </li>
                                        {% endfor %}
                                      </ol>
                                </td>
                                <td>
                                    <ol>
                                        {% for resource in project.resource_list %}
                                            <li>{{resource.resource.role}} </li>
                                        {% endfor %}
                                      </ol>
                                </td>
                                {% if request.user.is_superuser %}
                                <td>
                                    {% for resource in project.resource_list %}
                                    <ol>
                                        <button type="button" style="border: none;outline: none;background: none;color: darkslategrey;"  data-bs-toggle="modal" data-bs-target="#exampleModal-{{resource.resource.id}}">
                                            <i class="fas fa-trash" title="Delete" ></i>{{resource.resource.id}}
                                        </button>
                                    </ol>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal-{{resource.resource.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Delete Resource Project Details</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                            Are you sure, you want to delete {{resource.resource.name}}!
                                            </div>
                                            <div class="modal-footer">
                                            <form action="{% url 'delete_Detail' resource.id %}" method="POST">
                                                {% csrf_token %}
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Delete</button>
                                            </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </td>
                                {% endif %}
                            </tr>

                            
                            
                            {% endfor %}    
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}