{% extends "new/layout.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="page-content__header mt-4">
              <!-- <div>
              <h2 class="page-content__header-heading">Dashboard</h2>
             
            </div> -->
           
          </div>

          <div class="page-content__header mt-4 bg-white">
            <div>
              <h2 class="page-content__header-heading">Projects With Raised Query</h2>
            
            </div>
            <div class="page-content__header-meta">
              <a href="{% url 'add_project' %}" class="btn btn-info icon-left">
                Add Projects <span class="btn-icon mdi mdi-plus-circle"></span>
              </a>
            </div>
          </div>

        
        <div class="card mt-1">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                 Projects With Raised Query
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>SN</th>
                            <th>ProjectName</th>
                            <th>ClientName</th>
                            <th>Status</th>
                            <th>Query</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for element in list_of_projects %}  
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td>{{element.name}}</td>
                                <td>{{element.client}}</td>
                                <td>{{element.status}}</td>
                                <td id="item_links" class="item_links">
                                    <a href="#">
                                        <button data-target="#popModelRQD" id="viewProjRQD" data-project-id="{{element.id}}" data-toggle="modal" data-url="{% url 'view_project_query' %}" type="button" style="border: none;outline: none;background: none;color: darkslategrey;">
                                            <i class="fa fa-eye mx-2 " title="Raised Query" ></i>
                                        </button>
                                    </a>
                                    <!-- Modal -->
                            <div class="modal fade" id="popModelRQD" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Raised Query</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                          
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary " data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                                </div>
                            </div>  
                             </td>
                            </tr>
                            {% endfor %}    
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <!-- block.super will get the content of the block from the parent template -->
    {{ block.super }}

    <script src="{% static 'new/js/view-proj-rqd.js' %}"></script>
{% endblock %}