{% extends "new/layout.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="page-content__header mt-4">
              <!-- <div>
              <h2 class="page-content__header-heading">Dashboard</h2>
             
            </div> -->
           
          </div>

          <div class="page-content__header mt-4 bg-white">
            <div>
              <h2 class="page-content__header-heading">Show Projects</h2>
            
            </div>
            <div class="page-content__header-meta">
              <a href="{% url 'add_project' %}" class="btn btn-info icon-left">
                Add Projects <span class="btn-icon mdi mdi-plus-circle"></span>
              </a>
            </div>
          </div>
        
        
       
        <div class="card mt-1">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Total Projects
            </div>
            <div class="card-body">
                    <table class="table_head" id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>SN</th>
                            <th>ProjectName</th>
                            <th>ClientName</th>
                            <th>Status</th>
                            <th>Milestone1</th>
                            <th>Mile</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>#</th>
                            <th>ProjectName</th>
                            <th>ClientName</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for element in list_of_projects %}  
                            <tr>
                                <td scope="row">{{forloop.counter}}</td>
                                <td>{{element.name}}</td>
                                <td>{{element.client}}</td>
                                <td>{{element.status}}</td>
                                <td>{{element.milestone1}}</td>
                                <td>{{element.mile}}</td>
                                <td id="item_links">
                                    <a href="{% url 'alter_project' element.id %}"  style="text-decoration: none;color: darkslategrey;">
                                        <i class="fas fa-edit mx-2" title="Update" ></i>
                                    </a>
                                    <button type="button" style="border: none;outline: none;background: none;color: darkslategrey;"  data-bs-toggle="modal" data-bs-target="#exampleModal-{{element.id}}">
                                        <i class="fas fa-trash" title="Delete"></i>
                                    </button>
                                    
                                </td>
                            </tr>
                            <!-- Modal -->
                                <div class="modal fade" id="exampleModal-{{element.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Projects</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                        Are you sure, you want to delete {{element.name}}!
                                        </div>
                                        <div class="modal-footer">
                                        <form action="{% url 'delete_project' element.id %}" method="POST">
                                            {% csrf_token %}
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Delete</button>
                                        </form>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            {% endfor %}    
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}