{% load new_template_tags %}
{% load widget_tweaks %}
<div class="container">
    <div class="container  text-center">
        <form method="POST" action="{% url 'add_sprint' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <label for="InputName"  class="form-label">Name</label>
                    <input type="text" name="name" class="form-control" id="InputName">
                </div>
                <div class="col-md-6">
                    <input type="" hidden="true" name="board" value="{{ board.id }}" class="form-control" id="InputBoard">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="InputStart" class="form-label">Start Date</label>
                    <input type="date" name="start_date" class="form-control" id="InputStart">
                </div>
                <div class="col-md-6">
                    <label for="InputEnd" class="form-label">End Date</label>
                    <input type="date" name="end_date" class="form-control" id="InputEnd">
                </div>
            </div>
            <div align="center">
                <button class="btn btn-primary mt-2" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>