{% load static %}
<div class="row test_row">
    {% for section in section_list %}
 
             <div class="col-3" >
                     <div class="panel">
                         <div class="panel-heading">
                             <h3 class="panel-title">{{ section }}</h3>

                             <div class="dropdown">
                                 <button type="button" class="btn-link dropdown-toggle" data-toggle="dropdown">
                                     <i class="fa fa-ellipsis-v"></i>
                                 </button>

                                 <ul class="dropdown-menu">
                                     <li><a href="#"><i class="fa fa-sync"></i>Update Data</a></li>
                                     <li><a href="#"><i class="fa fa-times"></i>Remove Panel</a></li>
                                 </ul>
                             </div>
                         </div>

                         <div class="todo--panel">
                         
                             <form action="#">
                             

                                 <div class="input-group">
                                    {% for task in tasks %}
                                        {% if task.status == section %}
                                                <a href="#" data-toggle="modal" type="button" class="view_task" onclick="view_task('{{ task.id }}');" data-target="#viewTaskModal">
                                                    <div class="box_hvr">
                                                        <span style="float:left;font-size:17px">{{ task.title }}</span>
                                                            <ul class="list-unstyled">
                                                                <li>
                                                                    <a href="#" class="aattl">
                                                                        {% if task.task_type == 'Task' %}
                                                                        <img src="{% static 'new/assets/img/task-check.svg' %}" width="17" height="17"/> &nbsp;{{ task.slug_task }}
                                                                        {% elif task.task_type == 'Bug' %}
                                                                        <img src="{% static 'new/assets/img/bug.svg' %}" width="17" height="17"/>  {{ task.slug_task }}
                                                                        {% elif task.task_type == 'Story' %}
                                                                        <img src="{% static 'new/assets/img/story.svg' %}" width="17" height="17"/>  {{ task.slug_task }}
                                                                        {% elif task.task_type == 'Epic' %}
                                                                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/adonisjs/adonisjs-original.svg" width="17" height="17"/> &nbsp;{{ task.slug_task }}
                                                                        {% endif %}
                                                                    </a>
                                                                </li>
                                                                <li style="padding-left:15px;"><button id="task_delete" data-bs-toggle="modal" data-bs-target="#deleteModel" onclick="set_id_delete('{{ task.id }}')"><i class="fa fa-trash" aria-hidden="true" style="color: darkslategray;"></i></button></li>
                                                                <li style="padding-left:15px;"><a href="#">
                                                                    <img src="https://i2.wp.com/avatar-management--avatars.us-west-2.prod.public.atl-paas.net/initials/{{task.assigned.first_name.0.upper}}{{task.assigned.last_name.0.upper}}-3.png?ssl=1" title="{{task.assigned.first_name}} {{task.assigned.last_name}}" style=" width: 15%;"/></li>
                                                                <div class="text-dark" style="font-family:verdana">Priority - {{ task.priority }}</div>

                                                            </ul>
                                                    </div>
                                                </a>
                                        {% endif %}
                                    {% endfor %}
                                     
                                    {% if section == "ToDo" %}
                                        <div class="m-3 create_issue">
                                            <a href="#"  type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" >Create Issue <i class="fa fa-plus" style="color: blueviolet;"></i></a>
                                        </div>
                                    {% endif %}       
                                 </div>
                             </form>
                         </div>
                     </div>
                 </div>
 {% endfor %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.14.0/devicon.min.css">

</div>
