{% extends "new/layout.html" %}
{% load static %}
{% load widget_tweaks %}
{% load new_template_tags %}
{% block content %}
    <div class="container px-4" id="task_container">
        <div class="col-md-12 cus_rwe">
        <div class="mt-3 mb-3 d-inline-block">
            <form action="{% url 'task_board' %}" method="POST">
                {% csrf_token %}
                   <div class="d-inline-block">
                    <select class="form-select cus_txt" id="id_task_board" name="board_name" aria-label="Default select example">
                        <option disabled selected>Select Project</option>
                        {% for board in list_of_boards %}
                            <option value="{{ board.name }}" name="{{ board.id }}" {% if project_name == board.project.name %} selected {% endif %}>{{ board.project.name }}</option>
                        {% endfor %}
                    </select>
                   </div>
                    <div class="d-inline-block">
                        <input type="submit" class="btn-green btn btn-secondary ms-2" name="action" value="Show"></div>
            </form>

        </div>

        <div class="col-4 mt-3 mb-3 d-inline-block last_inpt ">
            {% if request.user.is_superuser or request.user.email|get_custom_role:request.user.email_id == 'project_manager' or request.user.email|get_custom_role:request.user.email_id == 'business_analyst' %}
                {% if can_run_resource_progress %}
                    <a href="{% url 'resource_progress' sprint.id %}" type="button" title="Suggested to click end of the Day" class="btn btn-success ">Reource Progress</a>
                {% endif %}
                <div class="d-inline-block">
                    <button id="is_addSprintBtn" class="btn btn-secondary" data-url="{% url 'add_sprint' %}" data-bs-toggle="modal" data-bs-target="#addSprintModel" >Add Sprint</button>
                </div>
               

            {% endif %}
        </div>
        <div class="col-3 d-inline-block">
            <div class=" header_user">
                <ul class="list-unstyled inline_li">
                  
                    <li><div class="cus_serch">  <input type="text" id="id_search" onkeydown="search_task()" autoComplete="on" name="search" value="" placeholder="Search.."></div></li>
                </ul>
            </div>
        </div>
    </div>
        {% comment %} Add Sprint on board pop up {% endcomment %}
        <div class="modal fade" id="addSprintModel" tabindex="-1" aria-labelledby="addSprintModelLable" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Sprint</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger " data-bs-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>

        {% if board_name %}

        <div class=" mt-2 col-md-12  tile_bxsh">
            <div class="row">
           <div class="col-6  col-md-6 ln_hgt"> 
            <h5 class="d-inline-block" id="board_name">{{ board_name }}</h5>
            {% if sprint %}
            <span class="badge bg-secondary text-wrap d-inline-block"> {{ sprint.name }}</span>
            <span class="badge bg-secondary text-wrap d-inline-block"> Start Date : {{ sprint.start_date }}</span>
            <span class="badge bg-secondary text-wrap d-inline-block"> End Date : {{ sprint.end_date }}</span>
            {% endif %}

        </div>
            <div class="header_user col-6 col-md-6">
                <ul class="list-unstyled">
                   
                    <li>
                        <div class="photo-container">
                            {% for res in resource_name %}
                                <a href="#">
                                    <div class="tooltip"><p id="{{res.initials}}" style="background-color:#1421bd;
                                        color: #fff;
                                        padding: 8px 10px 8px 10px;
                                        border-radius: 42px;" >{{res.initials}}</p>
                                        <span class="tooltiptext">{{ res.name }}</span>
                                      </div>
                                   
                                </a>
                            {% endfor %}
                        </div>
                    </li>
                 
                   
                </ul>
            </div>
        </div>
        </div>

        {% endif %}

           
                   <div class="abc mt-2" id="task_sections">
                    <div class="test_row">
                        {% for section in section_list %}

                                 <div class="col-3" >
                                         <div class="panel">
                                             <div class="panel-heading">
                                                 <h3 class="panel-title">{{ section }}</h3>
                                                <!-- Removed the dotted icons as -->
                                                 <!-- <div class="dropdown">
                                                     <button type="button" class="btn-link dropdown-toggle" data-toggle="dropdown">
                                                         <i class="fa fa-ellipsis-v"></i>
                                                     </button>

                                                     <ul class="dropdown-menu">
                                                         <li><a href="#"><i class="fa fa-sync"></i>Update Data</a></li>
                                                         <li><a href="#"><i class="fa fa-times"></i>Remove Panel</a></li>
                                                     </ul>
                                                 </div> -->
                                             </div>

                                             <div class="todo--panel">

                                                 <form action="#">

                                                     <div class="input-group">
                                                        {% for task in tasks %}
                                                            {% if task.status == section %}
                                                                    <a href="#" type="button" data-toggle="modal" onclick="view_task('{{ task.id }}');" class="view_task" data-target="#viewTaskModal">
                                                                        <div class="box_hvr task_search row">
                                                                            <span style="float:left;font-size:17px">{{ task.title }}</span>
                                                                            <ul class="list-unstyled">
                                                                                <li>
                                                                                    <a href="#" class="aattl">
                                                                                        {% if task.task_type == 'Task' %}
                                                                                        <img src="{% static 'new/assets/img/task-check.svg' %}" width="17" height="17"/> &nbsp;{{ task.slug_task }}
                                                                                        {% elif task.task_type == 'Bug' %}
                                                                                        <img src="{% static 'new/assets/img/bug.svg' %}" width="17" height="17"/>  {{ task.slug_task }}
                                                                                        {% elif task.task_type == 'Story' %}
                                                                                        <img src="{% static 'new/assets/img/story.svg' %}" width="17" height="17"/>  {{ task.slug_task }}
                                                                                        {% elif task.task_type == 'Epic' %}
                                                                                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/adonisjs/adonisjs-original.svg" width="17" height="17"/> &nbsp;{{ task.slug_task }}
                                                                                        {% endif %}
                                                                                    </a>
                                                                                </li>
                                                                                <li style="padding-left:15px;"><button id="task_delete" data-bs-toggle="modal" data-bs-target="#deleteModel" onclick="set_id_delete('{{ task.id }}')"><i class="fa fa-trash" aria-hidden="true" style="color: darkslategray;"></i></button></li>
                                                                                <li style="padding-left:15px;"><a href="#">
                                                                                    <img src="https://i2.wp.com/avatar-management--avatars.us-west-2.prod.public.atl-paas.net/initials/{{task.assigned.first_name.0.upper}}{{task.assigned.last_name.0.upper}}-3.png?ssl=1" title="{{task.assigned.first_name}} {{task.assigned.last_name}}" style=" width: 15%;"/></li>
                                                                                <div class="text-dark" style="font-family:verdana">Priority - {{ task.priority }}</div>
                                                                            </ul>
                                                                        </div>
                                                                    </a>
                                                            {% endif %}

                                                         {% endfor %}
                                                         {% if request.user.email|get_custom_role:request.user.email_id == 'client' %}

                                                         {% else %}
                                                            {% if section == "ToDo" %}
                                                                <div class="m-3 create_issue">
                                                                    <a href="#"  type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" >Create Issue <i class="fa fa-plus" style="color: blueviolet;"></i></a>
                                                                </div>

                                                            {% endif %}
                                                        {% endif %}
                                                     </div>
                                                 </form>
                                             </div>
                                         </div>
                                     </div>
                     {% endfor %}
                 </div>

                   </div>



                </div>

        <!--page content remmoved-->
    </div>
    <!-- CREATE TASK POP MODEL START -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="dialog" >
            <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">Create Task</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body mx-auto">
                    <form action="{% url 'task_board' %}" method="POST" enctype="multipart/form-data" id="task_form">
                        {% csrf_token %}
                    <div class="row">
                        <!-- {{ form }} -->
                        {% for field in form.visible_fields %}
                        <div class="col-6">
                            {% if field.label == "Slug task" %}
                                <div class="form-group mb-4 text-center d-none">
                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    {% render_field field class="form-control" %}
                                    {% for error in field.errors %}
                                    <span class="help-block text-danger form-error">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% elif field.label == "Task type" %}
                                <div class="form-group mb-4 text-center " id="task_type_box">
                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    {% render_field field class="form-control" %}
                                    {% for error in field.errors %}
                                    <span class="help-block text-danger form-error">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div class="form-group mb-4 text-center">
                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    {% render_field field class="form-control" %}
                                    {% for error in field.errors %}
                                    <span class="help-block text-danger form-error">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    <div align="center">
                        <button class="btn btn-primary mt-2" type="submit">Save</button>
                    </div>
                </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="start-0 btn btn-danger" data-bs-dismiss="modal">Close</button>

                </div>
              </div>
        </div>
    </div>
    <!-- CREATE TASK POP MODEL END -->
    <!-- VIEW TASK POP MENU START -->
    <div class="modal fade " id="viewTaskModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document" id="modelviewtask">
        <div class="modal-content">
        <div class="modal-header ">
        <div class="row" style="    width: 400px;">
            <div class="col-md-5">
                <h6 class="modal-title " id="exampleModalLabel">Add Leads Model

            </h6>

            </div>
            <div class="col-md-7">
                <div class="photo-container" style="margin: 0em !important;">
            <a href="#" class="aattl">
            <span>sp</span>
             &nbsp;WP-37
            <span>Test</span></a>
            </div>
            </div>
        </div>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

            <div class="row">
                <div class="col-md-8" style="    height: 300px;
        overflow: overlay;">
                    <div class="cus_headd"><input type="text" value="Task Management" class="form-control" onclick="shw_btnn()"/>

                    <div id="shw_chkk" class="shw_eght" style="display:none;">
                        <ul class="list-unstyled pull-right">
                            <li><a href="#"><i class="fa fa-check"></i></a></li>
                            <li><a href="#"><i class="fa fa-close"></i></a></li>
                        </ul>

                    </div>
                    </div>

                    <div class="rew_atch">
                        <ul class="list-unstyled">
                            <li style="width:123px;"><input type="file" class="form-control" /></li>
                            <li><a href="#myDiv" class="btn btn-light btnnn">Add a Child Issue</a></li>
                            <li><a href="#myDivlink" class="btn btn-light" style="    margin-left: 15px;">Link Issue</a></li>
                        </ul>

                    </div>
                    <div class="cus_points">
                        <h3>Descriptions</h3>


                            <div id="cmtt" style="display:block;">

                        <textarea onkeypress="cnt_hide()" onclick="cnt_hide()" value=""><ul>
                            <li> We need to create task management in the same way we manage here.</li>
                            <li>We will be creating this management with following task-</li>
                            <li>
    New Menu Boards will be created for all users - Client/SuperAdmin/Resource</li>
                            <li>The board page design will be as-
                            <img src='' width='400' height='400' /></li>
                            <li>Model Design</li>
                            <li>Task Overview</li>
                        </ul> </textarea>
                        </div>
                        <div id="editorw" style="display:none;">
                    <textarea name="content01" class="ck_editor_txt" id="ckeditor01">Content here </textarea>


                    <button type="button" class="btn btn-secondary"  onclick="hide_edtrcnt()">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>

                    <div id="myDiv" class="card-issue">
                        <div class="row">
                            <div class="col-md-3">
                                <h4>Child issues</h4>
                            </div>
                            <div class="col-md-9">
                                    <div class="btn-group pull-right">
                                            <button class="btn btn-rounded btn-outline-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Label</button>

                                            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 30px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                <a href="#" class="dropdown-item">Dropdown Link</a>
                                                <a href="#" class="dropdown-item">Dropdown Link</a>
                                            </div>
                                        <a href="#" onclick="open_field()" class="cus_a"><i class="fa fa-plus"></i></a>
                                        </div>

                            </div>
                            <div class="col-md-12">
                                <div class=" mb-5">


                                    <div class="progress h-15px">
                                        <div class="progress-bar bg-green w-75">75%</div>
                                    </div>
                                </div>
                            </div>
                            <div class="box_ul">
                                <ul class="list-unstyled">
                                    <li class="li_hvr">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <i class="fa fa-plus"></i> <a href="#" class="task">WP-37</a> <a href="#" class="ttl">Design Dashboard Similar design</a>
                                            </div>
                                            <div class="col-md-2">
                                                <i class="fa fa-user"></i>
                                            <div class="btn-group pull-right">
                                            <button class="btn btn-rounded btn-outline-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Label</button>

                                            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 30px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                <a href="#" class="dropdown-item">Dropdown Link</a>
                                                <a href="#" class="dropdown-item">Dropdown Link</a>
                                            </div>
                                        </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="li_hvr">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <i class="fa fa-plus"></i> <a href="#" class="task">WP-37</a> <a href="#" class="ttl">Design Dashboard Similar design</a>
                                            </div>
                                            <div class="col-md-2">
                                                <i class="fa fa-user"></i>
                                            <div class="btn-group pull-right">
                                            <button class="btn btn-rounded btn-outline-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Label</button>

                                            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 30px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                <a href="#" class="dropdown-item">Dropdown Link</a>
                                                <a href="#" class="dropdown-item">Dropdown Link</a>
                                            </div>
                                        </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="li_hvr">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <i class="fa fa-plus"></i> <a href="#" class="task">WP-37</a> <a href="#" class="ttl">Design Dashboard Similar design</a>
                                            </div>
                                            <div class="col-md-2">
                                                <i class="fa fa-user"></i>
                                            <div class="btn-group pull-right">
                                            <button class="btn btn-rounded btn-outline-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Label</button>

                                            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 30px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                <a href="#" class="dropdown-item">Dropdown Link</a>
                                                <a href="#" class="dropdown-item">Dropdown Link</a>
                                            </div>
                                        </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="li_hvr">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <i class="fa fa-plus"></i> <a href="#" class="task">WP-37</a> <a href="#" class="ttl">Design Dashboard Similar design</a>
                                            </div>
                                            <div class="col-md-2">
                                                <i class="fa fa-user"></i>
                                            <div class="btn-group pull-right">
                                            <button class="btn btn-rounded btn-outline-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Label</button>

                                            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 30px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                <a href="#" class="dropdown-item">Dropdown Link</a>
                                                <a href="#" class="dropdown-item">Dropdown Link</a>
                                            </div>
                                        </div>
                                            </div>
                                        </div>
                                    </li>

                                    <div id="cus_filed" style="display:none;">
                                        <input type="text" class="form-control" onkeypress="show_btn()" placeholder="what needs to be done?"/>


                                        <button type="button" class="btn btn-secondary pull-right m-1" onclick="hde_btn()">Cancel</button>
                                        <button type="button" class="btn btn-primary pull-right m-1" disabled="disable" id="shw" >Create</button>

                                    </div>

                                </ul>
                            </div>
                        </div>




                    </div>
                    <div id="myDivlink">
                        web link
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="drp">
                        <div class="btn-group">
                                            <button class="btn btn-rounded btn-outline-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">In Progress</button>

                                            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 30px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                <a href="#" class="dropdown-item">Dropdown Link</a>
                                                <a href="#" class="dropdown-item">Dropdown Link</a>
                                            </div>
                                        </div>
                    </div>


                                    <div id="accordion01" class="mt-3">
                                        <!-- Card Start -->
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="h5">
                                                    <button class="btn btn-link collapse-icon" data-toggle="collapse" data-target="#collapse01">Details</button>
                                                </h5>
                                            </div>

                                            <div id="collapse01" class="collapse show" data-parent="#accordion01">
                                                <div class="card-body">
                                                    <table class="table table-borderless cus_tbl">
                                                    <tr>

                                                        <td>Assignee</td>
                                                        <td class="tbl_hvr"><i class="fa fa-user"></i>Unassigned</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Labels</td>
                                                        <td class="tbl_hvr">None</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Start date</td>
                                                        <td class="tbl_hvr">None</td>
                                                    </tr>
                                                        <tr>
                                                        <td>Due date</td>
                                                        <td class="tbl_hvr"> None</td>
                                                    </tr>
                                                        <tr>
                                                        <td>Development</td>
                                                        <td class="tbl_hvr">Create Branch</td>
                                                    </tr>
                                                        <tr>
                                                        <td>Reporter</td>
                                                        <td class="tbl_hvr">Ajay Rana</td>
                                                    </tr>
                                                        <tr>
                                                            <td>
                                                                Zoom
                                                            </td>
                                                            <td class="tbl_hvr"> Open Zoom</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Card End -->





                                    </div>



                </div>

                    <div  class="col-md-8 cus_txteditor" >
                        <div id="cmt" style="display:block;">
                        <input type="text" class="form-control"  placeholder="Add a connect" onkeypress="text_hide()" onclick="text_hide()"/>
                        </div>
                        <div id="editor" style="display:none;">
                    <textarea name="content1" class="ck_editor_txt" id="ckeditor1">Use Editor</textarea>


                    <button type="button" class="btn btn-secondary"  onclick="hide_edtr()">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
            </div>
                </div>
            </div>
        </div>

        </div>
    </div>
    </div>
    <!-- TASK VIEW POP END -->
    <!-- DELELTE MODEL VIEW START -->
    <div class="modal fade" tabindex="-1" id="deleteModel">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Are you sure,you want to delete this task</p>
              <p id="delete_task_id"></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-danger" onclick="delete_task()" >Delete</button>
            </div>
          </div>
        </div>
    </div>
    <!-- Modal for add Button -->
                            <div class="modal fade" id="popmodel" tabindex="-1" aria-labelledby="add" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="add">Add Resource</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
    <!--End-->
    <!-- DELETE MODEL VIEW END -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/12.3.1/classic/ckeditor.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.14.0/devicon.min.css">

    <script>
        $(document).ready(function(){
            var frm = $("#task_form");
            frm.submit(function(){
                for (instance in CKEDITOR.instances) {
                    CKEDITOR.instances[instance].updateElement();
                }
                $("#exampleModal").modal("hide");
                $.ajax({

                    type: $(this).attr("method"),
                    url: $(this).attr("action"),
                    data: $(this).serialize(),

                    success: function(data){

                        $("div#task_sections").html(data.data);
                        frm.trigger("reset");
                    },
                    error: function(data){
                        alert("form invalid..!");
                    }
                });
                return false;
            });

        });

    </script>

{% endblock %}