{% load static %}
<ul class="list-unstyled">
{% for comment in task_comment %}
    <li class="mt-3 row">
        <div class="align-items-center">
            <img class="mr-3" src="https://i2.wp.com/avatar-management--avatars.us-west-2.prod.public.atl-paas.net/initials/{{comment.resource.first_name.0.upper}}{{comment.resource.last_name.0.upper}}-2.png?ssl=1" style=" width: 30px;"/>
            <b>{{comment.resource.first_name}} {{comment.resource.last_name}}</b>&nbsp &nbsp &nbsp{{comment.created_at}}
        </div>
    </li>
    <li class="mx-4">

        {% comment %} edit comment box  {% endcomment %}

        <div id="comment_editor_div_{{comment.id}}" class="comment" style="display:none;">
            <input id="edit_comment_input_{{comment.id}}" type="text" value="{{comment.comment}}" />
            <button onclick="change_commit({{task.id}},{{comment.id}},'edit')" type="button" class="btn btn-sm btn-primary">Save</button>
            <button onclick="hide_comment_box({{comment.id}})" type="button" class="btn btn-sm btn-secondary">Cancel</button>
        </div>
            
        {% comment %} end edit and start Comment box {% endcomment %}

        <div id="id_comment_div_{{comment.id}}">
            {{comment.comment}}
            {% if comment.resource == current_user %}
                <button onclick="comment_box({{comment.id}});" type="button" class="btn btn-link btn-sm text-decoration-none mr-3 ml-5 ">Edit</button>
                <button onclick="change_commit({{task.id}},{{comment.id}},'delete')" type="button" class="btn btn-sm btn-link text-decoration-none">Delete</button>
            {% endif %}
        </div>
        {% comment %} end comment box {% endcomment %}
    </li>
{% endfor %}
</ul>
<script type="text/javascript" src="{% static 'new/js/ck.js' %} "></script>

