{% extends "new/layout.html" %}
{% load static %}
{% load widget_tweaks %}
{% load new_template_tags %}

{% block content %}

<div class="modal-content">
    <div class="modal-header ">
    <div class="row" style="    width: 400px;">
        <div class="col-md-7">
            <div class="photo-container" style="margin: 0em !important;">
        <a href="#" class="aattl">
        {% if task.task_type == 'Task' %}
        <img src="{% static 'new/assets/img/task-check.svg' %}" width="17" height="17"/> &nbsp;{{ task.slug_task }}
        {% elif task.task_type == 'Bug' %}
        <img src="{% static 'new/assets/img/bug.svg' %}" width="17" height="17"/>  {{ task.slug_task }}
        {% elif task.task_type == 'Story' %}
        <img src="{% static 'new/assets/img/story.svg' %}" width="17" height="17"/>  {{ task.slug_task }}
        {% elif task.task_type == 'Epic' %}
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/adonisjs/adonisjs-original.svg" width="17" height="17"/> &nbsp;{{ task.slug_task }}
        {% endif %}
        <span>Task</span></a>
        </div>
        </div>
    </div>
    </div>
    <div class="modal-body">
        
        <div class="row">
            <div class="col-md-8" style="    height: 300px;
    overflow: overlay;">
                <div class="cus_headd"><input type="text" id="taskTitleId" value="{{ task.title }}" class="form-control" onclick="shw_btnn()"/>
                
                <div id="shw_chkk" class="shw_eght" style="display:none;">
                    <ul class="list-unstyled pull-right">
                        <li><a href="#" style="float:right; margin:4px;"><i class="fa fa-check-square fa-lg UpdateTitle" title="title" data-action="update_title" data-id="{{ task.id }}"></i></a></li>
                        <li><a href="#" style="float:right; margin:4px;"><i class="fas fa-window-close fa-lg" onclick="hello_h()"></i></a></li>
                    </ul>
                    
                </div>
                </div>
            
                <div class="rew_atch">
                    <ul class="list-unstyled">
                        <li style="width:123px;"><input type="file" class="form-control" /></li>
                        <li><a href="#myDiv" class="btn btn-light btnnn">Add a Child Issue</a></li>
                        
                    </ul>
                
                </div>
                <div class="cus_points">
                    <h3>Description</h3>
                        <div id="cmtt" style="display:block;">
                            <div onclick="cnt_hide();" id="TaskDescription">
                                {{ task.description | safe }}
                            </div>
                        </div>
                    <div id="editorw" style="display:none;">
                        <textarea name="ckeditor0" class="ck_editor_txt" id="ckeditor0" data-action="update_description" data-id="{{ task.id }}">{{ task.description }}</textarea>
                            <button type="button" class="btn btn-secondary" onclick="cnt_hide()">Close</button>
                            <button type="button" onclick="cnt_hide()" class="btn btn-primary UpdateTitle" data-action="update_description" data-id="{{ task.id }}">Save changes</button>
                    </div>
                
                </div>
                
                <div id="myDiv" class="card-issue">
                    <div class="row">
                        <div class="col-md-3">
                            <h4>Child issues</h4>
                        </div>
                        <div class="col-md-9">
                                <div class="btn-group pull-right">
                                        <button class="btn btn-rounded btn-outline-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Label</button>
                                        
                                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 30px, 0px); top: 0px; left: 0px; will-change: transform;">
                                            <a href="#" class="dropdown-item">Dropdown Link</a>
                                            <a href="#" class="dropdown-item">Dropdown Link</a>
                                        </div>
                                    <a href="#" onclick="open_field()" class="cus_a"><i class="fa fa-plus"></i></a>  
                                    </div>
                                
                        </div>
                        <div class="col-md-12">
                            <div class=" mb-5">
                                

                                <div class="progress h-15px">
                                    <div class="progress-bar bg-green w-75">75%</div>
                                </div>
                            </div>
                        </div>
                        <div class="box_ul">
                            <ul class="list-unstyled">
<!--                                <li class="li_hvr">-->
<!--                                    <div class="row">-->
<!--                                        <div class="col-md-10">-->
<!--                                            <i class="fa fa-plus"></i> <a href="#" class="task">WP-37</a> <a href="#" class="ttl">Design Dashboard Similar design</a>-->
<!--                                        </div>-->
<!--                                        <div class="col-md-2">-->
<!--                                            <i class="fa fa-user"></i>-->
<!--                                        <div class="btn-group pull-right">-->
<!--                                        <button class="btn btn-rounded btn-outline-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Label</button>-->
<!--                                        -->
<!--                                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 30px, 0px); top: 0px; left: 0px; will-change: transform;">-->
<!--                                            <a href="#" class="dropdown-item">Dropdown Link</a>-->
<!--                                            <a href="#" class="dropdown-item">Dropdown Link</a>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </li>-->
<!--                                <li class="li_hvr">-->
<!--                                    <div class="row">-->
<!--                                        <div class="col-md-10">-->
<!--                                            <i class="fa fa-plus"></i> <a href="#" class="task">WP-37</a> <a href="#" class="ttl">Design Dashboard Similar design</a>-->
<!--                                        </div>-->
<!--                                        <div class="col-md-2">-->
<!--                                            <i class="fa fa-user"></i>-->
<!--                                        <div class="btn-group pull-right">-->
<!--                                        <button class="btn btn-rounded btn-outline-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Label</button>-->
<!--                                        -->
<!--                                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 30px, 0px); top: 0px; left: 0px; will-change: transform;">-->
<!--                                            <a href="#" class="dropdown-item">Dropdown Link</a>-->
<!--                                            <a href="#" class="dropdown-item">Dropdown Link</a>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </li>-->
<!--                                <li class="li_hvr">-->
<!--                                    <div class="row">-->
<!--                                        <div class="col-md-10">-->
<!--                                            <i class="fa fa-plus"></i> <a href="#" class="task">WP-37</a> <a href="#" class="ttl">Design Dashboard Similar design</a>-->
<!--                                        </div>-->
<!--                                        <div class="col-md-2">-->
<!--                                            <i class="fa fa-user"></i>-->
<!--                                        <div class="btn-group pull-right">-->
<!--                                        <button class="btn btn-rounded btn-outline-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Label</button>-->
<!--                                        -->
<!--                                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 30px, 0px); top: 0px; left: 0px; will-change: transform;">-->
<!--                                            <a href="#" class="dropdown-item">Dropdown Link</a>-->
<!--                                            <a href="#" class="dropdown-item">Dropdown Link</a>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </li>-->
<!--                                <li class="li_hvr">-->
<!--                                    <div class="row">-->
<!--                                        <div class="col-md-10">-->
<!--                                            <i class="fa fa-plus"></i> <a href="#" class="task">WP-37</a> <a href="#" class="ttl">Design Dashboard Similar design</a>-->
<!--                                        </div>-->
<!--                                        <div class="col-md-2">-->
<!--                                            <i class="fa fa-user"></i>-->
<!--                                        <div class="btn-group pull-right">-->
<!--                                        <button class="btn btn-rounded btn-outline-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Label</button>-->
<!--                                        -->
<!--                                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 30px, 0px); top: 0px; left: 0px; will-change: transform;">-->
<!--                                            <a href="#" class="dropdown-item">Dropdown Link</a>-->
<!--                                            <a href="#" class="dropdown-item">Dropdown Link</a>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </li>-->
                            
                                <div id="cus_filed" style="display:none;">
                                    <input type="text" class="form-control" onkeypress="show_btn()" placeholder="what needs to be done?"/>
                                    
                                    
                                    <button type="button" class="btn btn-secondary pull-right m-1" onclick="hde_btn()">Cancel</button>
                                    <button type="button" class="btn btn-primary pull-right m-1" disabled="disable" id="shw" >Create</button>
        
                                </div>
                            
                            </ul>
                        </div>
                    </div>
                
                
                </div>
            </div>
            <div class="col-md-4">
                <div class="drp">
                    <div class="btn-group" >
                        <button id="updateStatus" class="btn btn-rounded btn-outline-primary btn-sm dropdown-toggle" title="status" data-toggle="dropdown" aria-expanded="false" data-action="update_status" data-id="{{ task.id }}">{{ task.status }}</button>
                            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 30px, 0px); top: 0px; left: 0px; will-change: transform;">
                                <a href="#" class="dropdown-item UpdateTitle"  title="status" data-action="update_status" data-id="{{ task.id }}" data-status="ToDo">ToDo</a>
                                <a href="#" class="dropdown-item UpdateTitle" title="status" data-action="update_status" data-id="{{ task.id }}" data-status="In-Progress">In-Progress</a>
                                <a href="#" class="dropdown-item UpdateTitle" title="status" data-action="update_status" data-id="{{ task.id }}" data-status="In-Review">In-Review</a>
                                <a href="#" class="dropdown-item UpdateTitle" title="status" data-action="update_status" data-id="{{ task.id }}" data-status="Re-Work">Re-Work</a>
                                <a href="#" class="dropdown-item UpdateTitle" title="status" data-action="update_status" data-id="{{ task.id }}" data-status="Done">Done</a>

                            </div>
                    </div>
                </div>
                                <div id="accordion01" class="mt-3">
                                    <!-- Card Start -->
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="h5">
                                                <button class="btn btn-link collapse-icon" data-toggle="collapse" data-target="#collapse01">Details</button>
                                            </h5>
                                        </div>

                                        <div id="collapse01" class="collapse show" data-parent="#accordion01">
                                            <div class="card-body">
                                                <table class="table table-borderless cus_tbl">
                                                <tr>

                                                    <td>Assignee</td>
                                                    <td class="tbl_hvr">
                                                        <div class="btn-group">
                                                        <button id="TaskAssigned" class="btn btn-rounded btn-outline-primary btn-sm dropdown-toggle" title="assigned" data-toggle="dropdown" aria-expanded="false" data-action="update_assigned" data-id="{{ task.id }}"><i class="fa fa-user ms-1"></i> {{ task.assigned }}</button>
                                                            <div class="dropdown-menu"  x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 30px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                                {% for assigned in resource %}
                                                                    <a href="#" class="dropdown-item UpdateTitle" title="assigned"  data-action="update_assigned" data-id="{{ task.id }}" data-resource-id="{{ assigned.id }}" data-resource-name="<i class='fa fa-user ms-1'></i>{{ assigned.first_name }}"><i class="fa fa-user ms-1"></i> {{ assigned }}</a>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    </td>
                                                    </tr>
                                                <tr>
                                                    <td>Labels</td>
                                                    <td class="tbl_hvr">
                                                        <input id="task_labels" title="labels" value="{{ task.label }}" onclick="shw_butt()" style="border:none"/>
                                                        <div id="show_check" class="shw_eght" style="display:none;">
                                                            <ul class="list-unstyled pull-right">
                                                                <li><a href="#" style="float:right; margin:4px;"><i class="fa fa-check-square fa-lg UpdateTitle" title="labels" data-action="update_labels" data-id="{{ task.id }}"></i></a></li>
                                                                <li><a href="#" style="float:right; margin:4px;"><i class="fas fa-window-close fa-lg" onclick="hello_h()"></i></a></li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Start date</td>
                                                    <td class="tbl_hvr">
                                                        <input type="date" id="task_start_date" title="start_date" value="{{ task.start_date|date:'yy-m-d'  }}" onclick="start_btn()" style="border:none"/>
                                                        <div id="show_start" class="shw_eght" style="display:none;">
                                                            <ul class="list_unstyled pull-right">
                                                                <a href="#" style="float:right; margin:4px;"><i class="fa fa-check-square fa-lg UpdateTitle" title="start_date" data-action="update_start_date" data-id="{{ task.id }}"></i></a>
                                                                <a href="#" style="float:right; margin:4px;"><i class="fas fa-window-close fa-lg UpdateTitle" onclick="hello_h()"></i></a>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                                    <tr>
                                                    <td>Due date</td>
                                                    <td class="tbl_hvr">
                                                        <input type="date" id="task_end_date" title="end_date" value="{{ task.end_date|date:'yy-m-d' }}" onclick="end_btn()" style="border:none"/>
                                                        <div id="show_end" class="shw_eght" style="display:none;">
                                                            <ul class="list_unstyled pull-right">
                                                                <a href="#" style="float:right; margin:4px;"><i class="fa fa-check-square fa-lg UpdateTitle" title="end_date" data-action="update_end_date" data-id="{{ task.id }}"></i></a>
                                                                <a href="#" style="float:right; margin:4px;"><i class="fas fa-window-close fa-lg UpdateTitle" onclick="hello_h()"></i></a>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                                    <tr>
                                                    <td>Development</td>
                                                    <td class="tbl_hvr">Create Branch</td>
                                                </tr>
                                                    <tr>
                                                    <td>Reporter</td>
                                                    <td class="tbl_hvr">
                                                        {{ task.reporting}}
                                                    </td>
                                                </tr>
                                                    <tr>
                                                        <td>
                                                            Zoom
                                                        </td>
                                                        <td class="tbl_hvr"> Open Zoom</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Story Hour
                                                        </td>
                                                        <td>
                                                            <div class="col-md-4">
                                                                <div class="drp">
                                                                    <div class="btn-group" >
                                                                        <button id="updateStoryHour" class="btn btn-rounded btn-outline-primary btn-sm dropdown-toggle" title="story_hour" data-toggle="dropdown" aria-expanded="false" data-action="update_story_hour" data-id="{{ task.id }}" style="border:none">{{ task.story_hour }}</button>
                                                                            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 30px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                                                <a href="#" class="dropdown-item UpdateTitle"  title="story_hour" data-action="update_story_hour" data-id="{{ task.id }}" data-story_hour='1'>1</a>
                                                                                <a href="#" class="dropdown-item UpdateTitle" title="story_hour" data-action="update_story_hour" data-id="{{ task.id }}" data-story_hour="2">2</a>
                                                                                <a href="#" class="dropdown-item UpdateTitle" title="story_hour" data-action="update_story_hour" data-id="{{ task.id }}" data-story_hour="3">3</a>
                                                                                <a href="#" class="dropdown-item UpdateTitle" title="story_hour" data-action="update_story_hour" data-id="{{ task.id }}" data-story_hour="5">5</a>
                                                                                <a href="#" class="dropdown-item UpdateTitle" title="story_hour" data-action="update_story_hour" data-id="{{ task.id }}" data-story_hour="8">8</a>
                                                                                <a href="#" class="dropdown-item UpdateTitle" title="story_hour" data-action="update_story_hour" data-id="{{ task.id }}" data-story_hour="13">13</a>
                                                                            </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Card End -->





                                </div>



            </div>
            
                <div  class="col-md-8 cus_txteditor" >
                    <div id="cmt" style="display:block;">
                        <input type="text" class="form-control"  placeholder="Add a Comment" onkeypress="text_hide()" onclick="text_hide()"/>
                    </div>
                    <div id="editor" style="display:none;">
                        <div>
                            <input id="ghfghf" class="form-control" placeholder="Write message here"></input>
                        </div>
                    <button type="button" class="btn btn-secondary mt-3"  onclick="hide_edtr()">Close</button>
                    <button type="button" class="btn ml-2 btn-primary mt-3" onclick="add_commit({{task.id}}); hide_edtr();" >Save changes</button>
                </div>
        
        
        <div id="taskComment" class="container bg-light mt-2 overflow-auto" style="max-height: 300px;">
            {% if comments %}
                <ul class="list-unstyled">
                    {% for comment in comments %}
                        <li class="mt-3 row">
                            <div class="align-items-center">
                                <img class="mr-3" src="https://i2.wp.com/avatar-management--avatars.us-west-2.prod.public.atl-paas.net/initials/{{comment.resource.first_name.0.upper}}{{comment.resource.last_name.0.upper}}-2.png?ssl=1" style=" width: 30px;"/>
                                <b>{{comment.resource.first_name}} {{comment.resource.last_name}}</b>&nbsp &nbsp &nbsp{{comment.created_at}}
                            </div>
                        </li>
                        <li class="mx-4">

                            {% comment %} edit comment box  {% endcomment %}

                            <div id="comment_editor_div_{{comment.id}}" class="comment" style="display:none;">
                                <input id="edit_comment_input_{{comment.id}}" type="text" value="{{comment.comment}}" />
                                <button onclick="change_commit({{task.id}},{{comment.id}},'edit')" type="button" class="btn btn-sm btn-primary">Save</button>
                                <button onclick="hide_comment_box({{comment.id}})" type="button" class="btn btn-sm btn-secondary">Cancel</button>
                            </div>
                                
                            {% comment %} end edit  {% endcomment %}

                            <div id="id_comment_div_{{comment.id}}">
                                {{comment.comment}}
                                {% if comment.resource == current_user %}
                                    <button onclick="comment_box({{comment.id}});" type="button" class="btn btn-link btn-sm text-decoration-none mr-3 ml-5 ">Edit</button>
                                    <button onclick="change_commit({{task.id}},{{comment.id}},'delete')" type="button" class="btn btn-sm btn-link text-decoration-none">Delete</button>
                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'new/js/ck.js' %} "></script>

</div>




    
    <script src="{% static 'new/js/jquery.min.js' %}"></script>
    <script src="{% static 'new/js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/12.3.1/classic/ckeditor.js"></script>
    <script type="text/javascript" src="{% static 'new/js/ck.js' %} "></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.14.0/devicon.min.css">
    
    
    
    
{% endblock %}