{% extends "new/layout.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="page-content__header mt-4">
            <div>
              <h2 class="page-content__header-heading">Dashboard</h2>
             
            </div>
           
          </div>

          <div class="page-content__header mt-4 bg-white">
            <div>
              <h2 class="page-content__header-heading">Job Applicant Detail</h2>
            
            </div>
            <div class="page-content__header-meta">
             
            </div>
          </div>
       
        <div class="card mt-3">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Job Applicant List
            </div>
            <div class="card-body">
                <table class="table table_head" id="datatablesSimple">
                    <thead>
                        <tr>
                          <th scope="col">SN</th>
                          <th scope="col">Name</th>
                          <th scope="col">Email</th>
                          <th scope="col">Phone No</th>
                          <th scope="col">Post</th>
                          <th scope="col">Hiring</th>
                          <th scope="col">Experience</th>
                          <th scope="col">Positions</th>
                          <th scope="col">Roles</th>
                          <th scope="col">Message</th>
                          <th scope="col">file</th>
                        </tr>
                    </thead><hr/>
                    <tbody>
                        {% for applicant in applicants %}
                            <tr>
                                <td scope="row">{{forloop.counter}}</td>
                                <td>{{applicant.first_name}}{{applicant.last_name}}</td>
                                <td>{{applicant.email}}</td>
                                <td>{{applicant.phone_no}}</td>
                                <td>{{applicant.post}}</td>
                                <td>{{applicant.hire}}</td>
                                <td>{{applicant.experience}}</td>
                                <td>{{applicant.positions}}</td>
                                <td>{{applicant.roles}}</td>
                                <td>{{applicant.message}}</td>
                                <td>{{applicant.file}}</td>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}