{% extends "new/layout.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="page-content__header mt-4">
            <div>
              <h2 class="page-content__header-heading">Dashboard</h2>
             
            </div>
           
          </div>

          <div class="page-content__header mt-4 bg-white">
            <div>
              <h2 class="page-content__header-heading">Subscriber Detail</h2>
            
            </div>
            <div class="page-content__header-meta">
             
            </div>
          </div>

        
        <div class="card mt-3">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Subscriber List
            </div>
            <div class="card-body">
                <table class="table table_head" id="datatablesSimple">
                    <thead>
                        <tr>
                          <th scope="col">SN</th>
                          <th scope="col">Email</th>
                        </tr>
                    </thead><hr/>
                    <tbody>
                        {% for applicant in applicants %}
                            <tr>
                                <td scope="row">{{forloop.counter}}</td>
                                <td>{{applicant.email}}</td>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}